<!DOCTYPE html>
<html>
    <head>
        <title>Acme Store Bundle Pages</title>
    </head>
    <body>
        <h1>{{ page_title }}</h1>

	{% for prod in products %}
		{% if prod.id %}
			<p>ID: {{ prod.id }}</p>
			<p>Name: {{ prod.name }}</p>
			<p>Price: {{ prod.price }}</p>
			<p>Description: {{ prod.description }}</p>
			
		{% else %}
			<p>No product found with id: {{ id }}</p>
		{% endif %}
	{% endfor %}
    </body>
</html>