{# src/IMDC/TerpTubeBundle/Resources/views/Form/fields.html.twig #}

{% block button_widget %}
	{% spaceless %}
	    {% if label is empty %}
	        {% set label = name|humanize %}
	    {% endif %}

	    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain) }}</button>
	{% endspaceless %}
{% endblock button_widget %}

{% block submit_widget %}
	{% spaceless %}
	    {% set type = type|default('submit') %}

	    {{ block('button_widget') }}
	{% endspaceless %}
{% endblock submit_widget %}

{% extends 'form_div_layout.html.twig' %}

{% block file_widget %}
    {% spaceless %}
	    {{ block('form_widget') }}

	    {% if image_url is not null %}
	        <img src="{{ asset(image_url) }}"/>
	    {% endif %}
    {% endspaceless %}
{% endblock %}
