{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% if tab == 'inbox' %}
    {% set title = 'Inbox' %}
    {% set colspan = 6 %}
{% elseif tab == 'sent' %}
    {% set title = 'Sent Messages' %}
    {% set colspan = 4 %}
{% elseif tab == 'archive' %}
    {% set title = 'Archived Messages' %}
    {% set colspan = 5 %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <hr class="tt-separator-top" />
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p>
                    <a class="btn btn-default" href="{{ path('imdc_message_new') }}"><i class="fa fa-plus"></i> Create New Message</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <ul class="nav nav-tabs" role="tablist">
                    <li{% if tab == 'inbox' %} class="active"{% endif %}><a href="{{ path('imdc_message_inbox') }}">Inbox</a></li>
                    <li{% if tab == 'sent' %} class="active"{% endif %}><a href="{{ path('imdc_message_sent') }}">Sent</a></li>
                    <li{% if tab == 'archive' %} class="active"{% endif %}><a href="{{ path('imdc_message_archive') }}">Archive</a></li>
                </ul>
                <div class="table-responsive">
                    <table class="table table-bordered table-hover tt-message-table">
                        <thead>
                            {% if tab != 'sent' %}
                                <th><i class="fa fa-wrench"></i> Tools</th>
                                {% if tab != 'archive' %}<th>Read</th>{% endif %}
                            {% endif %}
                            <th>{% if tab == 'inbox' %}From{% else %}To{% endif %}</th>
                            <th>Subject</th>
                            <th>Content</th>
                            <th>Sent</th>
                        </thead>
                        <tbody>
                            {% if messages|length > 0 %}
                                {% for message in messages %}
                                    {% set msgread = app.user.getReadMessages.contains(message) %}
                                    <tr{% if not msgread %} class="active"{% endif %}>
                                        {% if tab != 'sent' %}
                                            <!-- tools -->
                                            <td>
                                                <div class="text-center">
                                                    <a class="btn btn-danger btn-xs" href="{{ path('imdc_message_delete', {'messageid': message.id}) }}"><i class="fa fa-trash-o"></i> Delete</a>
                                                    <a class="btn btn-default btn-xs" href="{{ path('imdc_message_archive_message', {'messageid': message.id}) }}"><i class="fa fa-archive"></i> Archive</a>
                                                </div>
                                            </td>
                                            {% if tab != 'archive' %}
                                                <!-- read -->
                                                <td>
                                                    {% if msgread %}
                                                        <img src="{{ asset('bundles/imdcterptube/img/user_notification_icon_message.jpg') }}" /> Read
                                                    {% else %}
                                                        <img src="{{ asset('bundles/imdcterptube/img/user_notification_icon_message_on.jpg') }}" /> Unread
                                                    {% endif %}
                                                </td>
                                            {% endif %}
                                        {% endif %}
                                        <!-- from/to -->
                                        <td>
                                            {% if tab == 'inbox' %}
                                                <a href="{{ path('imdc_profile_user', {'userName': message.owner}) }}">{{ message.owner }}</a>
                                            {% else %}
                                                {% for recpt in message.recipients %}
                                                    <a href="{{ path('imdc_profile_user', {'userName': recpt}) }}">{{ recpt }}</a>
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                        <!-- subject -->
                                        <td>
                                            <a href="{{ path('imdc_message_view', {'messageid': message.id}) }}">{{ message.subject }}</a>
                                        </td>
                                        <!-- content -->
                                        <td>
                                            <a href="{{ path('imdc_message_view', {'messageid': message.id}) }}">{{ message.content|truncate(50) }}</a>
                                        </td>
                                        <!-- sent -->
                                        <td>{{ message.sentDate|date('g:ia M j') }}</td>
                                    </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="{{ colspan }}">
                                        <div class="text-center">No messages</div>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
                <hr class="tt-separator-bottom" />
            </div>
        </div>
    </div>
{% endblock content %}
