{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}
{% block stylesheets %}
    {{  parent() }}
    <link href="{{ asset('bundles/imdcterptube/css/recentActivity.css') }}" rel="stylesheet" />
{% endblock stylesheets %}


{% block flashmessages %}
	{% for type, messages in app.session.flashbag.all() %}
	<div class="row-fluid">
	    <div class="span9">
		{% for key, message in messages %}
		    {% if type=='info' %}
    		    <div class="flash-{{ type }} text-info">
            {% elseif type=='error' %}
                <div class="flash-{{ type }} text-error">
            {% elseif type=='success' %}
                <div class="flash-{{ type }} text-success">
            {% else %}
                <div class="flash-{{ type }} text-warning">
		    {% endif %}
       		        {{ message|trans }}
                </div>
      	{% endfor %}
      	</div> <!-- ./span9 -->
  	</div> <!-- ./row-fluid -->
   	{% endfor %}
{% endblock flashmessages %}

{% block herounit %}
<h1>Welcome to TerpTube</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
{% if threads|length > 0 %}

	<h3>New Topics</h3>
	{% include 'IMDCTerpTubeBundle:Thread:threadThumbnailVerticalPrototype.html.twig' %}

{% endif %}
<div>
{% endblock underherounitrow1 %}


{% block underherounitrow2 %}
{% if posts|length > 0 %}
	<h3>New Posts</h3>
	{% include 'IMDCTerpTubeBundle:Post:postthumbnailprototype.html.twig' %}

{% endif %}
{% if forums|length > 0 %}
<div class="row-fluid">
    <h3>Recent Forum Activity</h3>
    {% include 'IMDCTerpTubeBundle:Forum:ForumThumbnail.html.twig' %}
</div>
{% endif %}
{% endblock underherounitrow2 %}