{% extends 'IMDCTerpTubeBundle:_Base:core.html.twig' %}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block base_content %}
    <div class="col-lg-1 center-block text-center tt-navbar-side">
        <div>
            <div {% block sidebarlinks_home %}{% endblock %}>
                <a href="{{ path('imdc_home_user_home') }}"><img class="img-responsive center-block" src="{{ asset('bundles/imdcterptube/img/global_nav_icon_home.png') }}" />Home</a>
            </div>
            <div {% block sidebarlinks_pages %}{% endblock %}>
                <a href="{{ path('imdc_forum_list') }}#"><img class="img-responsive center-block" src="{{ asset('bundles/imdcterptube/img/global_nav_icon_pages.png') }}" />Forums</a>
            </div>
        </div>
        <div>
            <div {% block sidebarlinks_groups %}{% endblock %}>
                <a href="{{ path('imdc_group_list') }}"><img class="img-responsive center-block" src="{{ asset('bundles/imdcterptube/img/global_nav_icon_pages.png') }}" />Groups</a>
            </div>
            <div {% block sidebarlinks_members %}{% endblock %}>
                <a href="{{ path('imdc_member_list') }}"><img class="img-responsive center-block" src="{{ asset('bundles/imdcterptube/img/global_nav_icon_member.png') }}" />Members</a>
            </div>
        </div>
        <div>
            <div {% block sidebarlinks_help %}{% endblock %}>
                <a href="#"><img class="img-responsive center-block" src="{{ asset('bundles/imdcterptube/img/global_nav_icon_help.png') }}" />Help</a>
            </div>
        </div>
    </div>
    <div class="col-lg-offset-1 col-lg-11">
        {% block flashmessages %}
            {% for type, messages in app.session.flashbag.all %}
                <div class="row">
                    <div class="col-md-12 tt-flash-message-container">
                        {% for key, message in messages %}
                            <span class="label label-{{ type }}">
                                {{ message|trans({}, 'FOSUserBundle') }}
                            </span>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        {% endblock flashmessages %}
        <div class="row">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
{% endblock base_content %}
