{% extends "IMDCTerpTubeBundle:Default:index.html.twig" %}
{% trans_default_domain 'IMDCTerpTubeBundle' %}
{% block herounit %}
<h1>{{ 'profile.edit.avatar.title'|trans }}</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
<form action="{{ path('imdc_terp_tube_user_avatar_edit', {'userName': app.user.username}) }}" {{ form_enctype(form) }} method="POST" >
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.avatar.submit'|trans }}" />
        <input type="button" value="{{ 'profile.edit.avatar.cancel'|trans }}" onClick="parent.location='{{ path('imdc_terp_tube_user_profile') }}'" />
    </div>
</form>

{% endblock underherounitrow1 %}
