{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'IMDCTerpTubeBundle' %}
{% block herounit %}
<h1>This is your Editable profile</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
{% for type, messages in app.session.flashbag.all() %}
	{% for key, message in messages %}
   		<div class="flash-{{ type }}">
        	{{ message|trans({}, 'FOSUserBundle') }}
        </div>
  	{% endfor %}
{% endfor %}
   	
<a href="{{ path('imdc_terp_tube_user_profile_change-password', {'userName': app.user.username}) }}" />{{ 'profile.edit.changePassword'|trans }}</a>

{{  form_start(form) }}
	{{ form_errors(form) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.middleName) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.textBio) }}
	{{ form_row(form.birthDate) }}
	{{ form_row(form.gender) }}
	{{ form_row(form.city) }}
	{{ form_row(form.country) }}
	{{ form_row(form.skypeName) }}
	{{ form_label(form.languages) }}
	{{ form_errors(form.languages) }}
	<div class="languages">
	<ul id="foss_user_profile_form_languages" data-delete-language-text='{{ "form.profile.language.delete"|trans }}' data-no-languages-text="{{ 'profile.show.languages.empty' |trans }}" data-prototype="{{ form_widget(form.languages.vars.prototype) | e }}">
	{% if form.languages and form.languages|length > 0 %}
		{% for language in form.languages %}
	   	 	<li>
	    	{{ form_errors(language) }}
	    	{{ form_widget(language) }}
	    	<a href="#" class="delete-language">{{ 'form.profile.language.delete'|trans }} </a>
	   		</li>
	    {% endfor %}
    {% else %}
    	<span id="no-languages"> {{ 'profile.show.languages.empty' |trans }}</span>
    {% endif %}
    </ul>
    <a href="#" id="add-another-language">{{ 'form.profile.language.add'|trans }} </a>
    </div>
    {{ form_row(form.interestedInMentoredByMentor) }}
    {{ form_row(form.interestedInMentoredByInterpreter) }}
    {{ form_row(form.interestedInMentoringSignLanguage) }}
    {{ form_row(form.interestedInMentoringInterpreter) }}
    {{ form_row(form.profileVisibleToPublic) }}
    {{ form_row (form._token) }}
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    <input type="button" value="{{ 'profile.edit.generic.cancel'|trans }}" onClick="parent.location='{{ path('imdc_terp_tube_user_profile') }}'" />
{{ form_end(form, {'render_rest': false}) }}
{% endblock underherounitrow1 %}

{% block javascripts %}
    {{ parent() }}
    <script type='text/javascript'>
    // keep track of how many language fields have been rendered and set up the text for the links
    $(document).ready(function() {
        $('#add-another-language').click(function(e) {
        	return addLanguage($(this));
        });
        $('.delete-language').click(function(e) {
        	return deleteLanguage($(this));
        });
    });
    </script>
    <script src="{{ asset('bundles/imdcterptube/js/profileEdit.js') }}"></script>
{% endblock javascripts %}
