{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'IMDCTerpTubeBundle' %}
{% block herounit %}
<h1>This is your Editable profile</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
{% for type, messages in app.session.flashbag.all() %}
		{% for key, message in messages %}
       		<div class="flash-{{ type }}">
            	{{ message|trans({}, 'FOSUserBundle') }}
            </div>
      	{% endfor %}
   	{% endfor %}
   	
<a href="{{ path('imdc_terp_tube_user_profile_change-password', {'userName': app.user.username}) }}" />{{ 'profile.edit.changePassword'|trans }}</a>

{{  form_start(form) }}
	{{ form_errors(form) }}
	{{ form_row(form.firstName) }}
	{{ form_row(form.middleName) }}
	{{ form_row(form.lastName) }}
	{{ form_row(form.textBio) }}
	{{ form_row(form.birthDate) }}
	{{ form_row(form.gender) }}
	{{ form_row(form.city) }}
	{{ form_row(form.country) }}
	{{ form_row(form.skypeName) }}
	{{ form_label(form.languages) }}
	{{ form_errors(form.languages) }}
	<div class="languages">
	<ul id="foss_user_profile_form_languages" data-prototype="{{ form_widget(form.languages.vars.prototype) | e }}">
	{% if form.languages and form.languages|length > 0 %}
		{% for language in form.languages %}
	   	 	<li>
	    	{{ form_errors(language) }}
	    	{{ form_widget(language) }}
	    	<a href="#" class="delete-language">{{ 'form.profile.language.delete'|trans }} </a>
	   		</li>
	    {% endfor %}
    {% else %}
    	<span id="no-languages"> {{ 'profile.show.languages.empty' |trans }}</span>
    {% endif %}
    </ul>
    <a href="#" id="add-another-language">{{ 'form.profile.language.add'|trans }} </a>
    </div>
    {{ form_row(form.interestedInMentoredByMentor) }}
    {{ form_row(form.interestedInMentoredByInterpreter) }}
    {{ form_row(form.interestedInMentoringSignLanguage) }}
    {{ form_row(form.interestedInMentoringInterpreter) }}
    {{ form_row (form._token) }}
    {{ form_row(form.submit) }}
{{ form_end(form, {'render_rest': false}) }}
<script type="text/javascript">
    // keep track of how many language fields have been rendered
    var languageCount = '{{ form.languages | length }}';

    $(document).ready(function() {
        $('#add-another-language').click(function(e) {
        	e.preventDefault();
        	$('#no-languages').remove();
            var languageList = $('#foss_user_profile_form_languages');

            // grab the prototype template
            var newWidget = languageList.attr('data-prototype');
            // replace the "__name__" used in the id and name of the prototype
            // with a number that's unique to your emails
            // end name attribute looks like name="contact[emails][2]"
            deleteButton = $('<a href="#" class="delete-language"></a>').html('{{ "form.profile.language.delete"|trans }}');
            $(deleteButton).click(function(e){
            	return deleteLanguage($(this));
                });
            newWidget = newWidget.replace(/__name__/g,languageCount);
            languageCount++;

            // create a new list element and add it to the list
            var newLi = $('<li></li>').html(newWidget);
            newLi.appendTo($('#foss_user_profile_form_languages'));
			deleteButton.appendTo($(newLi));
            return false;
        });
        $('.delete-language').click(function(e) {
        	return deleteLanguage($(this));
        });
    });
	function deleteLanguage (currentElement)
	{
		console.log($(currentElement));
	    $(currentElement).parent().remove();
	    console.log($('#foss_user_profile_form_languages > li').length);
	    if ($('#foss_user_profile_form_languages > li').length == 0)
	    {
	    	var noLanguages= $('<span id="no-languages"></span>').html("{{ 'profile.show.languages.empty' |trans }}");
			noLanguages.appendTo($('#foss_user_profile_form_languages'));
	    }
	    return false;
	}
</script>
{% endblock underherounitrow1 %}
