{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'IMDCTerpTubeBundle' %}


{% block stylesheets %}
    {{  parent() }}
    <link href="{{ asset('bundles/imdcterptube/css/profile.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block title %}{{ profile.firstName }}'s Profile {% endblock title %}

{% block herounit %}
<h1>This is {{ profile.firstName }} {{ profile.middleName }} {{ profile.lastName }}'s profile</h1>
{% endblock herounit %}

{% block underherounitrow1 %}

	{% for type, messages in app.session.flashbag.all() %}
		{% for key, message in messages %}
       		<div class="flash-{{ type }}">
            	{{ message|trans({}, 'FOSUserBundle') }}
            </div>
      	{% endfor %}
   	{% endfor %}
        <div>
            {% block fos_user_content %}
         {%		set gender = 'profile.show.gender.'~profile.gender %}   
		{% if app.user == user.userName %}
		<div class="link edit_profile"><a href="{{ path('imdc_terp_tube_user_profile_edit',{'userName': app.user}) }}">Edit</a></div>
		<div class="profile_field"><a class="avatar" href="{{ path('imdc_terp_tube_user_avatar_edit',{'userName': app.user}) }}"><img class="avatar" alt="avatar" title="{{ 'profile.show.ownAvatar'|trans }}" src="{{ profile.avatar ? asset(profile.avatar.getResource.getWebPath):asset('bundles/imdcterptube/img/no_avatar.jpg')}}" /></a></div>
		{% else %}
		<div class="profile_field"><img class="avatar" alt="avatar" src="{{ profile.avatar ? asset(profile.avatar.getResource.getWebPath):asset('bundles/imdcterptube/img/no_avatar.jpg')}}" /></div>
		{% endif %}
		<div class="profile_field"><span class="field_title">{{ 'profile.show.userName'|trans }}:</span><span class="field_value"> {{ user.username }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.profileVisibleToPublic.title'|trans }}:</span><span class="field_value"> {{ profile.getProfileVisibleToPublic is null?'form.generic.empty'|trans: profile.getProfileVisibleToPublic? 'form.generic.yes'|trans: 'form.generic.no'|trans }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.birthDate'|trans }}:</span><span class="field_value"> {{ profile.birthDate? profile.birthDate|date('Y-m-d'): 'form.profile.birthDate.empty'|trans }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.gender.title'|trans }}:</span><span class="field_value"> {{ gender |trans }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.city'|trans }}:</span><span class="field_value"> {{ profile.city}}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.country'|trans }}:</span><span class="field_value"> {{ profile.country | trans }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.skypeName'|trans }}:</span><span class="field_value"> {{ profile.skypeName }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.textBio'|trans }}:</span><span class="field_value"> {{ profile.textBio |trans }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.interestedInMentoredByMentor.title'|trans }}:</span><span class="field_value"> {{ profile.interestedInMentoredByMentor is null?'form.generic.empty'|trans: profile.interestedInMentoredByMentor? 'form.generic.yes'|trans: 'form.generic.no'|trans }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.interestedInMentoredByInterpreter.title'|trans }}:</span><span class="field_value"> {{ profile.interestedInMentoredByInterpreter is null?'form.generic.empty'|trans: profile.interestedInMentoredByInterpreter? 'form.generic.yes'|trans: 'form.generic.no'|trans  }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.interestedInMentoringSignLanguage.title'|trans }}:</span><span class="field_value"> {{ profile.interestedInMentoringSignLanguage is null?'form.generic.empty'|trans: profile.interestedInMentoringSignLanguage? 'form.generic.yes'|trans: 'form.generic.no'|trans  }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.interestedInMentoringInterpreter.title'|trans }}:</span><span class="field_value"> {{ profile.interestedInMentoringInterpreter  is null?'form.generic.empty'|trans: profile.interestedInMentoringInterpreter? 'form.generic.yes'|trans: 'form.generic.no'|trans  }}</span></div>
		<div class="profile_field"><span class="field_title">{{ 'profile.show.languages.title'|trans }}:</span>
		{% if profile.languages and profile.languages|length >0 %}
			<ul>
            {% for language in profile.languages %}
            <li>
            	<div class="profile_field_subtype"><span class="field_title">{{ 'form.profile.language.name'|trans }}</span><span class="field_value"> {{ language.name |trans }}</span> </div>        
            	<div class="profile_field_subtype"><span class="field_title">{{ 'form.profile.language.type.title'|trans }}</span><span class="field_value"> {{ ('form.profile.language.type.'~language.type) |trans }}</span></div>
            	<div class="profile_field_subtype"><span class="field_title">{{ 'form.profile.language.proficiency.title'|trans }}</span><span class="field_value"> {{ ('form.profile.language.proficiency.'~language.proficiency) |trans }}</span> </div>
            </li>
            {% endfor %}
            </ul>
      	{% else %}
        	<span class="field_value"> {{ 'profile.show.languages.empty' |trans }}</span>
        {% endif %}
            {% endblock fos_user_content %}
        </div>
        
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {% if app.user == user.userName %}
        
    {% else %}
        {% if app.user.isUserOnFriendsList(user) %}
            <div class="text-info">
                User is on your friends list  
            </div>
            <div class="text-warning">
                <a href="{{ path('imdc_remove_from_friends_list', {'userid':user.id} ) }}">Remove</a>
            </div>
        {% else %}
            <div>
                <a href="{{ path('imdc_add_to_friends_list', {'userid':user.id} ) }}">Add user to friends list</a>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
{% endblock underherounitrow2 %}
