{% extends "FOSUserBundle::layout.html.twig" %}
{% trans_default_domain 'IMDCTerpTubeBundle' %}


{% block stylesheets %}
    {{  parent() }}
    <link href="{{ asset('bundles/imdcterptube/css/profile.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block herounit %}
<h1>This is {{ profile.firstName }} {{ profile.middleName }} {{ profile.lastName }}'s profile</h1>
{% endblock herounit %}

{% block underherounitrow1 %}

	{% for type, messages in app.session.flashbag.all() %}
		{% for key, message in messages %}
       		<div class="flash-{{ type }}">
            	{{ message|trans({}, 'FOSUserBundle') }}
            </div>
      	{% endfor %}
   	{% endfor %}
        <div>
            {% block fos_user_content %}
         {%		set gender = 'profile.show.gender.'~profile.gender %}   
		{% if app.user == user.userName %}
		<p><a href="{{ path('imdc_terp_tube_user_profile_edit',{'userName': app.user}) }}">Edit</a></p>
		<p><a class="avatar" href="{{ path('imdc_terp_tube_user_avatar_edit',{'userName': app.user}) }}"><img class="avatar" alt="avatar" title="{{ 'profile.show.ownAvatar'|trans }}" src="{{ asset(profile.avatar.getResource.getWebPath) }}" /></a></p>
		{% endif %}
		<p>{{ 'profile.show.userName'|trans }}: {{ user.username }}</p>
		<p>{{ 'profile.show.birthDate'|trans }}: {{ profile.birthDate|date('Y-m-d') }}</p>
		<p>{{ 'profile.show.city'|trans }}: {{ profile.city}}</p>
		<p>{{ 'profile.show.country'|trans }}: {{ profile.country | country }}</p>
		<p>{{ 'profile.show.gender.title'|trans }}: {{ gender |trans }}</p>
            {% endblock fos_user_content %}
        </div>
        
{% endblock underherounitrow1 %}
