{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block title %}{{ profile.firstName }}'s Profile{% endblock title %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <p class="lead">{{ profile.firstName }} {{ profile.middleName }} {{ profile.lastName }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-4">
                <div class="row">
                    <div class="col-md-4 text-center">
                        <p><img class="img-responsive center-block tt-avatar" src="{{ profile.avatar ? asset(profile.avatar.getResource.getWebPath) : asset('bundles/imdcterptube/img/no_avatar.jpg')}}" /></p>
                        {% if app.user == user.userName %}
                            <a class="btn btn-default btn-sm"    href="{{ path('imdc_profile_edit_avatar', {'userName': app.user}) }}">Edit Avatar</a>
                        {% endif %}
                    </div>
                    <div class="col-md-8">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th>{{ 'profile.show.userName'|trans }}</th>
                                        <td>{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'profile.show.birthDate'|trans }}</th>
                                        <td>{{ profile.birthDate ? profile.birthDate|date('Y-m-d') : 'form.profile.birthDate.empty'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>Location</th>
                                        <td>{{ profile.city ~ ', ' ~ profile.country}}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'profile.show.skypeName'|trans }}</th>
                                        <td>{{ profile.skypeName }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'profile.show.postCount'|trans }}</th>
                                        <td>{{ user.postCount }}</td>
                                    </tr>
                                    <tr>
                                        <th>Publicly Visible Profile?</th>
                                        <td>{% if profile.profileVisibleToPublic %}Yes{% else %}No{% endif %}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>{{ profile.textBio }}</p>
                        {% if app.user != user.userName %}
                            <p>{% include 'IMDCTerpTubeBundle:Member:connectTools.html.twig' with {'member': user, 'faSize': 'fa-2x'} %}</p>
                        {% endif %}
                        {% if app.user == user.userName %}
                            <a class="btn btn-default" href="{{ path('imdc_profile_edit', {'userName': app.user}) }}">Edit Profile</a>
                            <a class="btn btn-default" href="{{ path('fos_user_change_password') }}">Change Password</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <!-- mentoring preferences -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">Mentoring</p>
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <tbody>
                                    <tr>
                                        <th>{{ 'profile.show.interestedInMentoredByMentor.title'|trans }}</th>
                                        <td>{{ profile.interestedInMentoredByMentor is null ? 'form.generic.empty'|trans : profile.interestedInMentoredByMentor ? 'form.generic.yes'|trans : 'form.generic.no'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'profile.show.interestedInMentoredByInterpreter.title'|trans }}</th>
                                        <td>{{ profile.interestedInMentoredByInterpreter is null ? 'form.generic.empty'|trans : profile.interestedInMentoredByInterpreter ? 'form.generic.yes'|trans : 'form.generic.no'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'profile.show.interestedInMentoringSignLanguage.title'|trans }}</th>
                                        <td>{{ profile.interestedInMentoringSignLanguage is null ? 'form.generic.empty'|trans : profile.interestedInMentoringSignLanguage ? 'form.generic.yes'|trans : 'form.generic.no'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'profile.show.interestedInMentoringInterpreter.title'|trans }}</th>
                                        <td>{{ profile.interestedInMentoringInterpreter is null ? 'form.generic.empty'|trans : profile.interestedInMentoringInterpreter ? 'form.generic.yes'|trans : 'form.generic.no'|trans }}</td>
                                    </tr>
                                    <tr>
                                        <th>{{ 'profile.show.interestedInMentoringMentor.title'|trans }}</th>
                                        <td>{{ profile.interestedInMentoringMentor is null ? 'form.generic.empty'|trans : profile.interestedInMentoringMentor ? 'form.generic.yes'|trans : 'form.generic.no'|trans }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- mentors -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">{{ 'profile.show.mentors.title'|trans }}</p>
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        {% if app.user == user.userName %}<th>Manage</th>{% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if user.mentorList|length > 0 %}
                                        {% for member in user.mentorList %}
                                            <tr>
                                                <td>{% include 'IMDCTerpTubeBundle:Member:username.html.twig' %}</td>
                                                {% if app.user == user.userName %}
                                                    <td><a class="btn btn-danger btn-xs" href="{{ path('imdc_member_mentor_remove', {'id': member.id}) }}">Remove</a></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="{% if app.user == user.userName %}2{% else %}1{% endif %}">
                                                <div class="text-center">{{ 'profile.show.mentors.empty'|trans }}</div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- mentees -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">{{ 'profile.show.mentees.title'|trans }}</p>
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>Username</th>
                                        {% if app.user == user.userName %}<th>Manage</th>{% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if user.menteeList|length > 0 %}
                                        {% for member in user.menteeList %}
                                            <tr>
                                                <td>{% include 'IMDCTerpTubeBundle:Member:username.html.twig' %}</td>
                                                {% if app.user == user.userName %}
                                                    <td><a class="btn btn-danger btn-xs" href="{{ path('imdc_member_mentee_remove', {'id': member.id}) }}">Remove</a></td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="{% if app.user == user.userName %}2{% else %}1{% endif %}">
                                                <div class="text-center">{{ 'profile.show.mentees.empty'|trans }}</div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- languages -->
                <div class="row">
                    <div class="col-md-12">
                        <p class="lead">{{ 'profile.show.languages.title'|trans }}</p>
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th>{{ 'form.profile.language.name'|trans }}</th>
                                        <th>{{ 'form.profile.language.type.title'|trans }}</th>
                                        <th>{{ 'form.profile.language.proficiency.title'|trans }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if profile.languages|length > 0 %}
                                        {% for language in profile.languages %}
                                            <tr>
                                                <td>{{ language.name|trans }}</td>
                                                <td>{{ ('form.profile.language.type.' ~ language.type)|trans }}</td>
                                                <td>{{ ('form.profile.language.proficiency.' ~ language.proficiency)|trans }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="3">
                                                <div class="text-center">{{ 'profile.show.languages.empty'|trans }}</div>
                                            </td>
                                        </tr>
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
