{% extends 'IMDCTerpTubeBundle:Default:basetemplate.html.twig' %}

{% block rightsidecontent -%}
	<div class="col-md-11">
	    <h2>Invitations</h2>

	    {% set activeInvitations = app.user.getNumActiveInvitations %}
	    {% if activeInvitations > 0 %}
	    	<h4>You have <span class="badge badge-success">{{ activeInvitations }}</span> invitation{{ activeInvitations==1 ? '' : 's' }} that need your attention!</h4>
	    {% endif %}

	    <div class="tabbable">
	        <ul class="nav nav-tabs">
	            <li class="active"><a href="#tab1" data-toggle="tab">Received Invitations</a></li>
	            <li><a href="#tab2" data-toggle="tab">Sent Invitations</a></li>
	        </ul>

	        <div class="tab-content">
	            <div class="tab-pane active" id="tab1">
	                <table class="table table-condensed table-hover table-striped">
		                {% set receivedInvitations = app.user.getReceivedInvitations %}
		                {% if receivedInvitations|length > 0 %}
		                    <tr>
								<th>Date received</th>
								<th>From</th>
								<th>Description</th>
								<th>Status</th>
								<th>Tools</th>
							</tr>
		                    {% for invitation in receivedInvitations %}
		                        <tr>
		                            <td>{{ time_diff(invitation.datecreated) }}</td>
		                            <td>{{ invitation.creator.getUserName }}</td>
		                            <td>
		                                {% if invitation.becomeMentor %}
		                                	{{ invitation.getCreator }} would like to you to be their mentor!
		                                {% elseif invitation.becomeMentee %}
		                                	{{ invitation.getCreator }} would like to mentor you!
		                                {% endif %}
		                            </td>
		                            <td>
		                                {% if invitation.isAccepted %}
		                                	<span class="label label-success"><i class="fa fa-check"></i> Accepted</span>
		                                {% elseif invitation.isDeclined %}
		                                	<span class="label"><i class="fa fa-times"></i> Declined</span>
		                                {% elseif not (invitation.isAccepted) and not (invitation.isDeclined) %}
		                                	<span class="label label-warning">Pending</span>
		                                {% endif %}
		                            </td>
		                            <td>
			                            {% if not invitation.isAccepted and not invitation.isDeclined %}
			                                <ul class="unstyled inline">
			                                    <li><a class="btn btn-success" href="{{ path('imdc_invitation_accept', {'id': invitation.id}) }}">Accept</a></li>
			                                    <li><a class="btn btn-danger" href="{{ path('imdc_invitation_decline', {'id': invitation.id}) }}">Decline</a></li>
			                                </ul>
			                            {% endif %}
		                            </td>
		                        </tr>
		                    {% endfor %}
		                {% endif %}
	                </table>
	            </div>

	            <div class="tab-pane" id="tab2">
	                <table class="table table-condensed table-hover table-striped">
		                {% set sentInvitations = app.user.getCreatedInvitations %}
		                {% if sentInvitations|length > 0 %}
		                    <tr>
								<th>Date sent</th>
								<th>Recipient</th>
								<th>Description</th>
								<th>Status</th>
								<th>Tools</th>
							</tr>
		                    {% for invitation in sentInvitations %}
		                        <tr>
		                            <td>{{ time_diff(invitation.datecreated) }}</td>
		                            <td>{{ invitation.recipient.getUserName }}</td>
		                            <td>
		                                {% if invitation.becomeMentor %}
		                                You asked {{ invitation.getRecipient }} to become your mentor
		                                {% elseif invitation.becomeMentee %}
		                                You asked {{ invitation.getRecipient }} if they want you as their mentor
		                                {% endif %}
		                            </td>
		                            <td>
		                                {% if invitation.isAccepted %}
		                                	<span class="label label-success"><i class="fa fa-check"></i> Accepted</span>
		                                {% elseif invitation.isDeclined %}
		                                	<span class="label">Declined</span>
		                                {% elseif invitation.isCancelled %}
		                                	<span class="label">Cancelled</span>
		                                {% elseif not invitation.isAccepted and not invitation.isDeclined %}
		                                	<span class="label label-warning">Pending...</span>
		                                {% endif %}
		                            </td>
		                            <td>
			                            {% if not invitation.isCancelled and not invitation.isAccepted and not invitation.isDeclined %}
			                                <a class="btn btn-warning" href="{{ path('imdc_invitation_cancel', {'id': invitation.id}) }}">Cancel</a>
			                            {% elseif not invitation.isAccepted and invitation.isCancelled %}
			                                <a class="btn btn-default" href="{{ path('imdc_invitation_reactivate', {'id': invitation.id}) }}">Re-activate</a>
			                            {% endif %}
		                            </td>
		                        </tr>
		                    {% endfor %}
		                {% endif %}
	                </table>
	            </div>
	        </div>
	    </div>
	</div>
{% endblock rightsidecontent %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/imdcterptube/js/invitations.js') }}"></script>
{% endblock javascripts %}
