{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% block title %}Edit Forum{% endblock title %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            require(['main'], function() {
                var forum = new $tt.Controller.Forum({page: $tt.Controller.Forum.Page.EDIT});
                forum.bindUIEvents();
            });
        });
    </script>
{% endblock header %}

{% block sidebarlinks_pages %}class="active"{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {% if forum.getTitleMedia[0] is defined %}
                    <div class="tt-media-element">
                        {% include 'IMDCTerpTubeBundle:Media:element.html.twig' with {'mediaFile': forum.getTitleMedia[0]} %}
                        <p>Change the media file for this forum (image, audio, video):</p>
                    </div>
                {% else %}
                    <p>Add a media file to this forum (image, audio, video):</p>
                {% endif %}
                {#{% include 'IMDCTerpTubeBundle:Media:chooserForm.html.twig' %}#}
                {{ form_widget(form.titleMedia) }}
                {{ form_row(form.titleText) }}
                {{ form_row(form.accessType) }}
                {{ form_row(form.group) }}
                <button class="btn btn-success"><i class="fa fa-check"></i> Save</button>
                <a class="btn btn-danger" href="{{ path('imdc_forum_view', {'forumid': forum.getId}) }}"><i class="fa fa-times"></i> Cancel</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{#{% block outside_body %}#}
    {#{{ parent() }}#}

    {#{% include 'IMDCTerpTubeBundle:Media:uploadForms.html.twig' %}#}
{#{% endblock outside_body %}#}
