{#
included by:
Forum:ForumThumbnail.html.twig
#}

{% block threadgrid %}
	{% set counter = 1 %}
    {% for forum in forums %}
		{% if counter != 1 or counter % 4 == 1 %}
			<div class="row">
				<ul class="list-unstyled thumbnails">
		{% endif %}

		<li>
			<div class="col-md-3">
				<a href="{{ path('imdc_forum_view_specific', {'forumid': forum.id} ) }}">
					<div class="thumbnail forumthumbnail text-center" style="min-height: 380px;">
						<p style="margin-top:10px;">
							{% if forum.titleMedia|length != 0 %}
								{% set mediaFile = forum.titleMedia[0] %}
							{% else %}
								{% set mediaFile = null %}
							{% endif %}

							{% if mediaFile != null %}
								{# mediatype 0 = image 1 = video 2 = audio 9 = other #}
								{% if mediaFile.type == 0 %}
									<img class="img-responsive forum-img-thumbnail" src="{{ asset(mediaFile.getResource.getWebPath) }}" />
								{% elseif mediaFile.type == 1 %}
									<video controls class="forum-video-thumbnail" preload="auto" style="width: 100%">
										<source src="{{ asset(mediaFile.getResource.getWebPathWebm) }}" />
										<source src="{{ asset(mediaFile.getResource.getWebPath) }}" />
									</video>
								{% elseif mediaFile.type == 2 %}
									<audio controls>
										<source src="{{ asset(mediaFile.getResource.getWebPath) }}" />
									</audio>
								{% endif %}
							{% else %}
								<div id="spacer" style="height: 50px;"></div>
							{% endif %}
						</p>

						<h3>{{ forum.titleText | truncate(20) }}</h3>
						{# <p><i class="fa fa-caret-right"></i> {{ forum.creator }}</p> #}
						<p><span class="badge badge-info">Topics: {{ forum.getPublicThreads()|length }}</span></p>
						{# <p>Last post: {{ forum.getLastActivity|date('g:ia M j, Y') }}</p> #}
						<p>Last activity: <span class="toolPop" title="{{ forum.getLastActivity|date('g:ia M j, Y') }}">{{ time_diff(forum.getLastActivity) }}</span></p>
						<p><span class="content-created-datetime-span">Created: {{ forum.creationDate|date('g:ia M j, Y') }}</span></p>
					</div>
				</a>
			</div>
		</li>

		{% if (counter != 0 and counter % 4 == 0) or counter == forums|length %}
				</ul>
			</div><!-- end row -->
		{% endif %}

		{% set counter = counter + 1 %}
	{% endfor %}
{% endblock threadgrid %}
