{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block stylesheets %}
    {{  parent() }}

    <link href="{{ asset('bundles/imdcterptube/css/forums.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block headerjavascripts %}
	{{ parent() }}

    <script src="{{ asset('bundles/imdcterptube/js/forum.js') }}"></script>
{% endblock headerjavascripts %}

{% block title %}Create a new Forum{% endblock title %}

{% block sidebarlinks_pages %}class="active"{% endblock %}

{% block herounit_wrap %}
	<div class="page-header">
	    <h1>Create a new Forum</h1>
	</div>
{% endblock herounit_wrap %}

{% block underherounitrow1 %}
	<div class="col-md-9">
		{# {{ form(form) }} #}

	    {{ form_start(form) }}
	        {{ form_errors(form) }}

	        Add a media file (audio, video, image) to this forum:<br />
			{{ include('IMDCTerpTubeBundle:AddFileGateway:mediaChooserForm.html.twig') }}
			{# <input type="textarea" disabled="true" id="file-textarea" /> #}
			{# {{ form_row(form.mediaID) }} #}
			{# {{ form_row(form.mediaIncluded) }} #}
	        {{ form_row(form.titleText, {'attr':{'class':'input-xxlarge'}}) }}
	        <div class="row">
	            {{ form_widget(form.submit) }}

	            <a id="forum-form-submit-button" class="btn btn-success" href="#"><i class="fa fa-check"></i> Submit</a>
	            <a id="forum-form-cancel-button" class="btn btn-danger" href="{{ path('imdc_home_user_home') }}"><i class="fa fa-times"></i> Cancel</a>
	        </div>
	    {{ form_end(form) }}
	</div>
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(document).ready(function() {
			forum = new Forum();
			//FIXME context
			context = forum;

			Forum.bindUIEvents(Forum.Page.NEW);
		});
	</script>
{% endblock javascripts %}

{% block postfooteroutsidebody %}
	{{ parent() }}

	<div id="uploadForms" style="display: none;">
		{% for form in uploadForms %}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		{% endfor %}
	</div>
{% endblock postfooteroutsidebody %}
