{#
included by:
_Forum:list.html.twig
_Home:index.html.twig
#}

{% for forum in forums %}
	{% if loop.index % 4 == 1 %}
		<div class="row">
			<ul class="list-unstyled">
	{% endif %}
	<li>
		<div class="col-md-3">
            <div class="thumbnail text-center tt-forum-thumbnail">
                <div class="col-md-1 pull-right">
                    {% include 'IMDCTerpTubeBundle:Base:permissionIcons.html.twig' with {'object': forum} %}
                </div>
                <div class="tt-media-element">
                    {% if forum.getTitleMedia[0] is defined %}
                        {% include 'IMDCTerpTubeBundle:Media:element.html.twig' with {'mediaFile': forum.getTitleMedia[0]} %}
                    {% else %}
                        <div style="height: 50px;"></div>
                    {% endif %}
                </div>
                <a href="{{ path('imdc_forum_view', {'forumid': forum.id} ) }}" title="{{ forum.titleText}}">
                    <h3>{{ forum.titleText|truncate(20) }}</h3>
                    {# <p><i class="fa fa-caret-right"></i> {{ forum.creator }}</p> #}
                    <p><span class="badge badge-info">Topics: {{ forumThreadCount[loop.index0] }}</span></p>
                    {# <p>Last post: {{ forum.getLastActivity|date('g:ia M j, Y') }}</p> #}
                    <p>Last activity: <span class="toolPop" title="{{ forum.getLastActivity|date('g:ia M j, Y') }}">{{ time_diff(forum.getLastActivity) }}</span></p>
                    <p><span class="tt-date">Created: {{ forum.creationDate|date('g:ia M j, Y') }}</span></p>
                </a>
            </div>
		</div>
	</li>
	{% if loop.index % 4 == 0 or loop.last %}
			</ul>
		</div>
	{% endif %}
{% endfor %}
