{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% use 'IMDCTerpTubeBundle:Media:blocks.html.twig' %}

{% block title %}{{ forum.titleText }}{% endblock %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            require(['main'], function() {
                var forum = new $tt.Controller.Forum({
                    page: $tt.Controller.Forum.Page.VIEW,
                    media: {{ mediaJson|json_encode|raw }}
                });
                forum.bindUIEvents();
            });
        });
    </script>
{% endblock header %}

{% block sidebarlinks_pages %}class="active"{% endblock %}

{% block content %}
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="{{ path('imdc_forum_list') }}">Forums</a></li>
			<li class="active">{{ forum.getTitleText|truncate(20) }}</li>
		</ol>
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				{% if mediaJson is defined and mediaJson|length > 0 %}
                    <div class="gallery-container"></div>
                {% else %}
					<p>No media</p>
				{% endif %}
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>{{ forum.titleText }}</h1>
				<h4>Created: {{ forum.getCreationDate|date('g:ia F j Y') }}</h4>
				<h5>Topics: {{ threads|length }}</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<p>
					<a class="btn btn-default" href="{{ path('imdc_thread_new', {'forumid': forum.id}) }}"><i class="fa fa-plus"></i> Create New Topic</a>
					{% if forum in app.user.getForums %}
						<a class="btn btn-default" href="{{ path('imdc_forum_edit', {'forumid': forum.id}) }}"><i class="fa fa-edit"></i> Edit Forum</a>
					{% endif %}
				</p>
			</div>
		</div>
		<!-- threads -->
		<div class="row">
			<div class="col-md-12">
				<img class="img-responsive center-block" src="" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr class="tt-separator-top" />
				{% if threads|length > 0 %}
                    {% set pagParams = threads.getParams %}
                    <div class="btn-group" style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Sort by
                            {% if threads.isSorted('t.lastPostAt') %}Last Post
                            {% elseif threads.isSorted('t.title') %}Title
                            {% elseif threads.isSorted('t.creationDate') %}Date Created
                            {% endif %}
                            {% if 'asc' in pagParams %}(ascending)
                            {% elseif 'desc' in pagParams %}(descending)
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>{{ knp_pagination_sortable(threads, 'Last Post', 't.lastPostAt') }}</li>
                            <li>{{ knp_pagination_sortable(threads, 'Title', 't.title') }}</li>
                            <li>{{ knp_pagination_sortable(threads, 'Date Created', 't.creationDate') }}</li>
                        </ul>
                    </div>
					{% include 'IMDCTerpTubeBundle:Thread:thumbnail.html.twig' %}
				{% else %}
					<p class="text-center" style="margin-bottom: 20px;">No topics</p>
				{% endif %}
				<hr class="tt-separator-bottom" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{ knp_pagination_render(threads) }}
			</div>
		</div>
	</div>
{% endblock content %}
