{% macro listUsers(style, users) %}
    {% import _self as _group %}

    {% if style == 'list' %}
        {{ _group.listUsersList(users) }}
    {% else %}
        {{ _group.listUsersGrid(users) }}
    {% endif %}
    <div class="text-center">{{ knp_pagination_render(users) }}</div>
{% endmacro %}

{% macro listUsersList(users) %}
    {% import 'IMDCTerpTubeBundle:Member:macros.html.twig' as _member %}

    <div class="table-responsive">
        <table class="table table-hover tt-list-table">
            <thead>
                <tr>
                    <th><input type="checkbox" class="group-toggle-selection" /></th>
                    <th>Username</th>
                    <th>Posts</th>
                    <th>Joined</th>
                </tr>
            </thead>
            <tbody>
                {% if users|length > 0 %}
                    {% for user in users %}
                        <tr>
                            <td><input type="checkbox" data-uid="{{ user.id }}" {% if user == app.user %}disabled{% endif %} /></td>
                            <td>
                                <span>{% include 'IMDCTerpTubeBundle:Member:username.html.twig' with {'member': user} %}{% if user == app.user %} <strong>(me)</strong>{% endif %}</span>
                                <span>{{ _member.connect_tools(app.user, user, 'button') }}</span>
                            </td>
                            <td>{{ user.postCount }}</td>
                            <td>{{ user.joinDate|date('M j Y') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="4"><div class="text-center">None found</div></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro listUsersGrid(users) %}
    <div class="tt-grid-div">
        {% if users|length > 0 %}
            {% include 'IMDCTerpTubeBundle:Member:thumbnail.html.twig' with {'members': users} %}
        {% else %}
            <p class="text-center" style="margin-bottom: 20px;">None found</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro controls(style, groupId) %}
    {% if style == 'grid' %}
        {% set style = 'list' %}
        {% set style_icon = 'fa-th-list' %}
    {% else %}
        {% set style = 'grid' %}
        {% set style_icon = 'fa-th-large' %}
    {% endif %}
    <a class="btn btn-default" href="{{ path('imdc_group_manage', {'groupId': groupId, 'style': style}) }}"><i class="fa {{ style_icon }}"></i></a>
{% endmacro %}
