{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% import 'IMDCTerpTubeBundle:Group:macros.html.twig' as _group %}

{% block title %}Manage Group Members{% endblock %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        require([
            'bootstrap',
            'model/groupModel', 'controller/groupController', 'views/group/manageView',
            'main'
        ], function(bootstrap, GroupModel, GroupController, GroupView) {
            bootstrap(
                    new GroupModel({{ group|serialize('json')|raw }}),
                    GroupController,
                    GroupView,
                    {
                        container: $('body')
                    }
            );
        });
    </script>
{% endblock header %}

{% block sidebarlinks_groups %}class="active"{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-default" href="{{ path('imdc_group_view', {'groupId': group.id}) }}">
                    <i class="fa fa-arrow-left"></i> Back to Group
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                {{ form(searchForm, {'attr': {'class': 'tt-group-manage-search-form'}}) }}
            </div>
        </div>
        {# used to persist the active tab between searches #}
        {% set active_tab = searchForm.active_tab.vars.value|default(activeTab) %}
        <ul class="nav nav-tabs" role="tablist">
            <li{% if active_tab == '#tabMembers' %} class="active"{% endif %}><a href="#tabMembers" role="tab" data-toggle="tab">Group Members</a></li>
            <li class="dropdown" role="presentation">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
                    My Contacts <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {# start: keep consistent with IMDCTerpTubeBundle:Contact:list.html.twig #}
                    <li><a href="#tabAll" data-toggle="tab">All Contacts</a></li>
                    <li><a href="#tabMentors" data-toggle="tab">Mentors</a></li>
                    <li><a href="#tabMentees" data-toggle="tab">Mentees</a></li>
                    <li><a href="#tabFriends" data-toggle="tab">Friends</a></li>
                    {# end: keep consistent with IMDCTerpTubeBundle:Contact:list.html.twig #}
                </ul>
            </li>
            <li{% if active_tab == '#tabCommunity' %} class="active"{% endif %}><a href="#tabCommunity" role="tab" data-toggle="tab">Community</a></li>
        </ul>
        <div class="tab-content" style="margin-top: 5px;">
            <div class="tab-pane{% if active_tab == '#tabMembers' %} active{% endif %}" id="tabMembers" data-type="remove">
                {{ _group.list_users(style, members, group.id) }}
            </div>
            <div class="tab-pane{% if active_tab == '#tabCommunity' %} active{% endif %}" id="tabCommunity">
                {{ _group.list_users(style, nonMembers, group.id) }}
            </div>
            {# start: keep consistent with IMDCTerpTubeBundle:Contact:list.html.twig #}
            <div class="tab-pane" id="tabAll">
                {{ _group.list_users(style, contacts.all, group.id) }}
            </div>
            <div class="tab-pane" id="tabMentors">
                {{ _group.list_users(style, contacts.mentors, group.id) }}
            </div>
            <div class="tab-pane" id="tabMentees">
                {{ _group.list_users(style, contacts.mentees, group.id) }}
            </div>
            <div class="tab-pane" id="tabFriends">
                {{ _group.list_users(style, contacts.friends, group.id) }}
            </div>
            {# end: keep consistent with IMDCTerpTubeBundle:Contact:list.html.twig #}
        </div>
        {{ form(removeForm) }}
        {{ form(addForm) }}
        <button class="btn btn-success group-remove" disabled data-loading-text="<i class=&quot;fa fa-spinner fa-spin&quot;></i> Removing members...">Remove Selected</button>
        <button class="btn btn-success group-add" disabled data-loading-text="<i class=&quot;fa fa-spinner fa-spin&quot;></i> Adding members...">Add Selected</button>
    </div>
{% endblock content %}
