{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% import 'IMDCTerpTubeBundle:Group:macros.html.twig' as _group %}

{% block title %}Manage Group Members{% endblock %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        require([
            'bootstrap',
            'controller/groupController', 'views/group/manageView',
            'main'
        ], function(bootstrap, GroupController, GroupView) {
            bootstrap(
                    {
                        id: {{ group.id }}
                    },
                    GroupController,
                    GroupView,
                    {
                        container: $('body')
                    }
            );
        });
    </script>
{% endblock header %}

{% block sidebarlinks_groups %}class="active"{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-default" href="{{ path('imdc_group_view', {'groupId': group.id}) }}">
                    <i class="fa fa-arrow-left"></i> Back to Group
                </a>
            </div>
            <div class="col-md-6">
                {{ form(searchForm, {'attr': {'class': 'tt-group-manage-search-form'}}) }}
            </div>
            <div class="col-md-3 text-right">
                {{ _group.controls(style, group.id) }}
            </div>
        </div>
        {# used to persist the active tab between searches #}
        {% set active_tab = searchForm.active_tab.vars.value|default(activeTab) %}
        <ul class="nav nav-tabs group-tabs" role="tablist">
            <li{% if active_tab == '#tab-members' %} class="active"{% endif %}><a href="#tab-members" role="tab" data-toggle="tab">Group Members</a></li>
            <li{% if active_tab == '#tab-community' %} class="active"{% endif %}><a href="#tab-community" role="tab" data-toggle="tab">Community</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane{% if active_tab == '#tab-members' %} active{% endif %}" id="tab-members">
                {{ _group.listUsers(style, members) }}
                {{ form(removeForm) }}
                <button class="btn btn-success group-remove" disabled data-loading-text="<i class=&quot;fa fa-spinner fa-spin&quot;></i> Removing members...">
                    <i class="fa fa-check"></i> Remove Selected
                </button>
            </div>
            <div class="tab-pane{% if active_tab == '#tab-community' %} active{% endif %}" id="tab-community">
                {{ _group.listUsers(style, nonMembers) }}
                {{ form(addForm) }}
                <button class="btn btn-success group-add" disabled data-loading-text="<i class=&quot;fa fa-spinner fa-spin&quot;></i> Adding members...">
                    <i class="fa fa-check"></i> Add Selected
                </button>
            </div>
        </div>
    </div>
{% endblock content %}
