{#
included by:
_Group:list.html.twig
_Home:index.html.twig
#}

{% import 'IMDCTerpTubeBundle:Media:macros.html.twig' as _media %}

<div class="tt-grid-div">
    {% for group in groups %}
        {% if loop.index % 4 == 1 %}
            <div class="row">
                <ul class="list-unstyled">
        {% endif %}
        <li>
            <div class="col-md-3">
                <div class="thumbnail text-center tt-grid-div-body">
                    <div class="tt-grid-div-thumbnail">
                        <a href="{{ path('imdc_group_view', {'groupId': group.getId}) }}">
                            {{ _media.element2(group.getMedia) }}
                        </a>
                        {{ _media.expand(group.getMedia) }}
                    </div>
                    <div class="tt-grid-div-primary">
                        <a href="{{ path('imdc_group_view', {'groupId': group.getId}) }}" title="{{ group.getName }}">
                            <span class="tt-title">{{ group.getName }}</span>
                        </a>
                        <p class="text-muted">
                            <i class="fa fa-user" title="Founder"></i> {{ group.getUserFounder.getUsername }}&ensp;
                            <i class="fa fa-users" title="Member count"></i> {{ group.getMembers|length }} members<br />
                            <i class="fa fa-clock-o" title="Date created"></i> {{ group.getDateCreated|date('M d Y h:i a') }}
                        </p>
                    </div>
                </div>
            </div>
        </li>
        {% if loop.index % 4 == 0 or loop.last %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
</div>
