{# src/IMDC/TerpTubeBundle/Resources/views/UserGroup/new.html.twig #}

{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block title %}New Group{% endblock title %}

{% block headerjavascripts %}
	{{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/imdcterptube/js/group.js') }}"></script>
{% endblock headerjavascripts %}

{% block herounit %}<h1>Create a new Group</h1>{% endblock herounit %}

{% block underherounitrow1 %}
	<div class="col-md-9">
		{{ form_start(form) }}
			<div class="row">
				<div class="col-xs-3">
					{{ form_row(form.name) }}
					{{ form_row(form.visibleToPublic) }}
					{{ form_row(form.visibleToRegisteredUsers) }}
					{{ form_row(form.openForNewMembers) }}
					{{ form_row(form.joinByInvitationOnly) }}
				</div>
			</div>

			<div class="row">
				<div class="col-md-6">
					<div class="well">
						<p>When you create a new Group, a Forum is automatically created for you with the same name</p>
						<p>Please add a media file (audio, video, image) to this forum, eg. a group logo or picture:</p>

						<div class="row" id="choose-media-wrap">
							<div class="col-md-12">
								<div class="form-group" style="margin-bottom: 0;">
									<a class="btn btn-primary" id="record-link" href="#"><i class="fa fa-video-camera"></i> {{ 'filesGateway.buttons.record'|trans }}</a>
									<!-- <a class="btn btn-primary" id="uploadFile" href="#"><i class="fa fa-upload"></i> {{ 'filesGateway.buttons.upload'|trans }}</a> -->
									<div class="btn-group">
										<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
											<i class="fa fa-upload"></i> {{ 'filesGateway.buttons.upload'|trans }} <span class="caret"></span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li id="upload-audio-link"><a href="#"><i class="fa fa-music"></i> {{ 'filesGateway.buttons.audio'|trans }}</a></li>
											<li id="upload-video-link"><a href="#"><i class="fa fa-film"></i> {{ 'filesGateway.buttons.video'|trans }}</a></li>
											<li id="upload-image-link"><a href="#"><i class="fa fa-picture-o"></i> {{ 'filesGateway.buttons.image'|trans }}</a></li>
											<li id="upload-other-link"><a href="#"><i class="fa fa-file-text"></i> {{ 'filesGateway.buttons.other'|trans }}</a></li>
										</ul>
									</div>
									<a class="btn btn-primary" id="selectFile" href="#"><i class="fa fa-folder-open"></i> {{ 'filesGateway.add.title'|trans }}</a>
								</div>
							</div>
						</div>

						<div class="row" id="selected-media-wrap" style="display: none;">
							<div class="col-md-12">
								<div class="hidden">
									{# {{ form_widget(form.mediatextarea, {'attr' : {'class':'input-mini', 'placeholder':'File ID'}}) }}{{ form_errors(form.mediatextarea) }} #}
									{{ form_widget(form.userGroupForum.mediatextarea, {'attr' : {'class':'input-mini', 'placeholder':'File ID'}}) }}{{ form_errors(form.userGroupForum.mediatextarea) }}
								</div>
								<div class="form-group" style="margin-bottom: 0;">
									<label>Selected Media</label>
									<div><span id="selectedMediaTitle" style="margin-right: 5px;"></span><a id="removeMedia" title="Remove Media"><i class="fa fa-times-circle"></i></a></div>
								</div>
								<div class="hidden">
									{{ form_row(form.userGroupForum.titleText, {'required': false}) }}
									{{ form_rest(form.userGroupForum) }}
								</div>
							</div>
						</div>

						<div id="files"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<a id="usergroup-form-submit-button" class="btn btn-success" href="#"><i class="fa fa-check"></i> Create New Group</a>
					<a id="usergroup-form-cancel-button" class="btn btn-danger" href="{{ path('imdc_home_user_home') }}"><i class="fa fa-times"></i> Cancel</a>
				</div>
			</div>

			<div class="hidden">{{ form_rest(form) }}</div>
		{{ form_end(form) }}
	</div>
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

{% block postfooteroutsidebody %}
	<div id="uploadForms" style="display: none;">
		{% for form in uploadForms %}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		{% endfor %}
	</div>
{% endblock postfooteroutsidebody %}
