{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block title %}{{usergroup.name}}{% endblock title %}

{% block herounit %}<h1>{{ usergroup.name }}</h1>{% endblock %}

{% block underherounitrow1 %}
<div class="col-md-10">
    {% if app.user == usergroup.userFounder %}
    <div class="row">
        <ul class="unstyled inline">
            <li><a href="#" class="btn">Edit</a></li>
            <li><a href="#" class="btn">Delete</a></li>
        </ul>
    </div>
    {% endif %}

    {% if app.user is not null and usergroup in app.user.getUserGroups %}
    <p><span class="label label-info">You are currently a member of this group</span></p>
    {% endif %}
    <p>Members: {{ usergroup.members|length }}</p>

    {% if usergroup.openForNewMembers and usergroup not in app.user.getUserGroups %}
    <p>
        <a class="btn btn-default" href="{{ path('imdc_group_join', {'usergroupid' : usergroup.id}) }}"><i class="fa fa-plus-circle"></i> Join group</a>
    </p>
    {% endif %}
    
    {% set members = usergroup.getMembers %}
    <ul class="thumbnails">
    {% for member in members if member.getProfile %}
        {% set profile = member.getProfile %}
        
        {% if loop.index % 4 == 1 %}
        <div class="row member-row">
        {% endif %}
            <li class="col-md-3">
                {{ include('IMDCTerpTubeBundle:Member:infoBlock.html.twig') }}
            </li>
        {% if loop.index % 4 == 0 %}
        </div>
        {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}
