{#
ajaxed by:
TerpTube.Controller.Thread
#}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

<div class="col-md-12" id="replyPostContainer{{ post.id }}">
	<div class="row">
		<div class="col-md-10 col-md-offset-2">
            {% set formpath = path('imdc_post_reply', {'pid': post.id}) %}
            {{ form_start(form, {'action' : "#{formpath}"}) }}
            {{ form_errors(form) }}
            {% include 'IMDCTerpTubeBundle:_Media:chooserForm.html.twig' with {'isPost': true, 'postId': post.id} %}
            {{ form_row(form.content, {'required': false, 'attr': {'class': 'autosize'}}) }}
            {{ form_widget(form.submit, {'attr': {'style': 'display: none;'}}) }}
            <button class="btn btn-success"><i class="fa fa-check"></i> Reply</button>
            <button class="btn btn-danger post-cancel" id="cancelReplyPost{{ post.id }}"><i class="fa fa-times"></i> Cancel</button>
            {{ form_end(form) }}
		</div>
	</div>
    {% include 'IMDCTerpTubeBundle:_Media:uploadForms.html.twig' with {'isPost': true, 'postId': post.id} %}
	<script type="text/javascript">
        var post = new $tt.Controller.Post();
        //FIXME context
        if (!context) context = post;
        contextPost = post;

        post.bindUIEvents($tt.Controller.Post.Page.REPLY, {{ post.id }});
	</script>
</div>
