{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block herounit %}
	<h1>{{ 'filesGateway.add.title'|trans }}</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
	{{ form_start(form) }}
	    {# goes here #}
	    Max upload size is: {{ getPHPMaxUploadSize() }}
	    {{ form_widget(form) }}
	    <div>
	        <input type="submit" value="{{ 'form.media.upload'|trans }}" />
	        <input type="button" value="{{ 'form.generic.cancel'|trans }}" onClick="parent.location='{{ path('imdc_profile_me') }}'" />
	    </div>
	{{ form_end(form) }}
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}
