{% trans_default_domain 'IMDCTerpTubeBundle' %}

{{ form_start(form, { 'attr':{ 'id': 'mediaUploadForm'} }) }}
    {{ form_widget(form) }}
    <div>
        <input type="button" value="{{ 'form.media.upload'|trans }}" onClick="submitForm()"/>
        <input type="button" value="{{ 'form.generic.cancel'|trans }}" onClick="parent.location='{{ path('imdc_terp_tube_user_profile') }}'" />
    </div>
{{ form_end(form) }}
<script type="text/javascript">
function submitForm()
{
	var uploadForm = $('#mediaUploadForm');
	var formData = new FormData(uploadForm[0]);
	console.log("Upload Started");
	mediaChooser.loadNextPage('{{ path(app.request.attributes.get('_route')) }}',formData, "POST"); 
}
</script>
