{% trans_default_domain 'IMDCTerpTubeBundle' %}

<div class="row-fluid">
	<a id="record-link" class="btn btn-primary" href="#"><i
		class="fa fa-video-camera"></i> {{ 'filesGateway.buttons.record'|trans
		}}</a> <a id="upload-audio-link" class="btn btn-primary" href="#"><i
		class="fa fa-music"></i> {{ 'filesGateway.buttons.audio'|trans }}</a>
	<a id="upload-video-link" class="btn btn-primary" href="#"><i
		class="fa fa-film"></i> {{ 'filesGateway.buttons.video'|trans }}</a> <a
		id="upload-image-link" class="btn btn-primary" href="#"><i
		class="fa fa-picture-o"></i> {{ 'filesGateway.buttons.image'|trans }}</a>
	<a id="upload-other-link" class="btn btn-primary" href="#"><i
		class="fa fa-file-text"></i> {{ 'filesGateway.buttons.other'|trans }}</a>
</div>

<div class="row-fluid">
	<div class="span-9">
		<table id="files-table"
			class="table table-condensed table-hover table-striped pmtable">
			<tr>
				<th><i class="fa fa-wrench"></i> Tools</th>
				<th>Name</th>
				<th>Type</th>
				<th>Created</th>
				<th>Size</th>
			</tr>
			{% if resourceFiles and resourceFiles|length >0 %} {% for
			resourceFile in resourceFiles %}
			<tr>
				<td>{% if resourceFile.getMetaData.getSize == -1 %} <a
					class="preview-button disabled" href='#'
					data-type="{{ resourceFile.type }}"
					data-url="{{ path('imdc_files_gateway_preview', {'mediaId': resourceFile.id}) }}"
					data-val="{{ resourceFile.id }}"><i class="fa fa-play-circle"></i>
						{{ 'filesGateway.previewLink'|trans }}</a> {% else %} <a
					class="preview-button" href='#' data-type="{{ resourceFile.type }}"
					data-url="{{ path('imdc_files_gateway_preview', {'mediaId': resourceFile.id}) }}"
					data-val="{{ resourceFile.id }}"><i class="fa fa-play-circle"></i>
						{{ 'filesGateway.previewLink'|trans }}</a> {% endif %} <a
					class="select-button" href="#" data-val="{{ resourceFile.id }}"><i
						class="fa fa-share"></i> Select</a>
				</td>
				<td>{{ resourceFile.title }}</td>
				<td>{{ ('filesGateway.type.'~resourceFile.type)|trans }}</td>
				<td>{{ resourceFile.getMetaData.getTimeUploaded|date('g:ia M j') }}</td>
				{% if resourceFile.getMetaData.getSize == -1 %}
				<td><i class="fa fa-spinner fa-spin fa-large"></i></td> {% else %}
				<td>{{ '%.2f' |format(resourceFile.getMetaData.getSize / 1024 /1024)
					}}MB</td> {% endif %}
			</tr>
			{% endfor %} {% else %}
			<tr>{{ 'filesGateway.noFiles'|trans }}
			</tr>
			{% endif %}
		</table>

	</div>
	<script type='text/javascript'>
        $('.preview-button').click(function(e) {
            if ($(this).hasClass('disabled'))
                return false;
            $('#preview').html('');
        	previewFileLink($(this), $('#preview'), true);
        	return false;
        });
        $('.select-button').click(function(e) {
            mediaChooser.terminatingFunction($(this).attr('data-val'));
        	return false;
        });
        $('#upload-audio-link').click(function(e) {
            mediaChooser.loadNextPage("{{ path('imdc_files_gateway_audio') }}", null );
        	return false;
        });
        $('#upload-video-link').click(function(e) {
            mediaChooser.loadNextPage("{{ path('imdc_files_gateway_video') }}", null);
        	return false;
        });
        $('#upload-image-link').click(function(e) {
            mediaChooser.loadNextPage("{{ path('imdc_files_gateway_image') }}", null);
        	return false;
        });
        $('#upload-other-link').click(function(e) {
            mediaChooser.loadNextPage("{{ path('imdc_files_gateway_other') }}", null);
        	return false;
        });
        $('#record-link').click(function(e) {
            var recorderConfiguration = {
                    forwardButtons:  ['<button class="forwardButton"></button>'], 
                    forwardFunctions: ["forwardFunction"], 
                    recordingSuccessFunction: "recordingSucceeded"};
//             mediaChooser.loadNextPage(mediaChooser.recordVideo($(this).attr('href'), recorderConfiguration), "Record");
			var data = {recorderConfiguration: recorderConfiguration};
			mediaChooser.loadNextPage("{{ path('imdc_files_gateway_record_media') }}", data);
        	return false;
        });

     function recordingSucceeded(data)
   	 {
   		 	var media = data['media'];
   		 	recordedMedia=media; 
//    		 	addMediaRow(recordedMedia);
   			console.log("Great success!!! Media id is: " +media['id']);
   	 }

   	 function forwardFunction()
   	 {
   			var mediaId = recordedMedia['id'];
   			console.log(mediaId);
  			var mediaURL = "{{ path('imdc_files_gateway_preview', {'mediaId': '-1'}) }}";
   			mediaURL = mediaURL.replace('-1',mediaId);
   			mediaChooser.loadMediaPage(mediaId, mediaURL);
   	 }
	</script>
	<div id="preview"></div>