{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}
{% trans_default_domain 'IMDCTerpTubeBundle' %}
{% block herounit %}
<h1>{{ 'addGateway.title'|trans }}</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
    <div>
        <input type="button" value="{{ 'filesGateway.buttons.audio'|trans }}" onClick="parent.location='{{ path('imdc_files_gateway_audio') }}'" />
        <input type="button" value="{{ 'filesGateway.buttons.video'|trans }}" onClick="parent.location='{{ path('imdc_files_gateway_video') }}'" />
        <input type="button" value="{{ 'filesGateway.buttons.image'|trans }}" onClick="parent.location='{{ path('imdc_files_gateway_image') }}'" />
        <input type="button" value="{{ 'filesGateway.buttons.record'|trans }}" onClick="parent.location='{{ path('imdc_files_gateway_record') }}'" />
        <input type="button" value="{{ 'filesGateway.buttons.other'|trans }}" onClick="parent.location='{{ path('imdc_files_gateway_other') }}'" />
    </div>

{% endblock underherounitrow1 %}
