{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% block title %}{{ forum.titleText }}{% endblock %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        require([
			'bootstrap',
			'model/forumModel', 'controller/forumController', 'views/forum/viewView',
			'main'
		], function(bootstrap, ForumModel, ForumController, ForumView) {
			bootstrap(
					new ForumModel({{ forum|serialize('json')|raw }}),
					ForumController,
					ForumView,
					{
						container: $('body')
					}
			);
		});
    </script>
{% endblock header %}

{% block sidebarlinks_forums %}class="active"{% endblock %}

{% block content %}
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="{{ path('imdc_forum_list') }}">Forums</a></li>
			<li class="active">{{ forum.getTitleText|truncate(20) }}</li>
		</ol>
		<div class="row">
			<div class="col-md-4">
				{% if forum.getTitleMedia|length > 0 %}
					<div class="forum-gallery" style="height: 250px; width: 100%;"></div>
                {% else %}
					<p>No media</p>
				{% endif %}
			</div>
			<div class="col-md-8">
				<h1>{{ forum.getTitleText }}</h1>
				<div class="row">
					<div class="col-xs-3">
						<table class="table">
							<tbody>
							<tr>
								<td>Topics</td>
								<td>{{ thread_count }}</td>
							</tr>
							<tr>
								<td>Created</td>
								<td>{{ forum.getCreationDate|date('M d Y h:i a') }}</td>
							</tr>
							</tbody>
						</table>
					</div>
					<div class="col-xs-9" style="border-left: 1px solid #dddddd;">
						<p>{{ forum.getDescription|default('<i>No Description</i>')|raw }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>
							<a class="btn btn-default" href="{{ path('imdc_thread_new', {'forumid': forum.id}) }}"><i class="fa fa-plus"></i> Create New Topic</a>
							{% if forum in app.user.getForums %}
								<a class="btn btn-default" href="{{ path('imdc_forum_edit', {'forumid': forum.id}) }}"><i class="fa fa-edit"></i> Edit Forum</a>
							{% endif %}
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- threads -->
		<div class="row">
			<div class="col-md-12">
				<img class="img-responsive center-block" src="" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<hr class="tt-separator-top" />
				{% if threads|length > 0 %}
                    {% set pagParams = threads.getParams %}
                    <div class="btn-group" style="margin-bottom: 10px;">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                            Sort by
                            {% if threads.isSorted('t.lastPostAt') %}Last Post
                            {% elseif threads.isSorted('t.title') %}Title
                            {% elseif threads.isSorted('t.creationDate') %}Date Created
                            {% endif %}
                            {% if 'asc' in pagParams %}(ascending)
                            {% elseif 'desc' in pagParams %}(descending)
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li>{{ knp_pagination_sortable(threads, 'Last Post', 't.lastPostAt') }}</li>
                            <li>{{ knp_pagination_sortable(threads, 'Title', 't.title') }}</li>
                            <li>{{ knp_pagination_sortable(threads, 'Date Created', 't.creationDate') }}</li>
                        </ul>
                    </div>
					{% include 'IMDCTerpTubeBundle:Thread:thumbnail.html.twig' %}
				{% else %}
					<p class="text-center" style="margin-bottom: 20px;">No topics</p>
				{% endif %}
				<hr class="tt-separator-bottom" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{ knp_pagination_render(threads) }}
			</div>
		</div>
	</div>
	{% if app.environment == 'test' %}
		<div style="display: none;">
			<div id="__testModel">{{ forum|serialize('json')|raw }}</div>
		</div>
	{% endif %}
{% endblock content %}
