{% extends 'IMDCTerpTubeBundle:_Base:base.html.twig' %}

{% block title %}Create a new Topic{% endblock title %}

{% if isNewFromMedia is not defined %}
    {% set isNewFromMedia = false %}
{% endif %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            require(['main'], function() {
                var thread = new $tt.Controller.Thread();
                //FIXME context
                context = thread;

                thread.bindUIEvents($tt.Controller.Thread.Page.NEW, {
                    showAutocompleteOnFocus: {% if app.user.getFriendsList|length >= 1 %}true{% else %}false{% endif %},
                    availableTags: [{{ app.user.getFriendsListAsUsernameString|raw }}]
                });
            });
        });
    </script>
{% endblock header %}

{% block sidebarlinks_pages %}class="active"{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {% if not isNewFromMedia %}
                    <p>Select a file (video, image, or audio) to be used as the title for your new Topic:</p>
                    {% include 'IMDCTerpTubeBundle:_Media:chooserForm.html.twig' %}
                {% else %}
                    {{ form_row(form.parentForum) }}
                    {{ form_row(form.mediaIncluded) }}
                    {% include 'IMDCTerpTubeBundle:_Media:element.html.twig' %}
                {% endif %}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                <div id="permissionRadioButtons">
                    {{ form_row(form.permissions.accessLevel) }}
                    {#{ form_widget(form.permissions.userFriendsWithAccess) }#}
                    {{ form_widget(form.permissions.usersWithAccess) }}
                    {{ form_widget(form.permissions.userGroupsWithAccess) }}
                </div>
                {{ form_widget(form.submit, {'attr': {'style': 'display: none;'}}) }}
                <button class="btn btn-success"><i class="fa fa-check"></i> Create</button>
                <a class="btn btn-danger" href="#" onclick="history.back();"><i class="fa fa-times"></i> Cancel</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}

{% block outside_body %}
    {{ parent() }}

    {% include 'IMDCTerpTubeBundle:_Media:uploadForms.html.twig' %}
{% endblock outside_body %}
