{% extends "IMDCTerpTubeBundle:Message:inbox.html.twig" %}
{% block title %}
Message Archive
{% endblock title %}
{% block herounit %}
    <h1>Message Archive</h1>
    <h2>Your archived messages appear below:</h2>
{% endblock herounit %}
{% block underherounitrow1 %}
    {% if app.session.flashbag.get('inbox') is defined %}
        {% for flashMessage in app.session.flashbag.get('inbox') %}
        <div class="flash-notice">
            <h4>{{ flashMessage }}</h4>
        </div>
        {% endfor %}
    {% endif %}
    {{ include('IMDCTerpTubeBundle:Message:inboxlist.html.twig') }}
    <h2>Sent Messages</h2>
    <div class="row-fluid">
        <div class="span3">
            <a href="{{ path('imdc_message_create') }}">Create new message</a>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span-9">
            <table class="messagetable archivedmessagetable">
                <tr><th>To</th><th>Subject</th><th>Content</th><th>Date Sent</th></tr>
                {% if messages %}
                    {% for message in messages %}
                    <tr>
                        <td>
                            <div class="message-recipient-wrap">
                                {% for recpt in message.recipients %}
                                    <a href="#">{{ recpt }} </a> 
                                {% endfor %}
                            </div>
                        </td>
                        <td>{{ message.subject }}</td>
                        <td>{{ message.content|truncate(50) }}</td>
                        <td>{{ message.sentDate|date('g:ia M j') }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>No messages yet</tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% endblock underherounitrow2 %}