{% extends "IMDCTerpTubeBundle:Message:inbox.html.twig" %}

{% block title %}Message Archive{% endblock title %}

{% block herounit_wrap %}
    <h1>Message Archive</h1>
    <h2>Your archived messages appear below:</h2>
{% endblock herounit_wrap %}

{% block underherounitrow1 %}
    {% if app.session.flashbag.get('inbox') is defined %}
        {% for flashMessage in app.session.flashbag.get('inbox') %}
        <div class="flash-notice">
            <h4>{{ flashMessage }}</h4>
        </div>
        {% endfor %}
    {% endif %}
    {{ include('IMDCTerpTubeBundle:Message:inboxlist.html.twig') }}
    <h2>Archived Messages</h2>
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary" href="{{ path('imdc_message_create') }}">
                <i class="fa fa-plus-circle fa-lg"></i> Create new message
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-9">
            <table class="table table-condensed table-hover table-striped messagetable archivedmessagetable">
                <tr><th>Tools</th><th>To</th><th>Subject</th><th>Content</th><th>Date Sent</th></tr>
                {% if messages %}
                    {% for message in messages %}
                    <tr>
                        <td>
                            <a href="{{ path('imdc_message_delete', {'messageid': message.id}) }}" data-val="{{ message.id }}"><i class="fa fa-trash-o"></i> Delete</a>
                        </td>
                        <td>
                            <div class="message-recipient-wrap">
                                <ul class="unstyled inline">
                                {% for recpt in message.recipients %}
                                    <li><a href="#">{{ recpt }} </a></li> 
                                {% endfor %}
                                </ul>
                            </div>
                        </td>
                        <!--  subject  -->
                        <td><a href="{{ path('imdc_message_view_message', {'messageid': message.id}) }}">{{ message.subject }}</a></td>
                        <!--  content  -->
                        <td><a href="{{ path('imdc_message_view_message', {'messageid': message.id}) }}">{{ message.content|truncate(50) }}</a></td>
                        <td>{{ message.sentDate|date('g:ia M j') }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>No messages yet</tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}
