{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block stylesheets %}
    {{  parent() }}

    <link href="{{ asset('bundles/imdcterptube/css/inbox.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block title %}Inbox{% endblock title %}

{% block herounit_wrap %}
    <h1>Inbox</h1>
{% endblock herounit_wrap %}

{% block underherounitrow1 %}
    {% if app.session.flashbag.get('inbox') is defined %}
        {% for flashMessage in app.session.flashbag.get('inbox') %}
        <div class="flash-notice text-info">
            <h4>{{ flashMessage }}</h4>
        </div>
        {% endfor %}
    {% endif %}
    {% block inboxlist %}
    {{ include('IMDCTerpTubeBundle:Message:inboxlist.html.twig') }}
    {% endblock inboxlist %}
    <h2>Private Messages</h2>
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-primary" href="{{ path('imdc_message_create') }}">
                <i class="fa fa-plus-circle fa-lg"></i> Create new message
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-9">
            <table class="table table-condensed table-hover table-striped messagetable pmtable">
                <tr><th><i class="fa fa-wrench"></i> Tools</th><th>Read</th><th>From</th><th>Subject</th><th>Content</th><th>Sent</th></tr>
                {% if messages %}
                    {% for message in messages %}
                    {% set msgread = false %}
{#                     {% if message.isMessageRead(app.user) %}#}
                    {% if app.user.getReadMessages.contains(message) %}
                        {% set msgread = true %}
                    <tr class="tr-message message-read" onclick="goToPrivateMessage('{{ path('imdc_message_view_message', {'messageid': message.id}) }}');">
                    {% else %}
                    <tr class="tr-message message-unread" onclick="goToPrivateMessage('{{ path('imdc_message_view_message', {'messageid': message.id}) }}');">
                    {% endif %}
                        <!--  tools  -->
                        <td>
                            <a href="{{ path('imdc_message_delete', {'messageid': message.id}) }}" data-val="{{ message.id }}"><i class="fa fa-trash-o"></i> Delete</a>
                            <a href="{{ path('imdc_message_archive', {'messageid': message.id}) }}" data-val="{{ message.id }}"><i class="fa fa-archive"></i> Archive</a>
                        </td>
                        <!--  read  -->
                        <td>{%  if msgread %}
                                <img src="{{ asset('bundles/imdcterptube/img/user_notification_icon_message.jpg') }}" />Read
                            {%  else %}
                                <img src="{{ asset('bundles/imdcterptube/img/user_notification_icon_message_on.jpg') }}" />Unread
                            {%  endif %}
                        </td>
                        <!--  from  -->
                        <td><a href="{{ path('imdc_terp_tube_user_profile_specific',{'userName' : message.owner}) }}">{{ message.owner }}</a></td>
                        <!--  subject  -->
                        <td><a href="{{ path('imdc_message_view_message', {'messageid': message.id}) }}">{{ message.subject }}</a></td>
                        <!--  content  -->
                        <td><a href="{{ path('imdc_message_view_message', {'messageid': message.id}) }}">{{ message.content|truncate(50) }}</a></td>
                        <!--  sent  -->
                        <td>{{ message.sentDate|date('g:ia M j') }}</td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>No messages yet</tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
    <h2>Invitations</h2>
    {% set activeInvitations = app.user.getNumActiveInvitations %}
    {% if activeInvitations > 0 %}
    <h4>You have <span class="badge badge-success">{{ activeInvitations }}</span> invitations that need your attention!</h4>
    {% endif %}
    <a class="btn btn-default" href="{{ path('imdc_invitations_list') }}"><i class="fa fa-arrow-right"></i> Go to invitations</a>
    
    <h2>Notifications</h2>
    <table>
        {% if notifications is defined %}
        <th>Message</th>
            {% for notification in notifications %}
                <tr><td>{{ notification.message }}</td></tr>
            {% endfor %}
        {% else %}
            <tr><td>No notifications</td></tr>
        {% endif %}
    </table>
{% endblock underherounitrow2 %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/imdcterptube/js/inbox.js') }}"></script>
{% endblock javascripts %}
