{# src/IMDC/TerpTubeBundle/Resources/views/Message/new.html.twig #}
{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}
{% block title %}New Private Message{% endblock title %}

{% block herounit %}
<h1>Send a private message</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
<div class="span9">
    {{  form(form) }}
    
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {{ form_row(form.to) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.content) }}
        
    {{ form_end(form) }}
</div>
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

