{# src/IMDC/TerpTubeBundle/Resources/views/Message/new.html.twig #}
{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block headerjavascripts %}
{{ parent() }}
<script src="{{ asset('js/tag-it.min.js') }}" type="text/javascript" charset="utf-8"></script>
<link href="{{ asset('css/jquery.tagit.css') }}" rel="stylesheet" type="text/css">
{% endblock headerjavascripts %}

{% block title %}New Private Message{% endblock title %}

{% block herounit %}
<h1>Send a private message</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
<div class="span9">
    {# {{  form(form) }} #}
    
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {% if app.request.get('userid') %}
{#         {{ form_row(form.to, { 'value' : app.request.get('userid') }) }}#}
            {{ form_row(form.recipients, {'value' : app.request.get('userid') }) }}
        {% else %}
{#         {{ form_row(form.to) }}#}
            {{ form_row(form.recipients) }}
        {% endif %}

        {{ form_row(form.subject) }}
        <a href="#" class="btn" id="attachedMediaShowLink">Attach media to message</a>
        <div id="attachedMediaWrap" style="display:none">
        {{ form_row(form.attachedMedia) }}
        </div>
{#         {{ form_label(form.attachedMedia) }}#}
{#         {{ form_errors(form.attachedMedia) }}#}
        
{#         <ul id="attachedMedia-fields-list" class="unstyled inline" data-prototype="{{ form_widget(form.attachedMedia.vars.prototype)|e }}">#}
{#             {% for mediaField in form.attachedMedia %}#}
{#             <li>#}
{#                 {{ form_errors(mediaField) }}#}
{#                 {{ form_widget(mediaField) }}#}
{#             </li>#}
{#             {% endfor %}#}
{#         </ul>#}
{#         <a href="#" id="add-another-attachedMedia">Add another media item</a>#}
        {{ form_row(form.content) }}
        
    {{ form_end(form) }}
</div>
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
    //var attachedMediaCount = '{{ form.attachedMedia|length }}';
    $(document).ready(function() {
        $("#PrivateMessageForm_recipients").tagit();
    
        $("a#attachedMediaShowLink").click(function(e) {
            e.preventDefault();
            $("div#attachedMediaWrap").show();
            $(this).hide();
        });
        
    //     var attachedMediaList = $('#attachedMedia-fields-list');
    
    //     // grab the prototype template
    //     var newWidget = attachedMediaList.attr('data-prototype');
    
    //     newWidget = newWidget.replace(/__name__/g, attachedMediaCount);
    //     attachedMediaCount++;
    
    //     // create a new list element and add it to the list
    //     var newLi = $('<li></li>').html(newWidget);
    //     newLi.appendTo($('#attachedMedia-fields-list'));
    
    });
</script>
{% endblock javascripts %}

