{# src/IMDC/TerpTubeBundle/Resources/views/Message/new.html.twig #}
{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block headerjavascripts %}
{{ parent() }}
<script src="{{ asset('js/tag-it.min.js') }}" type="text/javascript" charset="utf-8"></script>
<link href="{{ asset('css/jquery.tagit.css') }}" rel="stylesheet" type="text/css">
{% endblock headerjavascripts %}

{% block title %}New Private Message{% endblock title %}

{% block herounit %}
<h1>Send a private message</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
<div class="span9">
    {# {{  form(form) }} #}
    
    {{ form_start(form) }}
        {{ form_errors(form) }}
        
        {% if app.request.get('userid') %}
{#         {{ form_row(form.to, { 'value' : app.request.get('userid') }) }}#}
            {{ form_row(form.recipients, {'value' : app.request.get('userid') }) }}
        {% else %}
{#         {{ form_row(form.to) }}#}
            {{ form_row(form.recipients) }}
        {% endif %}

        {{ form_row(form.subject) }}
        {{ form_row(form.content) }}
        
    {{ form_end(form) }}
</div>
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

{% block javascripts %}
{{ parent() }}
<script type="text/javascript">
$(document).ready(function() {
    $("#PrivateMessageForm_recipients").tagit();

});
</script>
{% endblock javascripts %}

