{% extends "IMDCTerpTubeBundle:Message:inbox.html.twig" %}
{% block title %}
Sent Messages
{% endblock title %}
{% block herounit_wrap %}
    <h1>Sent Messages</h1>
    <h2>Your previously sent messages appear below:</h2>
{% endblock herounit_wrap %}
{% block underherounitrow1 %}
    {% if app.session.flashbag.get('inbox') is defined %}
        {% for flashMessage in app.session.flashbag.get('inbox') %}
        <div class="flash-notice">
            <h4>{{ flashMessage }}</h4>
        </div>
        {% endfor %}
    {% endif %}
    {{ include('IMDCTerpTubeBundle:Message:inboxlist.html.twig') }}
    <h2>Sent Messages</h2>
    <div class="row-fluid">
        <div class="span3">
            <a class="btn btn-primary" href="{{ path('imdc_message_create') }}">
                <i class="fa fa-plus-circle fa-lg"></i> Create new message
            </a>
        </div>
    </div>
    <br />
    <div class="row-fluid">
        <div class="span-9">
            <table class="table table-condensed table-hover table-striped messagetable sentmessagestable">
                <tr><th>To</th><th>Subject</th><th>Content</th><th>Date Sent</th></tr>
                {% if messages %}
                    {% for message in messages %}
                    <tr>
                        <td>
                            <div class="message-recipient-wrap">
                                {% for recpt in message.recipients %}
                                    <a href="{{ path('imdc_terp_tube_user_profile_specific',{'userName' : app.user }) }}">{{ recpt }} </a> 
                                {% endfor %}
                            </div>
                        </td>
                        <td><a href="{{ path('imdc_message_view_message', {'messageid': message.id}) }}">{{ message.subject }}</a></td>
                        <td><a href="{{ path('imdc_message_view_message', {'messageid': message.id}) }}">{{ message.content|truncate(50) }}</a></td>
                        <td><a href="{{ path('imdc_message_view_message', {'messageid': message.id}) }}">{{ message.sentDate|date('g:ia M j') }}</a></td>
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>No messages yet</tr>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% endblock underherounitrow2 %}