{# src/IMDC/TerpTubeBundle/Resources/views/Message/viewprivatemessage.html.twig #}
{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block stylesheets %}
    {{  parent() }}

    <link href="{{ asset('bundles/imdcterptube/css/inbox.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imdcterptube/css/privatemessage.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block title %}{{ message.subject }} - Private Message Inbox{% endblock title %}

{% block rightsidecontent %}
<div class="col-md-10">
    <br />
    <a id="messageRead" data-mid="{{ message.id }}" href="{{  path('imdc_message_mark_as_read',{'messageid': message.id}) }}" style="display:none;"></a>
    <div id="readOutput"></div>
    <a class="btn btn-default" href="{{ path('imdc_message_view_all') }}"><i class="fa fa-arrow-left"></i> Back to inbox</a>
    <a class="btn btn-default" href="{{ path('imdc_message_reply', {'messageid': message.id}) }}" data-val="{{ message.id }}"><i class="fa fa-reply"></i> Reply</a>
    <div class="pull-right">
        <ul class="unstyled inline">
            <li><a class="btn btn-default" href="{{ path('imdc_message_delete', {'messageid': message.id}) }}" data-val="{{ message.id }}"><i class="fa fa-minus-circle"></i> Delete</a></li>
            <li><a class="btn btn-default" href="{{ path('imdc_message_archive', {'messageid': message.id}) }}" data-val="{{ message.id }}"><i class="fa fa-archive"></i> Archive</a></li>
        </ul>
    </div>
    <p></p>
    <div class="message-info-wrap">
        <div class="row message-info-header">
            <div class="col-md-1">
                Sent:
            </div>
            <div class="col-md-9">
                {{ message.sentDate|date('g:ia F j Y') }}
            </div>
        </div>
        <div class="row message-info-header">
            <div class="col-md-1">
                From:
            </div>
            <div class="col-md-9">
                {% if message.owner=='noreply' %}
                {{ message.owner }}
                {% else %}
                <a href="{{ path('imdc_terp_tube_user_profile_specific',{'userName' : message.owner }) }}">{{ message.owner }}</a>
                {% endif %}
            </div>
        </div>
        <div class="row message-info-header">
            <div class="col-md-1">
                To:
            </div>
            <div class="col-md-9">
                {{ message.recipients|join(', ') }}
            </div>
        </div>
        <div class="row message-info-header">
            <div class="col-md-1">
                Subject:
            </div>
            <div class="col-md-9">
                {{ message.subject }}
            </div>
        </div>
        {% if message.attachedMedia is defined and message.attachedMedia is not null and message.attachedMedia|length > 0 %}
        <div class="row message-info-header">
            <div class="col-md-1">
                Attached Media:
            </div>
            <div class="col-md-9">
                {% for mediaFile in message.attachedMedia %}
                <div class="col-md-2">
                    {% if mediaFile.type == 1 %}
                    <a href="{{ asset(mediaFile.getResource.getWebPathWebm) }}">
                    {% else %}
                    <a href="{{ asset(mediaFile.getResource.getWebPath) }}">
                    {% endif %}
                    {{ include('IMDCTerpTubeBundle:Media:mediaElement.html.twig') }}
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row message-info-header lastbottomborder">
            <div class="col-md-9 message-content-wrap">
                {{ message.content|nl2br }}
            </div>
        </div>
    </div><!--  message-info-wrap -->
</div><!-- col-md-10 -->
{% endblock rightsidecontent %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/imdcterptube/js/viewmessage.js') }}"></script>
{% endblock javascripts %}
