{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block stylesheets %}
    {{  parent() }}
    
    <link href="{{ asset('bundles/imdcterptube/css/inbox.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block herounit %}
    <h1>Inbox</h1>
    <h2>Your messages appear below:</h2>
{% endblock herounit %}
{% block underherounitrow1 %}
    {% if app.session.flashbag.get('inbox') is defined %}
        {% for flashMessage in app.session.flashbag.get('inbox') %}
        <div class="flash-notice">
            <h4>{{ flashMessage }}</h4>
        </div>
        {% endfor %}
    {% endif %}
    <div>
        <a href="{{ path('imdc_message_create') }}">Create new message</a>
    </div>
    <h2>Private Messages</h2>
    <div class="row-fluid">
        <div class="span-9">
            <table class="pmtable">
                <tr><th>Tools</th><th>From</th><th>Subject</th><th>Content</th></tr>
                {% for message in messages %}
                    <tr><td><a href="{{ path('imdc_message_delete', {'messageid': message.id}) }}" data-val="{{ message.id }}">Delete</a></td><td>{{ message.owner }}</td><td>{{ message.subject }}</td><td>{{ message.content|trim[:50] }}...</td></tr>
                {% else %}
                    <tr>No messages yet</tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
    <h2>Notifications</h2>
    <table>
        <th>Message</th>
        {% if notifications is defined %}
            {% for notification in notifications %}
                <tr><td>{{ notification.message }}</td></tr>
            {% endfor %}
        {% else %}
            <tr><td>No notifications</td></tr>
        {% endif %}
    </table>
{% endblock underherounitrow2 %}