{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block title %}{{ 'filesGateway.title'|trans }}{% endblock title %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            require(['main'], function() {
                var myFiles = new $tt.Controller.MyFiles({page: $tt.Controller.MyFiles.Page.INDEX});
                myFiles.bindUIEvents();
            });
        });
    </script>
{% endblock header %}

{% block nav_ul_authenticated_my_files %}class="active"{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <hr class="tt-separator-top" />
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                {% include 'IMDCTerpTubeBundle:Media:chooserForm.html.twig' with {'isFileSelection': false} %}
            </div>
        </div>
        <div class="row">
            <div class="mediachooser-container-dialog"></div>
            <div class="col-md-offset-2 col-md-8">
                {% include 'IMDCTerpTubeBundle:MyFiles:list.html.twig' %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <hr class="tt-separator-bottom" />
            </div>
        </div>
    </div>
{% endblock content %}

{% block outside_body %}
    {{ parent() }}

    <script type="text/html" id="mediaRow">
        <tr>
            <td>
 				<div class="text-center">
                	<a class="btn btn-danger btn-xs delete-button" href="#" data-val="{media.id}">
                	    <i class="fa fa-trash-o"></i> {{ 'filesGateway.deleteLink'|trans }}
                	</a> 
                	<a class="btn btn-default btn-xs preview-button{{ '{#previewDisabled} disabled{/previewDisabled}' }}" href="#" data-type="{media.type}" data-url="{previewUrl}" data-val="{media.id}">
                	    <i class="fa fa-play-circle"></i> {{ 'filesGateway.previewLink'|trans }}
                	</a> 
                	<a class="btn btn-default btn-xs share-button" href="{newThreadUrl}" data-type="{media.type}" data-val="{media.id}">
                	    <i class="fa fa-share-square-o"></i> {{ 'filesGateway.shareLink'|trans }}
                	</a> 
                	{{ '{#canInterpret}' }}
                	    <!-- TODO interpretations disabled for now
                	    <a class="btn btn-default btn-xs interpret-button" href="{simulRecordUrl}">
                	        <i class="fa fa-film"></i> Create Interpretation
                	    </a>-->
                	{/canInterpret}
				</div>
            </td>
            <td>{media.title}</td>
            <td><i class="fa {icon}"></i> {mediaType}</td>
            <td>{dateString}</td>
            <td>
                {{ '{#mediaSize}' }}
                    {mediaSize} MB
                {:else}
                    <i class="fa fa-spinner fa-spin fa-large"></i>
                {/mediaSize}
            </td>
        </tr>
    </script>

    <script type="text/html" id="mediaDeleteConfirmMessage">
        {{ 'filesGateway.deleteConfirmMessage'|trans }}
    </script>

    {% include 'IMDCTerpTubeBundle:Media:uploadForms.html.twig' %}
{% endblock outside_body %}
