{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% import 'IMDCTerpTubeBundle:Media:macros.html.twig' as media %}

<div class="text-center">
    {{ knp_pagination_render(resourceFiles) }}
</div>
{{ media.controls('grid') }}
<div class="row my-files-selector-files-list" style="margin-top: 15px;">
    {% if resourceFiles|length > 0 %}
        {% for resourceFile in resourceFiles %}
            {% set previewDisabled = resourceFile.getIsReady == constant('IMDC\\TerpTubeBundle\\Entity\\Media::READY_NO') ? 'disabled' : '' %}
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-12">
                <div class="thumbnail" style="height: 225px; cursor: pointer;">
                    <input type="checkbox" style="z-index: 1; position: absolute; margin: 4px;" data-mid="{{ resourceFile.id }}" />
                    <div class="my-files-selector-file {{ previewDisabled }}" style="height: 175px; margin-bottom: 5px; position: relative; white-space: nowrap;" data-mid="{{ resourceFile.id }}">
                        {{ media.thumbnail(resourceFile.thumbnailPath) }}
                        <span style="vertical-align: middle; display: inline-block; height: 100%;"></span>
                    </div>
                    <div style="height: 35px; line-height: 35px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        <span class="edit-title my-files-selector-file {{ previewDisabled }}" title="{{ 'filesGateway.previewLink'|trans }}" data-mid="{{ resourceFile.id }}" data-type="text" data-title="{{ 'form.media.title'|trans }}">
                            {{ media.typeToIcon(resourceFile.type) }}{{ resourceFile.title }}
                        </span>
                        <span style="position: relative; float: right;">
                            <span class="css-hover" style="display: none; position: absolute; right: 0px; top: -1px;">
                                <button class="btn btn-default edit-title"><i class="fa fa-pencil"></i></button>
                                <a class="btn btn-default" target="_blank" href="{{ path('imdc_thread_new_from_media', {'mediaId': resourceFile.id} ) }}" title="{{ 'filesGateway.shareLink'|trans }}"><i class="fa fa-share-square-o"></i></a>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center">{{ 'filesGateway.noFiles'|trans }}</div>
    {% endif %}
</div>
{#{{ media.controls('grid') }}#}
{#<div class="text-center">#}
    {#{{ knp_pagination_render(resourceFiles) }}#}
{#</div>#}
