{#
included by:
_MyFiles:index.html.twig
_MyFiles:ajax.index.html.twig
#}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% if isSelect is not defined %}
    {% set isSelect = false %}
{% endif %}

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover tt-myFiles-table">
                <thead>
                    <th><i class="fa fa-wrench"></i> Tools</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Created</th>
                    <th>Size</th>
                </thead>
                <tbody>
                    {% if resourceFiles|length > 0 %}
                        {% for resourceFile in resourceFiles %}
                            <tr>
                                <!-- tools -->
                                <td>
                                    <div class="text-center">
                                        {% if not isSelect %}
                                            <a class="btn btn-danger btn-xs delete-button"
                                               href="#"
                                               data-val="{{ resourceFile.id }}">
                                                <i class="fa fa-trash-o"></i> {{ 'filesGateway.deleteLink'|trans }}
                                            </a>
                                        {% endif %}
                                        <a class="btn btn-default btn-xs preview-button{% if resourceFile.getIsReady == constant('IMDC\\TerpTubeBundle\\Entity\\Media::READY_NO') %} disabled{% endif %}"
                                           href="#"
                                           data-type="{{ resourceFile.type }}"
                                           data-url="{{ path('imdc_myfiles_preview', {'mediaId': resourceFile.id}) }}"
                                           data-val="{{ resourceFile.id }}">
                                            <i class="fa fa-play-circle"></i> {{ 'filesGateway.previewLink'|trans }}
                                        </a>
                                        {% if not isSelect %}
                                            <a class="btn btn-default btn-xs share-button"
                                               href="{{ path('imdc_thread_new_from_media', {'resourceid': resourceFile.id} ) }}"
                                               data-type="{{ resourceFile.type }}"
                                               data-val="{{ resourceFile.id }}">
                                                <i class="fa fa-share-square-o"></i> {{ 'filesGateway.shareLink'|trans }}
                                            </a>
                                            {% if resourceFile.type == 1 or resourceFile.type == 2 %}
                                                <!-- TODO interpretations disabled for now
                                                            <a class="btn btn-default btn-xs interpret-button"
                                                               href="{#{ path('imdc_myfiles_add_simultaneous_recording', {'sourceMediaID': resourceFile.id} ) }#}">
                                                                <i class="fa fa-film"></i> Create Interpretation
                                                            </a>-->
                                            {% endif %}
                                        {% endif %}
                                        {% if isSelect %}
                                            <a class="btn btn-default btn-xs select-button" href="#" data-val="{{ resourceFile.id }}" data-title="{{ resourceFile.title }}"><i class="fa fa-share"></i> Select</a>
                                        {% endif %}
                                    </div>
                                </td>
                                <!-- name -->
                                <td>{{ resourceFile.title }}</td>
                                <!-- type -->
                                <td>
                                    {% if resourceFile.type == 0 %}
                                        <i class="fa fa-picture-o"></i>
                                    {% elseif resourceFile.type == 1 %}
                                        <i class="fa fa-film"></i>
                                    {% elseif resourceFile.type == 2 %}
                                        <i class="fa fa-headphones"></i>
                                    {% endif %}
                                    &nbsp;{{ ('filesGateway.type.'~resourceFile.type)|trans }}
                                </td>
                                <!-- created -->
                                <td>{{ resourceFile.getMetaData.getTimeUploaded|date('g:ia M j') }}</td>
                                <!-- size -->
                                <td>
                                    {% if resourceFile.getMetaData.getSize == -1 %}
                                        <i class="fa fa-spinner fa-spin fa-large"></i>
                                    {% else %}
                                        {{ '%.2f'|format(resourceFile.getMetaData.getSize / 1024 / 1024) }} MB
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr colspan="5">
                            <div class="text-center">{{ 'filesGateway.noFiles'|trans }}</div>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        {{ knp_pagination_render(resourceFiles) }}
    </div>
</div>
