{% trans_default_domain 'IMDCTerpTubeBundle' %}

{#
used by:
_Forum:view.html.twig
#}
{% block media_gallery %}
    <div class="gallery-container" style="position: relative;">
        <div class="text-center gallery-working" style="display: none;"><i class="fa fa-spinner fa-4x fa-spin"></i></div>
        <div class="gallery-container-inner" style="display: none;">
            <div class="gallery-content"></div>
            <div class="gallery-arrow-left" style="left: 0; position: absolute; bottom: 0; line-height: 60px; cursor: pointer;"><i class="fa fa-chevron-left fa-3x"></i></div>
            <div class="gallery-container-thumbs" style="overflow: hidden; position: relative; height: 90px; margin-left: 35px; margin-right: 35px;">
                <ol style="width: 10000px; list-style: none; position: absolute; overflow: hidden; padding: 0px; left: 0;">
                    {% for media in orderedMedia %}
                    <li style="float: left; margin: 0; padding-right: 5px; cursor: pointer;" data-mid="{{ media.id }}"><img src="{{ asset(media.thumbnailPath) }}" style="width: 90px; height: 90px;"><li>
                        {% endfor %}
                </ol>
            </div>
            <div class="gallery-arrow-right" style="position: absolute; right: 0; bottom: 0; line-height: 60px; cursor: pointer;"><i class="fa fa-chevron-right fa-3x"></i></div>
        </div>
        <div class="gallery-recorder"></div>
    </div>
{% endblock media_gallery %}

{#
used by:
_Forum:view.html.twig
#}
{% block media_gallery_dust %}
    {% set enableControls = enableControls is defined ? enableControls : true %}
    {% set preloadMedia = preloadMedia is defined ? preloadMedia : true %}

    <script type="text/html" id="mediaElementVideo">
        <video class="tt-media-video" id="{media.id}" {% if enableControls %}controls{% endif %} poster="{{ asset('') }}{media.thumbnail}" preload="{% if preloadMedia %}auto{% else %}none{% endif %}">
            <source src="{{ asset('') }}{media.resource.pathMPEG}" />
            <source src="{{ asset('') }}{media.resource.pathWebm}" />
        </video>
        <button class="btn btn-primary">Interpret this video</button>
    </script>

    <script type="text/html" id="mediaElementAudio">
        <audio class="tt-media-audio" {% if enableControls %}controls{% endif %}>
            <source src="{{ asset('') }}{media.resource.pathMPEG}" />
            Your browser does not support the audio element, please upgrade to Google Chrome
        </audio>
    </script>

    <script type="text/html" id="mediaElementImage">
        <img class="img-responsive center-block tt-media-img" src="{{ asset('') }}{media.resource.pathMPEG}" alt="{media.title}" title="{media.title}" />
    </script>

    <script type="text/html" id="mediaElementOther">
        <div class="row">
            <div class="col-md-3 thumbnail text-center">
                <a href="{{ asset('') }}{media.resource.pathMPEG}">
                    <p><i class="fa fa-file fa-5x"></i></p>
                    <div>{media.title}</div>
                </a>
            </div>
        </div>
    </script>
{% endblock media_gallery_dust %}

{% block recorder_dust %}
    <script type="text/html" id="recorder">
        <div class="modal fade recorder-modal">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Recorder</h4>
                    </div>
                    <div class="modal-body">
                        <div class="recorder-container-record">
                            <ul class="nav nav-tabs" role="tablist">
                                <li class="active"><a href=".recorder-normal" role="tab" data-toggle="tab">Normal</a></li>
                                <li><a href=".recorder-interp" role="tab" data-toggle="tab">Interpretation</a></li>
                            </ul>
                            <div class="tab-content" style="padding-top: 15px;">
                                <div class="tab-pane active recorder-normal">
                                    <div class="tt-media-preview-title">
                                        <input class="recorder-normal-title" style="display: none;" type="text" value="" />
                                    </div>
                                    <video class="recorder-normal-video" width="100%" preload="auto" muted="muted">
                                        <source src="" data-baseurl="{{ asset('') }}" />
                                    </video>
                                </div>
                                <div class="tab-pane recorder-interp">
                                    <div style="border: 2px dashed #ccc; line-height: 200px; height: 200px; text-align: center; display: none;">
                                        <button class="btn btn-primary btn-lg recorder-interp-select">Select a video to interpret</button>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <video class="recorder-interp-video-p" style="display: none;" width="100%" preload="auto" muted="muted">
                                                <source src="" data-baseurl="{{ asset('') }}" />
                                            </video>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="tt-media-preview-title">
                                                <input class="recorder-interp-title" style="display: none;" type="text" value="" />
                                            </div>
                                            <video class="recorder-interp-video-r" style="display: none;" width="100%" preload="auto" muted="muted">
                                                <source src="" data-baseurl="{{ asset('') }}" />
                                            </video>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="recorder-controls"></div>
                        </div>
                        <div class="recorder-container-upload" style="display: none;">
                            <label>Uploading...</label>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                    0%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="recorder-interp-my-files-selector"></div>
    </script>
{% endblock recorder_dust %}

{% block my_files_selector_dust %}
    <script type="text/html" id="myFilesSelector">
        <div class="modal fade my-files-selector-modal">
            <div class="modal-dialog" style="width: 80%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title">Select from My Files</h4>
                    </div>
                    <div class="modal-body">
                        <div class="text-center"><i class="fa fa-spinner fa-4x fa-spin"></i></div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</a>
                        <a class="btn btn-primary my-files-selector-select-selected" disabled="disabled" data-loading-text="<i class=&quot;fa fa-spinner fa-spin&quot;></i> Downloading data..."><i class="fa fa-check"></i> Select</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-files-selector-gallery"></div>
    </script>
{% endblock my_files_selector_dust %}
