{% trans_default_domain 'IMDCTerpTubeBundle' %}

{#
used by:
_Forum:view.html.twig
#}
{% block media_gallery %}
    <div class="gallery-container" style="position: relative;">
        <div class="text-center gallery-working" style="display: none;"><i class="fa fa-spinner fa-4x fa-spin"></i></div>
        <div class="gallery-container-inner" style="display: none;">
            <div class="gallery-content"></div>
            <div class="gallery-arrow-left" style="left: 0; position: absolute; bottom: 0; line-height: 60px; cursor: pointer;"><i class="fa fa-chevron-left fa-3x"></i></div>
            <div class="gallery-container-thumbs" style="overflow: hidden; position: relative; height: 90px; margin-left: 35px; margin-right: 35px;">
                <ol style="width: 10000px; list-style: none; position: absolute; overflow: hidden; padding: 0px; left: 0;">
                    {% for media in orderedMedia %}
                    <li style="float: left; margin: 0; padding-right: 5px; cursor: pointer;" data-mid="{{ media.id }}"><img src="{{ asset(media.thumbnailPath) }}" style="width: 90px; height: 90px;"><li>
                        {% endfor %}
                </ol>
            </div>
            <div class="gallery-arrow-right" style="position: absolute; right: 0; bottom: 0; line-height: 60px; cursor: pointer;"><i class="fa fa-chevron-right fa-3x"></i></div>
        </div>
        <div class="gallery-recorder"></div>
    </div>
{% endblock media_gallery %}

{#
used by:
_Forum:view.html.twig
#}
{% block media_gallery_dust %}
    {% set enableControls = enableControls is defined ? enableControls : true %}
    {% set preloadMedia = preloadMedia is defined ? preloadMedia : true %}

    <script type="text/html" id="mediaElementVideo">
        <video class="tt-media-video" id="{media.id}" {% if enableControls %}controls{% endif %} poster="{{ asset('') }}{media.thumbnail}" preload="{% if preloadMedia %}auto{% else %}none{% endif %}">
            <source src="{{ asset('') }}{media.resource.pathMPEG}" />
            <source src="{{ asset('') }}{media.resource.pathWebm}" />
        </video>
        <button class="btn btn-primary">Interpret this video</button>
    </script>

    <script type="text/html" id="mediaElementAudio">
        <audio class="tt-media-audio" {% if enableControls %}controls{% endif %}>
            <source src="{{ asset('') }}{media.resource.pathMPEG}" />
            Your browser does not support the audio element, please upgrade to Google Chrome
        </audio>
    </script>

    <script type="text/html" id="mediaElementImage">
        <img class="img-responsive center-block tt-media-img" src="{{ asset('') }}{media.resource.pathMPEG}" alt="{media.title}" title="{media.title}" />
    </script>

    <script type="text/html" id="mediaElementOther">
        <div class="row">
            <div class="col-md-3 thumbnail text-center">
                <a href="{{ asset('') }}{media.resource.pathMPEG}">
                    <p><i class="fa fa-file fa-5x"></i></p>
                    <div>{media.title}</div>
                </a>
            </div>
        </div>
    </script>
{% endblock media_gallery_dust %}
