{#
included by:
_Forum:edit.html.twig
_Forum:thumbnail.html.twig
_Group:edit.html.twig
_Message:new.html.twig
_Message:view.html.twig
_Post:ajax.edit.html.twig
_Thread:edit.html.twig
_Thread:thumbnail.html.twig
#}

{% if enableControls is not defined %}
    {% set enableControls = true %}
{% endif %}
{% if preloadMedia is not defined %}
    {% set preloadMedia = false %}
{% endif %}

{% block media %}
    {# mediatype 0 = image 1 = video 2 = audio 9 = other #}
    {% if mediaFile.type == 0 %}
        {% block mediaimagetype %}
            <img class="img-responsive center-block tt-media-img" src="{{ asset(mediaFile.getResource.getWebPath) }}" alt="{{ mediaFile.title }}" title="{{ mediaFile.title }}" />
        {% endblock mediaimagetype %}
    {% elseif mediaFile.type == 1 %}
        {% block mediavideotype %}
            <video class="tt-media-video" id="{{ mediaFile.getID }}" {% if enableControls %}controls{% endif %} poster="{{ asset(mediaFile.getThumbnailPath) }}" preload="{% if preloadMedia %}auto{% else %}none{% endif %}">
                <source src="{{ asset(mediaFile.getResource.getWebPathWebm) }}" />
                <source src="{{ asset(mediaFile.getResource.getWebPath) }}" />
            </video>
        {% endblock mediavideotype %}
    {% elseif mediaFile.type == 2 %}
        {% block mediaaudiotype %}
            <audio class="tt-media-audio" {% if enableControls %}controls{% endif %}>
                <source src="{{ asset(mediaFile.getResource.getWebPath) }}" />
                Your browser does not support the audio element, please upgrade to Google Chrome
            </audio>
        {% endblock mediaaudiotype %}
    {% elseif mediaFile.type == 9 %}
        {% block mediaothertype %}
            <div class="row">
                <div class="col-md-3 thumbnail text-center">
                    <a href="{{ asset(mediaFile.resource.webPath) }}">
                        <p><i class="fa fa-file fa-5x"></i></p>
                        <div>{{ mediaFile.title }}</div>
                    </a>
                </div>
            </div>
        {% endblock mediaothertype %}
    {% endif %}
{% endblock media %}
