{% macro controls(style) %}
    {% trans_default_domain 'IMDCTerpTubeBundle' %}

    <button class="btn btn-danger my-files-selector-bulk-action" title="{{ 'filesGateway.deleteLink'|trans }}" data-action="1"><i class="fa fa-trash-o"></i></button>
    {% if style == 'grid' %}
        {% set style = 'list' %}
        {% set styleIcon = 'fa-th-list' %}
        <button class="btn btn-default my-files-selector-toggle-selection" title="Toggle selection" disabled="disabled"><i class="fa fa-check-square-o"></i></button>
    {% else %}
        {% set style = 'grid' %}
        {% set styleIcon = 'fa-th-large' %}
    {% endif %}
    <a class="btn btn-default my-files-selector-toggle-style" href="{{ path('imdc_myfiles_list', {'style': style}) }}"><i class="fa {{ styleIcon }}"></i></a>
{% endmacro %}

{% macro type_to_icon(type) %}
    {% if type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_VIDEO') %}
        {% set icon = 'fa-file-video-o' %}
        {% set type_str = 'Video' %}
    {% elseif type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_AUDIO') %}
        {% set icon = 'fa-file-audio-o' %}
        {% set type_str = 'Audio' %}
    {% elseif type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_IMAGE') %}
        {% set icon = 'fa-file-photo-o' %}
        {% set type_str = 'Image' %}
    {% elseif type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_OTHER') %}
        {% set icon = 'fa-file-o' %}
        {% set type_str = 'Other' %}
    {% endif %}
    <i class="fa {{ icon }} fa-2x" title="{{ type_str }}"></i>
{% endmacro %}

{% macro format_size(size) %}
    {% if size == -1 %}
        <i class="fa fa-spinner fa-spin fa-large"> </i>
    {% else %}
        {{ '%.2f'|format(size / 1024 / 1024) }} MB
    {% endif %}
{% endmacro %}

{% macro thumbnail(path, css_class) %}
    {% set css_class = css_class|default('img-responsive center-block tt-thumbnail') %}

    {% if path is not null %}
        <img class="{{ css_class }}" src="{{ asset(path) }}" />
    {% else %}
        <span class="fa-stack fa-lg">
            <i class="fa fa-file-o fa-stack-2x"></i>
            <i class="fa fa-play-circle fa-stack-1x"></i>
        </span>
    {% endif %}
{% endmacro %}

{% macro element(media, enable_controls, preload_media) %}
    {% if media|length == 0 %}
        <i class="fa fa-question fa-3x"></i><br />
        <em>no media</em>
    {% else %}
        {% set m = media[0] %}
        {% set enable_controls = enable_controls is not null ? enable_controls : true %}
        {% set preload_media = preload_media is not null ? preload_media : false %}

        {% if m.getType == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_VIDEO') %}
            {% if m.isInterpretation %}
                <video class="tt-media-pip-video"
                        {% if enable_controls %} controls {% endif %}
                        {% if m.getSource.getThumbnailPath is not empty %} poster="{{ asset(m.getSource.getThumbnailPath) }}" {% endif %}
                       preload="{% if preload_media %}auto{% else %}none{% endif %}">
                    {% for resource in m.getSource.getResources %}
                        <source src="{{ asset(resource.getWebPath) }}" />
                    {% endfor %}
                </video>
            {% endif %}
            <video class="tt-media-video"
                    {% if enable_controls %} controls {% endif %}
                    {% if m.getThumbnailPath is not empty %} poster="{{ asset(m.getThumbnailPath) }}" {% endif %}
                   preload="{% if preload_media %}auto{% else %}none{% endif %}">
                {% for resource in m.getResources %}
                    <source src="{{ asset(resource.getWebPath) }}" />
                {% endfor %}
            </video>
        {% elseif m.getType == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_AUDIO') %}
            <audio class="tt-media-audio"
                    {% if enable_controls %} controls {% endif %}
                   preload="{% if preload_media %}auto{% else %}none{% endif %}">
                {% for resource in m.getResources %}
                    <source src="{{ asset(resource.getWebPath) }}" />
                {% endfor %}
                Your browser does not support the audio element, please upgrade to Google Chrome
            </audio>
        {% elseif m.getType == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_IMAGE') %}
            <img class="img-responsive center-block tt-media-img" src="{{ asset(m.getSourceResource.getWebPath) }}" alt="{{ m.getTitle }}" title="{{ m.getTitle }}" />
        {% elseif m.getType == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_OTHER') %}
            <div class="row">
                <div class="col-md-3 thumbnail text-center">
                    <a href="{{ asset(m.getSourceResource.getWebPath) }}">
                        <p><i class="fa fa-file fa-5x"></i></p>
                        <div>{{ m.getTitle }}</div>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}

{#poor way to accomodate 'Mini Pics ASL' font#}
{#TODO twig ext??#}
{% macro num2symbol(num) %}
    {% if num == '1' %}!
    {% elseif num == '2' %}@
    {% elseif num == '3' %}#
    {% elseif num == '4' %}$
    {% elseif num == '5' %}%
    {% elseif num == '6' %}^
    {% elseif num == '7' %}&
    {% elseif num == '8' %}*
    {% elseif num == '9' %}(
    {% elseif num == '0' %})
    {% else %}{{ num }}
    {% endif %}
{% endmacro %}

{% macro element2(media, entity, name) %}
    {% import _self as _media %}

    {% if media|length == 0 %}
        {% set shape = entity == 'group' ? 'circle' : 'square' %}
        {% set color = random(['sky', 'green', 'orange', 'red', 'blue', 'purple']) %}
        {% set name = name ?: 'n' %}

        <div class="tt-media-no-thumbnail tt-mnt-{{ shape }} tt-mnt-{{ color }}">
            <span class="tt-mnt-text">{{ _media.num2symbol(name|first|upper) }}</span>
        </div>
    {% else %}
        {% set m = media[0] %}

        {% if m.getType == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_VIDEO') %}
            {% if m.isInterpretation %}

            {% endif %}
            {{ _media.thumbnail(m.getThumbnailPath) }}
        {% elseif m.getType == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_AUDIO') %}

        {% elseif m.getType == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_IMAGE') %}
            <img class="img-responsive center-block tt-media-img" src="{{ asset(m.getSourceResource.getWebPath) }}" alt="{{ m.getTitle }}" title="{{ m.getTitle }}" />
        {% elseif m.getType == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_OTHER') %}
            <div class="row">
                <div class="col-md-3 thumbnail text-center">
                    <a href="{{ asset(m.getSourceResource.getWebPath) }}">
                        <p><i class="fa fa-file fa-5x"></i></p>
                        <div>{{ m.getTitle }}</div>
                    </a>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro expand(media) %}
    {% if media|length > 0 %}
        {% set m = media[0] %}

        <div class="expand" data-mid="{{ m.getId }}">
            <button class="btn btn-default"><i class="fa fa-expand"></i></button>
        </div>
    {% endif %}
{% endmacro %}

{% macro video_controls() %}
    <div class="tt-media-video-controls">
        <img id="videoSpeed" src="{{ asset('bundles/imdcterptube/img/player/playback-speed-normal.png') }}" title="Click to change video playback speed" />
        {#<img id="closedCaptions" src="{{ asset('bundles/imdcterptube/img/player/closedCaptioning.jpg') }}" title="Click to show/hide captions" />#}
    </div>
{% endmacro %}
