{% if post.attachedFile is defined and post.attachedFile|length > 0 %}
    {% set postMediaFile = post.attachedFile[0] %}
{% else %}
    {% set postMediaFile = none  %}
{% endif %}
						    
{# mediatype 0 = image 1 = video 2 = audio 9 = other #}
{% if postMediaFile is not defined or postMediaFile is null %}
    {# do nothing #}
{% elseif postMediaFile.type == 0 %}
{# -----------   if type of media is an IMAGE   -------- #}
    <div class="row-fluid">
        <img class="post-reply-image" src="{{ asset(postMediaFile.getResource.getWebPath) }}" />
    </div>
{# -----------   if type of media is a VIDEO   -------- #}
{% elseif postMediaFile.type == 1 %}
    {% set displayTestPostDensityBar = TRUE %}
    <div class="row-fluid">
	    <video controls width="100%" id="{{ postMediaFile.getID }}" preload="auto">
        <source src="{{ asset(postMediaFile.getResource.getWebPathWebm) }}"/>
        <source src="{{ asset(postMediaFile.getResource.getWebPath) }}"/>
	    </video>
    </div>
{% elseif postMediaFile.type == 2 %}
{# -----------   if type of media is AUDIO   -------- #}
    <div class="row-fluid">
	    <audio controls style="width: 100%">
        <source src="{{ asset(postMediaFile.getResource.getWebPath) }}" />
	        Your browser does not support the audio element, please upgrade to Google Chrome
	    </audio>
    </div>
{% endif %}
		
        {# testing ---------------------------------- #}
{% if post.startTime %}
<div class="row-fluid div-video-timeline">
    <div id="back-timeline">
        <div class="front-comment-div" id="time-comment-{{ post.getId }}" tabindex="0">
            <script type="text/javascript">
                var postId = {{ post.id }};
                var postStartTime = {{ post.startTime }};
                var postEndTime = {{ post.endTime }};

                $videoElement = $('video#'+'{{ mediaFile.getID }}');
                $timeComment = $('#time-comment-' + '{{  post.id }}');

	            $videoElement[0].addEventListener('loadedmetadata', function(event) {
	                $duration = $videoElement[0].duration;
	                $timeComment = $('#time-comment-'+'{{  post.id }}');
	
	                startTimePercentage = ((100*postStartTime)/$duration).toFixed(2);
	                endTimePercentage = ((100*postEndTime)/$duration).toFixed(2);
	                widthPercentage = (endTimePercentage - startTimePercentage).toFixed(2);
	                
	                $timeComment.css('left', startTimePercentage + '%');
	                $timeComment.css('width', widthPercentage + '%');
	                $timeComment.css('background', 'red');
	            }, true);
	            
                $(document).ready(function() {
                    initMiniVideoTimeline({{ mediaFile.getId }}, 
                                       {{ post.getId }}, 
                                       {{ post.startTime }}, 
                                       {{ post.endTime }}
                                       );
                });
	        </script>
	    </div>
    </div>
</div>
{# end of testing --------------------------- #}

{% endif %}
                    	
<div class="row-fluid">
    {{ post.content|nl2br }}
</div>