<div class="row text-center" id="mediaFileWrap">
	{# mediatype 0 = image 1 = video 2 = audio 9 = other #}

	{% if mediaFile is not defined %}
			<div class="lead text-center" style="padding-top: 30px;">No Media</div>
		</div> <!-- /mediaFileWrap div-->
    {% elseif mediaFile.type == 0 %}
		{# -------------------------   if type of media is an IMAGE   ------------------- #}
			<img class="thread-content-image" src="{{ asset(mediaFile.getResource.getWebPath) }}" />
			<p></p>
		</div> <!-- /mediaFileWrap div -->
	{% elseif mediaFile.type == 1 %}
		{# -------------------------   if type of media is a VIDEO   ---------------- #}
			<div class="thread-video-supplemental-controls-wrap">
				<ul class="list-unstyled supp-video-controls">
					<li>
						<a href="#" id="video-speed" title="Click to change video playback speed">
							<img src="{{ asset('bundles/imdcterptube/img/player/playback-speed-normal.png') }}" />
						</a>
					</li>
					<li>
						<a href="#" id="closed-caption-button" title="Click to show/hide captions">
							<img src="{{ asset('bundles/imdcterptube/img/player/closedCaptioning.jpg') }}" />
						</a>
					</li>
				</ul>

				<video class="preview" width="100%" id="{{ mediaFile.getID }}" preload="auto">
					<source src="{{ asset(mediaFile.getResource.getWebPathWebm) }}"/>
					<source src="{{ asset(mediaFile.getResource.getWebPath) }}"/>
				</video>
			</div> <!-- /.thread-video-supplemental-controls-wrap -->

			<script type="text/javascript">
				//  this is required to pass twig stuff to js file //
				$(document).ready(function() {
					var globalPlayer = createPlayer('#{{ mediaFile.getID }}', 
							'{{ asset('bundles/imdcterptube/img/player/add.png') }}',
							'#PostFormFromThread_startTime',
							'#PostFormFromThread_endTime'
					);

					initVideoSpeedFunction(document.getElementById("{{ mediaFile.getID }}"),
							'{{ asset('bundles/imdcterptube/img/player/playback-speed-normal.png') }}',
							'{{ asset('bundles/imdcterptube/img/player/playback-speed-fast.png') }}',
							'{{ asset('bundles/imdcterptube/img/player/playback-speed-slow.png') }}'
					);

					initVideoCaptioningFunction(document.getElementById("{{ mediaFile.getID }}"),
							'{{ asset('bundles/imdcterptube/img/player/closedCaptioning.jpg') }}',
							'{{ asset('bundles/imdcterptube/img/player/closedCaptioningDown.jpg') }}'
					);
				});
			</script>
		</div> <!-- /.mediaFileWrap div -->
	{% elseif mediaFile.type == 2 %}
		{# -----------------------------   if type of media is AUDIO   --------------------- #}
			<audio controls style="width: 100%">
				<source src="{{ asset(mediaFile.getResource.getWebPath) }}" />
				Your browser does not support the audio element, please upgrade to Google Chrome
			</audio>
		</div> <!-- /mediaFileWrap div -->
	{% endif %}

	<div class="row thread-title-wrap">
		<div class="col-md-12">
			<h1>{{ thread.title }}</h1>
		</div>
	</div>

	<div class="row thread-content-wrap">
		<div class="col-md-12">
			<div id="maincontent">
				{{ thread.content|nl2br }}
			</div>
		</div>
	</div> <!-- /.thread-content-wrap -->

	<div class="row thread-edited-element-wrap">
		<div class="col-md-12">
			<ul class="list-unstyled list-inline">
				<li><span class="edited-text-span" title="{{ thread.creationDate|date('o-m-d H:i') }}">Created {{ time_diff(thread.creationDate)}}</span></li>
				{% if thread.editedBy is not null %}
					<li><span class="edited-text-span">Edited by {{ thread.editedBy }} <span title="{{ thread.editedAt|date('o-m-d H:i') }}">{{ time_diff(thread.editedAt) }}</span></span></li>
				{% endif %}
			</ul>
		</div>
	</div> <!-- /.thread-edited-element-wrap -->

	<div class="row" class="thread-creator-details">
		<div class="col-md-12">
			{# include('IMDCTerpTubeBundle:Thread:smalluserinfo.html.twig') #}
			{% set member = thread.creator %}
			{% include('IMDCTerpTubeBundle:Member:infoBlock.html.twig') %}
		</div> <!-- /col-md-12 -->
	</div> <!-- /.thread-creator-details end of user-deets -->
