{#
included by:
_Forum:list.html.twig
_Home:index.html.twig
#}

{% import 'IMDCTerpTubeBundle:Media:macros.html.twig' as _media %}

<div class="tt-grid-div">
    {% for forum in forums %}
        {% if loop.index % 4 == 1 %}
            <div class="row">
                <ul class="list-unstyled">
        {% endif %}
        <li>
            <div class="col-md-3">
                <div class="thumbnail text-center tt-grid-div-body">
                    <div class="text-right tt-grid-div-perms">
                        {% include 'IMDCTerpTubeBundle:Base:permissionIcons.html.twig' with {'object': forum} %}
                    </div>
                    <div class="tt-grid-div-thumbnail">
                        <a href="{{ path('imdc_forum_view', {'forumid': forum.getId} ) }}">
                            {{ _media.element2(forum.getTitleMedia, 'forum', forum.getTitleText) }}
                        </a>
                        {{ _media.expand(forum.getTitleMedia) }}
                    </div>
                    <div class="tt-grid-div-primary">
                        <a href="{{ path('imdc_forum_view', {'forumid': forum.getId} ) }}" title="{{ forum.getTitleText}}">
                            <span class="tt-title">
                                {% if forum.getTitleText %}
                                    {{ forum.getTitleText }}
                                {% else %}
                                    {{ '<em>no title</em>'|raw }}
                                {% endif %}
                            </span>
                        </a>
                        <span class="text-muted">
                            <i class="fa fa-user" title="Creator"></i> {{ forum.getCreator }}&ensp;
                            <i class="fa fa-pencil-square-o" title="Topic count"></i> {{ forumThreadCount[loop.index0] }} topics<br />
                            <i class="fa fa-clock-o" title="Last activity {{ time_diff(forum.getLastActivity) }}"></i> {{ forum.getLastActivity|date('M d Y h:i a') }}
                        </span>
                    </div>
                </div>
            </div>
        </li>
        {% if loop.index % 4 == 0 or loop.last %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
</div>
