{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}
{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block stylesheets %}
    {{  parent() }}
    <link href="{{ asset('bundles/imdcterptube/css/memberDirectory.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block title %}Public Member Listing{% endblock title %}

{% block herounit_wrap %}
<h1>Public Member Directory</h1>
{% endblock herounit_wrap %}

{% block underherounitrow1 %}

<div class="row-fluid">
    {{ knp_pagination_render(pagination) }}
</div>

<div class="row-fluid">
    <ul class="unstyled">
        <li{% if pagination.isSorted('u.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Username', 'u.username') }}</span></li>
        <li{% if pagination.isSorted('p.interestedInMentoredByMentor') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, "#{'profile.show.interestedInMentoredByMentor.title'|trans }", 'p.interestedInMentoredByMentor') }}</li>
        <li{% if pagination.isSorted('p.interestedInMentoredByInterpreter') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, "#{'profile.show.interestedInMentoredByInterpreter.title'|trans }", 'p.interestedInMentoredByInterpreter') }}</li>
        <li{% if pagination.isSorted('p.interestedInMentoringSignLanguage') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, "#{'profile.show.interestedInMentoringSignLanguage.title'|trans }", 'p.interestedInMentoringSignLanguage') }}</li>
        <li{% if pagination.isSorted('p.interestedInMentoringInterpreter') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, "#{'profile.show.interestedInMentoringInterpreter.title'|trans }", 'p.interestedInMentoringInterpreter') }}</li>
        <li{% if pagination.isSorted('p.interestedInMentoringMentor') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, "#{'profile.show.interestedInMentoringMentor.title'|trans }", 'p.interestedInMentoringMentor') }}</li>
    </ul>
</div>

<ul class="thumbnails">
{% set members = pagination %}
{% for member in members if member.getProfile %}
    {% set profile = member.getProfile %}
    <li class="span3">
        <div class="thumbnail text-center">
            <a href="{{ path('imdc_terp_tube_user_profile_specific', {'userName' : member.userName}) }}"><img class="avatar" alt="avatar" src="{{ profile.avatar ? asset(profile.avatar.getResource.getWebPath):asset('bundles/imdcterptube/img/no_avatar.jpg')}}" alt="" width="96px" /></a>
            <h3>{{ member.userName }}</h3>
            <p>Joined: {{ member.joinDate|date('F j, Y') }}</p>
            <p>{{'profile.show.interestedInMentoredByMentor.title'|trans}} : {{ profile.interestedInMentoredByMentor is null?'form.generic.empty'|trans: profile.interestedInMentoredByMentor? 'form.generic.yes'|trans: 'form.generic.no'|trans }}</p>
            <p>{{'profile.show.interestedInMentoredByInterpreter.title'|trans}} : {{ profile.interestedInMentoredByInterpreter is null?'form.generic.empty'|trans: profile.interestedInMentoredByInterpreter? 'form.generic.yes'|trans: 'form.generic.no'|trans }}</p>
            <p>{{'profile.show.interestedInMentoringSignLanguage.title'|trans}} : {{ profile.interestedInMentoringSignLanguage is null?'form.generic.empty'|trans: profile.interestedInMentoringSignLanguage? 'form.generic.yes'|trans: 'form.generic.no'|trans }}</p>
            <p>{{'profile.show.interestedInMentoringInterpreter.title'|trans}} : {{ profile.interestedInMentoringInterpreter is null?'form.generic.empty'|trans: profile.interestedInMentoringInterpreter? 'form.generic.yes'|trans: 'form.generic.no'|trans }}</p>
            <p>{{'profile.show.interestedInMentoringMentor.title'|trans}} : {{ profile.interestedInMentoringMentor is null?'form.generic.empty'|trans: profile.interestedInMentoringMentor? 'form.generic.yes'|trans: 'form.generic.no'|trans }}</p>
            <p>
                {% if app.user == member %}
                <a class="btn btn-primary" href="{{ path('imdc_terp_tube_user_profile_specific', {'userName' : member.userName}) }}">View Your Profile</a>
                {% else %}
                <a class="btn btn-primary" href="{{ path('imdc_terp_tube_user_profile_specific', {'userName' : member.userName}) }}">View Profile</a>
                {% endif %}
                {% if app.user == member %}
                {% else %}
                <a class="btn" href="{{ path('imdc_remove_from_friends_list', {'userid' : member.id, 'redirect' : 'imdc_friends_list_show_all'} ) }}">Remove from Friend's list</a>
                {% endif %}
            </p>
        </a>
    </li>
{% endfor %}
</ul>

<div class="row-fluid">
    {{ knp_pagination_render(pagination) }}
</div>

{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% endblock underherounitrow2 %}