{#
included by:
Forum:view.html.twig
#}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% set profile = member.getProfile %}

<div class="row">
	<div class="col-md-12">
		<div style="display: inline-block;" id="avatar-wrap">
			<a href="{{ path('imdc_profile_user', {'userName':member.getUserName()} ) }}">
				<img class="img-responsive avatar" alt="avatar" title="" src="{{ profile.avatar ? asset(profile.avatar.getResource.getWebPath):asset('bundles/imdcterptube/img/no_avatar.jpg')}}" />
			</a>
		</div> <!-- /avatar-wrap -->
	
		<div style="display: inline-block; vertical-align: top;" id="thread-creator-info-wrap">
			<a href="{{ path('imdc_profile_user', {'userName':member.getUserName()} ) }}">{{ member.getUserName() }}</a>
			<p>
				<ul class="list-unstyled list-inline thread-creator-tools-wrap">
					<li>
						{% if app.user.getId == member.getId %}
							{% set thisistheuser = true %}
							<i class="fa fa-envelope" style="color:gray"></i>
						{% else %}
							<a class="toolPop" href="{{ path('imdc_message_new_user', {'userid':member.getUserName()}) }}" title="Click to send {{ member.getUserName }} a message"><i class="fa fa-envelope"></i></a>
						{% endif %}
					</li>
					<li>
						{% if thisistheuser is defined %}
							<i class="fa fa-user toolPop" style="color:gray" title="This is you"></i>
						{% elseif app.user.isUserOnFriendsList(member) %}
							<i class="fa fa-group toolPop" style="color:green" title="You are already friends"></i>
						{% else %}
							<a class="toolPop" href="{{ path('imdc_member_friend_add', {'userid':member.getId} ) }}" title="Click to add {{ member.username }} to friends list"><i class="fa fa-plus"></i></a>
						{% endif %}
					</li>
				</ul>
			</p>
			<ul class="list-unstyled">
				<li class="text-muted" style="font-size:80%;">{{ 'member.infoBlock.joined'|trans }}: {{ member.getJoinDate()|date('M j Y') }}</li>
				<li class="text-muted" style="font-size:80%;">{{ 'member.infoBlock.postCount'|trans }}: {{ member.getPostCount() }}</li>
			</ul>
			{# <p class="muted" style="font-size:80%;">{{ 'member.infoBlock.joined'|trans }}: {{ member.getJoinDate()|date('M j Y') }}</p> #}
			{# <p class="muted" style="font-size:80%;">{{ 'member.infoBlock.postCount'|trans }}: {{ member.getPostCount() }}</p> #}
		</div> <!--  /thread-creator-info-wrap -->
	</div>
</div> <!-- /row -->
