{% macro _message(user, user2, button) %}
    <a {% if button %}class="btn btn-default" {% endif %}
       href="{{ path('imdc_message_new', {'userid': user2.username}) }}"
       title="Send a message to {{ user2.username }}">
        <i class="fa fa-envelope-o"></i>
    </a>
{% endmacro %}

{% macro _mentor(user, user2, button) %}
    {% if user.isUserOnMentorList(user2) %}
        {% if not button %}
            <i class="fa fa-star" title="This user is your mentor"></i>
        {% endif %}
    {% else %}
        <a {% if button %}class="btn btn-default" {% endif %}
           href="{{ path('imdc_invitation_mentor', {'id': user2.id}) }}"
           title="Invite user to be your mentor">
            <i class="fa fa-inbox"></i>
        </a>
    {% endif %}
{% endmacro %}

{% macro _mentee(user, user2, button) %}
    {% if user.isUserOnMenteeList(user2) %}
        {% if not button %}
            <i class="fa fa-star" title="This user is your mentee"></i>
        {% endif %}
    {% else %}
        <a {% if button %}class="btn btn-default" {% endif %}
           href="{{ path('imdc_invitation_mentee', {'id': user2.id}) }}"
           title="Invite user to be your mentee">
            <i class="fa fa-star-o"></i>
        </a>
    {% endif %}
{% endmacro %}

{% macro _friend(user, user2, button) %}
    {% if user.isUserOnFriendsList(user2) %}
        {% if not button %}
            <i class="fa fa-minus" title="This user is your friend"></i>
        {% endif %}
    {% else %}
        <a {% if button %}class="btn btn-default" {% endif %}
           href="{{ path('imdc_member_friend_add', {'userid': user2.id}) }}"
           title="Click to add {{ user2.username }} to your friends list">
            <i class="fa fa-plus"></i>
        </a>
    {% endif %}
{% endmacro %}

{% macro connect_tools(user, user2, style) %}
    {% import _self as _member %}

    {% set button = style == 'button' %}
    {% set message = _member._message(user, user2, button) %}
    {% set mentor = _member._mentor(user, user2, button) %}
    {% set mentee = _member._mentee(user, user2, button) %}
    {% set friend = _member._friend(user, user2, button) %}

    {% if style == 'button' %}
        {% if user.id != user2.id %}
            {{ message }}
            {{ mentor }}
            {{ mentee }}
            {{ friend }}
        {% endif %}
    {% else %}
        <ul class="list-unstyled list-inline">
            {% if user.id != user2.id %}
                <li>{{ message }}</li>
                <li>{{ mentor }}</li>
                <li>{{ mentee }}</li>
                <li>{{ friend }}</li>
            {% endif %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro _controls(style) %}
    {% if style == 'grid' %}
        {% set style = 'list' %}
        {% set style_icon = 'fa-th-list' %}
        <button class="btn btn-default table-component-toggle-selection" title="Toggle selection"><i class="fa fa-check-square-o"></i></button>
    {% else %}
        {% set style = 'grid' %}
        {% set style_icon = 'fa-th-large' %}
    {% endif %}
    <a class="btn btn-default" href="{{ path('imdc_member_list', {'style': style}) }}"><i class="fa {{ style_icon }}"></i></a>
{% endmacro %}

{% macro list_users_list(users, is_selection) %}
    {% import _self as _member %}

    <div class="table-responsive">
        <table class="table table-hover tt-list-table">
            <thead>
                <tr>
                    {% if is_selection %}
                        <th class="tt-list-table-col-item"><input type="checkbox" class="table-component-toggle-selection" /></th>
                    {% endif %}
                    <th class="tt-list-table-col-thumbnail"><!-- avatar --></th>
                    <th class="tt-list-table-col-primary">Username</th>
                    <th>Posts</th>
                    <th>Joined</th>
                </tr>
            </thead>
            <tbody>
                {% if users|length > 0 %}
                    {% for user in users %}
                        <tr>
                            {% if is_selection %}
                                <td class="tt-list-table-col-item"><input type="checkbox" class="table-component-item" data-uid="{{ user.id }}" {% if app.user == user %}disabled {% endif %}/></td>
                            {% endif %}
                            <td class="tt-list-table-col-thumbnail">
                                {% include 'IMDCTerpTubeBundle:Member:avatar.html.twig' with {'member': user} %}
                            </td>
                            <td class="tt-list-table-col-primary">
                                    <span>
                                        {% include 'IMDCTerpTubeBundle:Member:username.html.twig' with {'member': user} %}
                                        {% if app.user == user %} <span class="tt-this-is-you">(you)</span>{% endif %}
                                    </span>
                                <span>{{ _member.connect_tools(app.user, user, 'button') }}</span>
                            </td>
                            <td>{{ user.getPostCount }}</td>
                            <td>{{ user.getJoinDate|date('M j Y') }}</td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="{% if is_selection %}5{% else %}4{% endif %}"><div class="text-center">None found</div></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% macro list_users_grid(users, is_selection) %}
    {% trans_default_domain 'IMDCTerpTubeBundle' %}
    {% import _self as _member %}

    <div class="tt-grid-div">
        {% if users|length > 0 %}
            {% for user in users %}
                {% if loop.index % 4 == 1 %}
                    <div class="row">
                {% endif %}
                <div class="col-md-3">
                    <div class="thumbnail text-center tt-grid-div-body">
                        {% if is_selection %}
                            <div class="tt-grid-div-item">
                                <input type="checkbox" class="table-component-item" data-uid="{{ user.id }}" {% if app.user == user %}disabled {% endif %}/>
                            </div>
                        {% endif %}
                        <div class="tt-grid-div-thumbnail">
                            <div>{% include 'IMDCTerpTubeBundle:Member:avatar.html.twig' with {'member': user} %}</div>
                        </div>
                        <div class="tt-grid-div-primary">
                            <p>
                                {% include 'IMDCTerpTubeBundle:Member:username.html.twig' with {'member': user} %}
                                {% if is_selection and app.user == user %} <span class="tt-this-is-you">(you)</span>{% endif %}
                            </p>
                            <p class="text-muted">
                                <i class="fa fa-pencil-square-o" title="{{ 'member.infoBlock.postCount'|trans }}"></i> {{ user.postCount }} posts<br />
                                <i class="fa fa-clock-o" title="{{ 'member.infoBlock.joined'|trans }}"></i> {{ user.joinDate|date('M j Y') }}
                            </p>
                            {{ _member.connect_tools(app.user, user, 'ul') }}
                        </div>
                    </div>
                </div>
                {% if loop.index % 4 == 0 or loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p class="text-center" style="margin-bottom: 20px;">None found</p>
        {% endif %}
    </div>
{% endmacro %}

{% macro list_users(style, users, is_selection) %}
    {% import _self as _member %}

    <div class="row">
        <div class="col-md-12 text-right">{{ _member._controls(style) }}</div>
    </div>
    {% if style == 'list' %}
        {{ _member.list_users_list(users, is_selection) }}
    {% else %}
        {{ _member.list_users_grid(users, is_selection) }}
    {% endif %}
    <div class="text-center">{{ knp_pagination_render(users) }}</div>
{% endmacro %}
