{% trans_default_domain 'IMDCTerpTubeBundle' %}

<div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	    {% set pagParams = pagination.getParams %}
	    {% if pagination.isSorted('u.username') and 'asc' in pagParams %}Username (ascending)
	    {% elseif pagination.isSorted('u.username') and 'desc' in pagParams %}Username (descending)
	    {% elseif pagination.isSorted('p.interestedInMentoredByMentor') %}Searching for Mentor
	    {% elseif pagination.isSorted('p.interestedInMentoredByInterpreter') %}Searching for Interpreter Mentor
	    {% elseif pagination.isSorted('p.interestedInMentoringSignLanguage') %}Open to Mentoring others in Sign Language
	    {% elseif pagination.isSorted('p.interestedInMentoringInterpreter') %}Open to Mentoring Interpreters
	    {% elseif pagination.isSorted('p.interestedInMentoringMentor') %}Open to Mentoring other Mentors
	    {% else %}Sort
	    {% endif %}
    	<span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li{% if pagination.isSorted('u.username') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'profile.show.userName'|trans, 'u.username') }}</li>
        <li{% if pagination.isSorted('p.interestedInMentoredByMentor') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'profile.show.interestedInMentoredByMentor.title'|trans, 'p.interestedInMentoredByMentor') }}</li>
        <li{% if pagination.isSorted('p.interestedInMentoredByInterpreter') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'profile.show.interestedInMentoredByInterpreter.title'|trans, 'p.interestedInMentoredByInterpreter') }}</li>
        <li{% if pagination.isSorted('p.interestedInMentoringSignLanguage') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'profile.show.interestedInMentoringSignLanguage.title'|trans, 'p.interestedInMentoringSignLanguage') }}</li>
        <li{% if pagination.isSorted('p.interestedInMentoringInterpreter') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'profile.show.interestedInMentoringInterpreter.title'|trans, 'p.interestedInMentoringInterpreter') }}</li>
        <li{% if pagination.isSorted('p.interestedInMentoringMentor') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'profile.show.interestedInMentoringMentor.title'|trans, 'p.interestedInMentoringMentor') }}</li>
    </ul>
</div>
