{#
included by:
_Group:addMembers.html.twig
_Group:view.html.twig
_Member:index.html.twig
#}

{% import 'IMDCTerpTubeBundle:Member:macros.html.twig' as _member %}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% if isSelection is not defined %}
    {% set isSelection = false %}
{% endif %}

<div class="row">
{% for member in members %}
{#    {% if loop.index % 4 == 1 %}
            <ul class="list-unstyled">
    {% endif %}
    <li>#}
        <div class="col-md-3">
            <div class="thumbnail text-center tt-member-thumbnail">
                <div class="row">
                    <div class="col-md-12">
                        <div>{% include 'IMDCTerpTubeBundle:Member:avatar.html.twig' %}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p style="font-size: 24px;">
                            {% include 'IMDCTerpTubeBundle:Member:username.html.twig' %}
                        </p>
                        <p class="text-muted">
                            <i class="fa fa-pencil-square-o" title="{{ 'member.infoBlock.postCount'|trans }}"></i> {{ member.postCount }} posts<br />
                            <i class="fa fa-clock-o" title="{{ 'member.infoBlock.joined'|trans }}"></i> {{ member.joinDate|date('M j Y') }}
                        </p>
                        {{ _member.connect_tools(app.user, member, 'ul') }}
                    </div>
                </div>
            </div>
        </div>
{#    </li>
    {% if loop.index % 4 == 0 or loop.last %}
            </ul>
    {% endif %}#}
{% endfor %}
</div>
