{#
ajaxed by:
TerpTube.Core.MediaChooser
#}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

<div class="container-fluid">
	<div class="row">
		<table id="files-table" class="table table-condensed table-hover table-striped">
			<thead>
				<tr>
					<th><i class="fa fa-wrench"></i> Tools</th>
					<th>Name</th>
					<th>Type</th>
					<th>Created</th>
					<th>Size</th>
				</tr>
			</thead>
			<tbody>
				{% if resourceFiles and resourceFiles|length > 0 %}
					{% for resourceFile in resourceFiles %}
						<tr>
							<td>
								{% if resourceFile.getMetaData.getSize == -1 %}
									<a class="preview-button disabled" href='#'
										data-type="{{ resourceFile.type }}"
										data-url="{{ path('imdc_myfiles_preview', {'mediaId': resourceFile.id}) }}"
										data-val="{{ resourceFile.id }}">
											<i class="fa fa-play-circle"></i> {{ 'filesGateway.previewLink'|trans }}
									</a>
								{% else %}
									<a class="preview-button" href='#'
										data-type="{{ resourceFile.type }}"
										data-url="{{ path('imdc_myfiles_preview', {'mediaId': resourceFile.id}) }}"
										data-val="{{ resourceFile.id }}">
											<i class="fa fa-play-circle"></i> {{ 'filesGateway.previewLink'|trans }}
									</a>
								{% endif %}
								<a class="select-button" href="#" data-val="{{ resourceFile.id }}" data-title="{{ resourceFile.title }}"><i class="fa fa-share"></i> Select</a>
							</td>
							<td>{{ resourceFile.title }}</td>
							<td>{{ ('filesGateway.type.'~resourceFile.type)|trans }}</td>
							<td>{{ resourceFile.getMetaData.getTimeUploaded|date('g:ia M j') }}</td>
							{% if resourceFile.getMetaData.getSize == -1 %}
								<td><i class="fa fa-spinner fa-spin fa-large"></i></td> {% else %}
								<td>{{ '%.2f' |format(resourceFile.getMetaData.getSize / 1024 / 1024) }}MB</td>
							{% endif %}
						</tr>
					{% endfor %}
				{% else %}
					<tr>{{ 'filesGateway.noFiles'|trans }}</tr>
				{% endif %}
			</tbody>
		</table>
		<script type="text/javascript">
            context{% if isPost %}Post{% endif %}.mediaChooser.bindUIEventsSelectFromMyFiles();
		</script>
	</div>
	<div class="row">
		<div id="preview"></div>
	</div>
</div>
