{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Permissions</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Access Level</th>
                <td>{{ entity.accessLevel }}</td>
            </tr>
            <tr>
                <th>Users with Access</th>
                <td>
                {% for users in entity.usersWithAccess %}
                    {{ usersWithAccess.getUsername|join(', ') }}
                {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Groups with Access</th>
                <td>
                {% for usergroups in entity.userGroupsWithAccess %}
                    {{ userGroupsWithAccess.getTitle|join(', ') }}
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('permissions') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('permissions_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
