{% macro controls(style) %}
    {% trans_default_domain 'IMDCTerpTubeBundle' %}

    <button class="btn btn-danger my-files-selector-bulk-action" title="{{ 'filesGateway.deleteLink'|trans }}" data-action="1"><i class="fa fa-trash-o"></i></button>
    {% if style == 'grid' %}
        {% set style = 'list' %}
        {% set styleIcon = 'fa-th-list' %}
        <button class="btn btn-default my-files-selector-toggle-selection" title="Toggle selection" disabled="disabled"><i class="fa fa-check-square-o"></i></button>
    {% else %}
        {% set style = 'grid' %}
        {% set styleIcon = 'fa-th-large' %}
    {% endif %}
    <a class="btn btn-default my-files-selector-toggle-style" href="{{ path('imdc_myfiles_list', {'style': style}) }}"><i class="fa {{ styleIcon }}"></i></a>
{% endmacro %}

{% macro type_to_icon(type) %}
    {% if type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_VIDEO') %}
        {% set icon = 'fa-file-video-o' %}
        {% set type_str = 'Video' %}
    {% elseif type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_AUDIO') %}
        {% set icon = 'fa-file-audio-o' %}
        {% set type_str = 'Audio' %}
    {% elseif type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_IMAGE') %}
        {% set icon = 'fa-file-photo-o' %}
        {% set type_str = 'Image' %}
    {% elseif type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_OTHER') %}
        {% set icon = 'fa-file-o' %}
        {% set type_str = 'Other' %}
    {% endif %}
    <i class="fa {{ icon }} fa-2x" title="{{ type_str }}"></i>
{% endmacro %}

{% macro format_size(size) %}
    {% if size == -1 %}
        <i class="fa fa-spinner fa-spin fa-large"> </i>
    {% else %}
        {{ '%.2f'|format(size / 1024 / 1024) }} MB
    {% endif %}
{% endmacro %}

{% macro thumbnail(path, css_class) %}
    {% set css_class = css_class|default('img-responsive center-block tt-thumbnail') %}

    {% if path is not null %}
        <img class="{{ css_class }}" src="{{ asset(path) }}" />
    {% else %}
        <span class="fa-stack fa-lg">
            <i class="fa fa-file-o fa-stack-2x"></i>
            <i class="fa fa-play-circle fa-stack-1x"></i>
        </span>
    {% endif %}
{% endmacro %}

{% macro element(media, enable_controls, preload_media) %}
    {% set enable_controls = enable_controls is not null ? enable_controls : true %}
    {% set preload_media = preload_media is not null ? preload_media : false %}

    {% if media.type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_VIDEO') %}
        {% if media.isInterpretation %}
            <video class="tt-media-pip-video"
                    {% if enable_controls %} controls {% endif %}
                    {% if media.source.getThumbnailPath is not empty %} poster="{{ asset(media.source.getThumbnailPath) }}" {% endif %}
                   preload="{% if preload_media %}auto{% else %}none{% endif %}">
                <source src="{{ asset(media.source.getResource.getWebPath) }}" />
            </video>
        {% endif %}
        <video class="tt-media-video"
                {% if enable_controls %} controls {% endif %}
                {% if media.getThumbnailPath is not empty %} poster="{{ asset(media.getThumbnailPath) }}" {% endif %}
               preload="{% if preload_media %}auto{% else %}none{% endif %}">
            <source src="{{ asset(media.getResource.getWebPath) }}" />
        </video>
    {% elseif media.type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_AUDIO') %}
        <audio class="tt-media-audio"
                {% if enable_controls %} controls {% endif %}
               preload="{% if preload_media %}auto{% else %}none{% endif %}">
            <source src="{{ asset(media.getResource.getWebPath) }}" />
            Your browser does not support the audio element, please upgrade to Google Chrome
        </audio>
    {% elseif media.type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_IMAGE') %}
        <img class="img-responsive center-block tt-media-img" src="{{ asset(media.getResource.getWebPath) }}" alt="{{ media.title }}" title="{{ media.title }}" />
    {% elseif media.type == constant('IMDC\\TerpTubeBundle\\Entity\\Media::TYPE_OTHER') %}
        <div class="row">
            <div class="col-md-3 thumbnail text-center">
                <a href="{{ asset(media.getResource.getWebPath) }}">
                    <p><i class="fa fa-file fa-5x"></i></p>
                    <div>{{ media.title }}</div>
                </a>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro no_element() %}
    <i class="fa fa-question fa-3x"></i><br />
    <em>no media</em>
{% endmacro %}

{% macro video_controls() %}
    <div class="tt-media-video-controls">
        <img id="videoSpeed" src="{{ asset('bundles/imdcterptube/img/player/playback-speed-normal.png') }}" title="Click to change video playback speed" />
        {#<img id="closedCaptions" src="{{ asset('bundles/imdcterptube/img/player/closedCaptioning.jpg') }}" title="Click to show/hide captions" />#}
    </div>
{% endmacro %}
