{% extends "AcmeStoreBundle:Default:basetemplate.html.twig" %}

{% block title %}Acme Store Bundle Pages{% endblock title %}

{% block stylesheets %}
	{%include "AcmeStoreBundle:Product:stylesheets.html.twig" %}
{% endblock stylesheets %}

{% block herounit %}
	<h1>{{ page_title }}</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
	{% for prod in products %}
		{% if prod.id %}
			<div class="span4">
				<h2>Name: {{ prod.name }}</h2>
				<p>
					Description: {{ prod.description }}
				</p>
				<p>
					Price: {{ prod.price }}
				</p>
				<p>
					ID: {{ prod.id }}
				</p>
			</div><!--/span-->
		{% else %}
			<div class="span4">
				<p>
					No product found with id: {{ id }}
				</p>
			</div>
		{% endif %}	
	{% endfor %}
{% endblock underherounitrow1 %}
