{#
included by:
_Post:post.html.twig
_Thread:view.html.twig
#}

<div class="col-md-12">
    <div class="text-right tt-date">
        {{ post.created|date('Y-m-d g:i a') }}
        {% if post.editedBy %}
            (edited {{ post.editedAt|date('Y-m-d g:i a') }} by {{ post.editedBy.username }})
        {% endif %}
    </div>
</div>
<div class="col-md-12">
    {% if post.attachedFile|length != 0 %}
        <div>
            {% include 'IMDCTerpTubeBundle:Media:element.html.twig' with {'mediaFile': post.attachedFile[0]} %}
        </div>
    {% endif %}
    {% if post.isTemporal %}
        <div class="tt-post-timeline-container">
            <div class="tt-post-timeline">
                <div class="tt-post-timeline-keypoint post-timeline-keypoint" data-pid="{{ post.id }}"></div>
            </div>
        </div>
    {% endif %}
    <div>
        <p>{{ post.content|nl2br }}</p>
    </div>
</div>
