{#
ajaxed by:
TerpTube.Controller.Post
#}

{#{% if notPostReply is not defined %}#}
    {#{% set notPostReply = true %}#}
{#{% endif %}#}

{% set isPostReply = isPostReply is defined ? isPostReply : post.parentPost is not empty %}

<div class="post-container" data-pid="{{ post.id }}">
    <div class="col-md-12"{% if isPostReply %} style="padding-top: 20px;"{% endif %}>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form.attachedFile) }}
        {% if form.startTime is defined %}
            {{ form_widget(form.startTime) }}
            {{ form_widget(form.endTime) }}
        {% endif %}
        {{ form_row(form.content) }}
        {#<a class="btn btn-success post-submit" href="#" data-pid="{{ post.id }}" data-loading-text="Creating reply..."><i class="fa fa-check"></i> Reply</a>#}
        <a class="btn btn-success post-submit-new" href="#" data-pid="{{ post.id }}" data-loading-text="Creating reply..."><i class="fa fa-check"></i> Reply</a>
        <a class="btn btn-danger post-reset" href="#" data-pid="{{ post.id }}"><i class="fa fa-times"></i> Reset</a>
        {% if isPostReply %}
            <a class="btn btn-danger post-cancel" href="#" data-pid="{{ post.id }}"><i class="fa fa-times"></i> Cancel</a>
        {% endif %}
        {{ form_end(form) }}
        <script type="text/javascript">
            if (typeof $tt !== "undefined") $tt.Core.Helper.autoSize();
        </script>
    </div>
</div>
