{#
ajaxed by:
TerpTube.Controller.Post
#}

{% if notPostReply is not defined %}
    {% set notPostReply = true %}
{% endif %}

<div class="col-md-12 " style="padding-top: 20px;">
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {#{% include 'IMDCTerpTubeBundle:Media:chooserForm.html.twig' %}#}
    {{ form_widget(form.attachedFile) }}
    {% if form.startTime is defined %}
        {{ form_widget(form.startTime) }}
        {{ form_widget(form.endTime) }}
    {% endif %}
    {{ form_row(form.content) }}
    <a class="btn btn-success post-submit" href="#" data-pid="{{ post.id }}" data-loading-text="Creating reply..."><i class="fa fa-check"></i> Reply</a>
    <a class="btn btn-danger post-reset" href="#" data-pid="{{ post.id }}"><i class="fa fa-times"></i> Reset</a>
    {% if not notPostReply %}
        <a class="btn btn-danger post-cancel" data-pid="{{ post.id }}"><i class="fa fa-times"></i> Cancel</a>
    {% endif %}
    {{ form_end(form) }}
    {#{% include 'IMDCTerpTubeBundle:Media:uploadForms.html.twig' %}#}
    <script type="text/javascript">
        $(".autosize").autosize();
    </script>
</div>
