{#
ajaxed by:
TerpTube.Controller.Post
#}

<div class="col-md-12">
	{{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form.attachedFile) }}
    {% if form.startTime is defined %}
        {{ form_widget(form.startTime) }}
        {{ form_widget(form.endTime) }}
    {% endif %}
    {{ form_row(form.content) }}
    <a class="btn btn-success post-submit" href="#" data-pid="{{ post.id }}" data-loading-text="Editing post..."><i class="fa fa-check"></i> Edit</a>
    <a class="btn btn-danger post-cancel" href="#" data-pid="{{ post.id }}"><i class="fa fa-times"></i> Cancel</a>
	{{ form_end(form) }}
	<script type="text/javascript">
        $(".autosize").autosize();
	</script>
</div>
