{#
included by:
Thread:viewthread.html.twig
#}

<script type="text/javascript">
	var options = new Array();

	if (typeof authorColors['{{ postReply.author.getId }}'] === 'undefined') {
		authorColors['{{ postReply.author.getId }}'] = Player.getRandomColor();
	}

	options.color =  authorColors['{{ postReply.author.getId }}'];
	options.drawOnTimeLine = {{ postReply.isTemporal ? 'true' : 'false' }};

	var newreply = new KeyPoint('{{ postReply.id }}',
			'{{ postReply.startTime }}',
			'{{ postReply.endTime }}',
			'reply',
			options
	);

	postArray.push(newreply);
	console.log(newreply.color);
</script>

<div class="col-md-12">
	<div class="row comment-reply-wrap" id="post-{{ postReply.id }}-wrap" data-pid="{{ postReply.id }}">
		<div class="col-md-1" id="nested-comment-spacer"></div>
		<div class="col-md-11 nested-comment-wrap">
			<div class="row">
				<div class="col-md-2 post-reply-user-info-wrap">
					<div class="post-reply-user-avatar-wrap">
						<img class="img-responsive center-block avatar" alt="avatar" title="" src="{{ postReply.author.getProfile.avatar ? asset(postReply.author.getProfile.avatar.getResource.getWebPath):asset('bundles/imdcterptube/img/no_avatar.jpg')}}" />
					</div>
					<div class="text-center post-reply-user-info">
						<a href="{{ path('imdc_terp_tube_user_profile_specific', {'userName':post.author.getUserName}) }}">{{ postReply.author }}</a>
					</div>
					<div class="text-center post-reply-user-tools">
						<ul class="list-unstyled list-inline thread-creator-tools-wrap">
							<li>
							{% if app.user.getId == postReply.author.getId %}
								{% set thisistheuser = true %}
								<i class="fa fa-envelope-o" style="color:lightgray"></i>
							{% else %}
								<a href="{{ path('imdc_message_user_specific', {'userid':postReply.author.getUserName()}) }}" title="Send a message to {{ postReply.author.getUserName }}"><i class="fa fa-envelope-o"></i></a>
							{% endif %}
							</li>
							{#  ---------- friend section ---------------------- #}
							<li>
							{% if app.user.getId == postReply.author.getId %}
								<i class="fa fa-user" style="color:lightgray" title="This is you"></i>
							{% elseif app.user.isUserOnFriendsList(postReply.author) %}
								<i class="fa fa-dot-circle-o" style="color:green" title="Already friends"></i>
							{% else %}
								<a href="{{ path('imdc_add_to_friends_list', {'userid':postReply.author.getId} ) }}" title="Click to add {{ postReply.author.getUserName }} to your friends list"><i class="fa fa-plus"></i></a>
							{% endif %}
							</li>
							{#  ---------------- end friend section ---------------- #}
						</ul>
					</div> <!-- ./post-reply-user-tools -->
				</div> <!-- /post-reply-user-info-wrap div -->
				<div class="col-md-9 post-reply-avatar-content-wrap" data-pid="{{ postReply.id }}">
					<div class="row" style="margin-bottom: 10px;">
						<div class="col-md-2 col-md-offset-10 pull-right post-reply-date">
							{{ postReply.created|date('o-m-N H:i') }}
							{% if postReply.editedBy is not null %}
								(edited at {{ postReply.editedAt|date('o-m-N H:i') }} by {{ postReply.editedBy.getUsername }})
							{% endif %}
						</div>
					</div>
					<div class="row post-reply-content" id="containerPost{{ postReply.getId }}">
						{% if postReply.attachedFile is defined and postReply.attachedFile|length > 0 %}
							{% set postMediaFile = postReply.attachedFile[0] %}
						{% else %}
							{% set postMediaFile = none  %}
						{% endif %}
						<div class="col-md-12">
							<div style="margin-bottom: 10px;">
								{# mediatype 0 = image 1 = video 2 = audio 9 = other #}
								{% if postMediaFile is not defined or postMediaFile is null %}
									{# do nothing #}
								{% elseif postMediaFile.type == 0 %}
								{# -----------   if type of media is an IMAGE   -------- #}
									<img class="img-responsive post-reply-image" src="{{ asset(postMediaFile.getResource.getWebPath) }}" />
								{# -----------   if type of media is a VIDEO   -------- #}
								{% elseif postMediaFile.type == 1 %}
									{% set displayTestPostDensityBar = TRUE %}
									<video controls width="100%" id="{{ postMediaFile.getID }}" preload="auto">
										<source src="{{ asset(postMediaFile.getResource.getWebPathWebm) }}"/>
										<source src="{{ asset(postMediaFile.getResource.getWebPath) }}"/>
									</video>
								{% elseif postMediaFile.type == 2 %}
								{# -----------   if type of media is AUDIO   -------- #}
									<audio controls style="width: 100%">
										<source src="{{ asset(postMediaFile.getResource.getWebPath) }}" />
										Your browser does not support the audio element, please upgrade to Google Chrome
									</audio>
								{% endif %}
							</div>
							<div>
								{{ postReply.content|nl2br }}
							</div>
						</div>
					</div>
					<div class="row" id="containerEditPost{{ postReply.getId }}" style="display: none;"></div>
				</div> <!-- /post-reply-avatar-content-wrap div -->
				<div class="col-md-1 pull-right" id="post-reply-tools">
					<ul class="list-unstyled">
						{% if postReply.author.getId == app.user.getId %}
							{# <li><a data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="{{ path('imdc_post_delete', {'postid':post.getId, 'threadid':thread.getid} ) }}"><i class="fa fa-trash-o"></i></a></li> #}
							<li><a class="post-comment-edit" title="Edit this post" data-pid="{{ postReply.getId }}" data-tid="{{ thread.getId }}" href="#"><i class="fa fa-pencil"></i></a></li>
							{# <li><a id="post-comment-delete" data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="#"><i class="fa fa-trash"></i></a></li> #}
							<li><a class="post-comment-delete-modal" title="Delete this post" data-pid="{{ postReply.getId }}" data-tid="{{ thread.getId }}" href="#"><i class="fa fa-trash-o"></i></a></li>                            
						{% endif %}
					</ul>
				</div> <!-- /post-reply-tools -->
			</div>
		</div> <!--  /.col-md-10 .well-->
	</div> <!-- ./post-reply-wrap -->
</div>
