{% block postgrid %}
<ul class="thumbnails">
    {% set counter = 1 %}
    <div class="row-fluid">
    {% for post in posts %}
    {% if counter != 1 and counter % 4 == 1 %}
        <div class="row-fluid" data-rowid="{{ counter }}">
    {% endif %}
            <li class="span3">
                <div class="thumbnail postthumbnail text-center">
                	<div class="row-fluid">
                		<div class="span3 post-reply-user-info-wrap">
		                    <div class="row-fluid post-reply-user-avatar-wrap">
		                        <img class="avatar" alt="avatar" title="" src="{{ post.author.getProfile.avatar ? asset(post.author.getProfile.avatar.getResource.getWebPath):asset('bundles/imdcterptube/img/no_avatar.jpg')}}" />
		                    </div>
		                    <div class="row-fluid text-center post-reply-user-info">
		                        <a href="{{ path('imdc_terp_tube_user_profile_specific', {'userName':post.author.getUserName}) }}">{{ post.author }}</a>
		                    </div>
		                </div>

{# 		                {% if post.attachedFile is defined and post.attachedFile|length > 0 %}#}
		                {% if post.attachedFile|length != 0 %}
						    {% set postMediaFile = post.attachedFile[0] %}
					    {% else %}
					    	{% set postMediaFile = null  %}
						{% endif %}
		                {# mediatype 0 = image 1 = video 2 = audio 9 = other #}
{# 						{% if postMediaFile is not defined or postMediaFile is null %}#}
						{% if postMediaFile == null %}
					    <div class="span9 post-thumb-content">
						    <a href="{{ path('imdc_thread_view_specific', {'threadid':post.getParentThread.getId}) }}#{{ post.id }}">
			                	{{ post.content|truncate(250) }}
		                	</a>
		                </div>
		                {% else %}
	                	<div class="span9">
		                	<a href="{{ path('imdc_thread_view_specific', {'threadid':post.getParentThread.getId}) }}#{{ post.id }}">
		                	{{ include('IMDCTerpTubeBundle:Post:postMediaElement.html.twig', {mediaFile: postMediaFile}, with_context = false) }}
		                		<div class="row-fluid">
		                		{{ post.content|truncate(60) }}
		                		</div>
	                		</a>
                		</div> <!-- ./span9 -->
		                {% endif %}
		                <div class="row-fluid">
		                    <div class="span9 offset3">
                                <p>
                        		    <span class="contentTimeStampSpan" title="{{ post.created|date('g:ia M j Y') }}">{{ time_diff(post.created) }}</span>
                        		</p>
		                    </div>
		                </div>
		                    
                	</div> <!-- /.row-fluid -->
{#                 	<div class="row-fluid">#}
{#                     <p><span class="content-created-datetime-span">Created: {{ post.created|date('g:ia M j Y') }}</span></p>#}
{#                     </div>#}
                
                </div> <!-- /.thumbnail text-center -->
            </li> <!-- /.span3 -->
    {% if counter != 0 and counter % 4 == 0 %}
        </div> <!--  /.row-fluid  data-rowid {{ counter }} -->
        <p></p>
    {% endif %}
    {% set counter = counter + 1 %}
{% endfor %}
    </div> <!-- /.row-fluid -->
</ul> <!-- /.thumbnails -->
{% endblock postgrid %}