<ul class="thumbnails">
    {% set counter = 1 %}
    <div class="row-fluid">
    {% for post in posts %}
    {% if counter != 1 and counter % 4 == 1 %}
        <div class="row-fluid" data-rowid="{{ counter }}">
    {% endif %}
            <li class="span3">
                <div class="thumbnail text-center" style="min-height:95px;">
                {% if post.getParentThread.getId is defined %}
                <a href="{{ path('imdc_thread_view_specific', {'threadid':post.getParentThread.getId}) }}">
                {% endif %}
                    <p>{{ post.content|truncate(60) }}</p>
                    <p><i class="fa fa-caret-right"></i> {{ post.author }}</p>
                    <p><span class="content-created-datetime-span">Created: {{ post.created|date('g:ia M j Y') }}</span></p>
{#                     <p>Parent Thread ID: {{ post.parentThread ? post.parentThread.id:'none' }}</p>#}
                {% if post.getParentThread is defined %}
                </a>
                {% endif %}
                </div> <!-- /.thumbnail text-center -->
            </li> <!-- /.span3 -->
    {% if counter != 0 and counter % 4 == 0 %}
        </div> <!--  /.row-fluid  data-rowid {{ counter }} -->
        <p></p>
    {% endif %}
    {% set counter = counter + 1 %}
{% endfor %}
    </div> <!-- /.row-fluid -->
</ul> <!-- /.thumbnails -->