{# ajaxed by
thread.js
end ajaxed by #}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

<div class="col-md-12">
	<div class="row" id="post-{{ post.id }}-comment-reply-form-wrap" style="margin-top: 15px;">
		<div class="col-md-11 col-md-offset-1">
			<div class="row">
				{# <div class="col-md-2"> #}
				{% set member = user %}
				{% include 'IMDCTerpTubeBundle:Member:postReplyInfoBlock.html.twig' %}
				{# </div> #}

				<div class="col-md-10">
					{# set formpath = path(app.request.attributes.get("_route"), {'pid' : post.id}) #}
					{% set formpath = path('imdc_post_reply', {'pid' : post.id}) %}

					{{ form_start(form, {'action' : "#{formpath}"}) }}
						{{ form_errors(form) }}

						{{ include('IMDCTerpTubeBundle:AddFileGateway:mediaChooserForm.html.twig', {'isPost': true, 'postId': post.id}) }}

						<div class="row">
							<div class="col-md-12">
								{{ form_row(form.content, { 'attr': { 'class': 'autosize' } }) }}
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								{{ form_widget(form.submit, {'attr': {'class':'input-medium btn btn-success'}}) }}
								<a class="btn btn-danger cancel-post" href="#" id="cancelReplyPost{{ post.id }}"><i class="fa fa-times"></i> Cancel</a>
							</div>
						</div>

					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>

	<div id="uploadFormsPost{{ post.id }}" style="display: none;">
		{% for form in uploadForms %}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		{% endfor %}
	</div>

	<script type="text/javascript">
		//$(document).ready(function() {
			Post.bindUIEvents(Post.Page.REPLY, {{ post.id }});
		//});
	</script>
</div>
