{% extends "IMDCTerpTubeBundle:MyFilesGateway:ajax.previewMedia.html.twig" %}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block preview_media %}
	<div class="image-preview">
		<a href="#" class="fullscreen-toggle">
			<img class="preview" src="{{ asset(mediaFile.getResource.getWebPath) }}" alt="{{ mediaFile.title }}" title="{{ mediaFile.title }}" />
		</a>
	</div>
{% endblock preview_media %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/imdcterptube/js/preview_image.js') }}"></script>
{% endblock javascripts %}
