{% extends "IMDCTerpTubeBundle:Default:index.html.twig" %}
{% trans_default_domain 'IMDCTerpTubeBundle' %}
{% block title %}My Files{% endblock title %}
{% block herounit %}
<h1>{{ 'myFilesGateway.title'|trans }}</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
    <div>
        <input type="button" class="btn btn-primary" value="{{ 'addGateway.buttons.audio'|trans }}" onClick="parent.location='{{ path('imdc_files_gateway_audio') }}'" />
        <input type="button" class="btn btn-primary" value="{{ 'addGateway.buttons.video'|trans }}" onClick="parent.location='{{ path('imdc_files_gateway_video') }}'" />
        <input type="button" class="btn btn-primary" value="{{ 'addGateway.buttons.image'|trans }}" onClick="parent.location='{{ path('imdc_files_gateway_image') }}'" />
        <input type="button" class="btn btn-primary" value="{{ 'addGateway.buttons.record'|trans }}" onClick="parent.location='{{ path('imdc_files_gateway_record') }}'" />
        <input type="button" class="btn btn-primary" value="{{ 'addGateway.buttons.other'|trans }}" onClick="parent.location='{{ path('imdc_files_gateway_other') }}'" />
    </div>

{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
<div>
	Your files will show up here!
</div>
{% endblock underherounitrow2 %}