{% extends "IMDCTerpTubeBundle:Default:index.html.twig" %}
{% trans_default_domain 'IMDCTerpTubeBundle' %}
{% block title %}My Files{% endblock title %}

{% block nav_ul_authenticated_my_files %}<li class="active">{% endblock %}

{% block herounit %}
<h1>{{ 'filesGateway.title'|trans }}</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
    <div class="row-fluid">
        <a class="btn btn-primary" href="{{ path('imdc_files_gateway_audio') }}"><i class="icon-music"></i> {{ 'filesGateway.buttons.audio'|trans }}</a>
        <a class="btn btn-primary" href="{{ path('imdc_files_gateway_video') }}"><i class="icon-film"></i> {{ 'filesGateway.buttons.video'|trans }}</a>
        <a class="btn btn-primary" href="{{ path('imdc_files_gateway_image') }}"><i class=" icon-picture"></i> {{ 'filesGateway.buttons.image'|trans }}</a>
        <a class="btn btn-primary" href="{{ path('imdc_files_gateway_record') }}"><i class="icon-facetime-video"></i> {{ 'filesGateway.buttons.record'|trans }}</a>
        <a class="btn btn-primary" href="{{ path('imdc_files_gateway_other') }}"><i class="icon-file-text"></i> {{ 'filesGateway.buttons.other'|trans }}</a>
    </div>

{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
<div class="row-fluid">
	<div class="span-9">
            <table class="table table-condensed table-hover table-striped pmtable">
                <tr><th><i class="icon-wrench"></i> Tools</th><th>Name</th><th>Type</th><th>Created</th><th>Size</th></tr>
				{%  if resourceFiles and resourceFiles|length >0 %}
						{% for resourceFile in resourceFiles %}
                   	<tr>
                        <td>
                            <a class="delete-button" href='#' data-url="{{ path('imdc_files_gateway_remove', {'mediaId': resourceFile.id}) }}" data-val="{{ resourceFile.id }}"><i class="icon-remove-sign"></i>{{ 'filesGateway.deleteLink'|trans }}</a>
                            {% if resourceFile.getMetaData.getSize == -1 %}
                            <a class="preview-button disabled" href='#' data-type="{{ resourceFile.type }}" data-url="{{ path('imdc_files_gateway_preview', {'mediaId': resourceFile.id}) }}" data-val="{{ resourceFile.id }}"><i class="icon-play-sign"></i>{{ 'filesGateway.previewLink'|trans }}</a>
                            {% else %}
                            <a class="preview-button" href='#' data-type="{{ resourceFile.type }}" data-url="{{ path('imdc_files_gateway_preview', {'mediaId': resourceFile.id}) }}" data-val="{{ resourceFile.id }}"><i class="icon-play-sign"></i>{{ 'filesGateway.previewLink'|trans }}</a>
                            {% endif %}
                        </td>
                        <td>
                        	{{ resourceFile.title }}
                        </td>
                        <td>
                        	{{ ('filesGateway.type.'~resourceFile.type)|trans }}
                        </td>
                        <td>{{ resourceFile.getMetaData.getTimeUploaded|date('g:ia M j') }}</td>
                        {% if resourceFile.getMetaData.getSize == -1 %}
                        <td>{{ 'filesGateway.converting'|trans }}</td>
                        {% else %}
                        <td>{{ '%.2f' |format(resourceFile.getMetaData.getSize / 1024 /1024)  }}MB</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                {% else %}
                    <tr>{{  'filesGateway.noFiles'|trans }}</tr>
                {% endif %}
            </table>
	
	</div>
	<div id="preview">
	</div>
{% endblock underherounitrow2 %}

{% block javascripts %}
 {{ parent() }}
 <script type='text/javascript'>
  $(document).ready(function() {
        $('.preview-button').click(function(e) {
            if ($(this).hasClass('disabled'))
                return false;
            $('#preview').html('');
        	previewFileLink($(this), $('#preview'), true);
        	return false;
        });
        $('.delete-button').click(function(e) {
        	deleteFile($(this), "{{ 'filesGateway.deleteConfirmMessage'|trans }}");
        	return false;
        });
    });
  </script>
  
  <script src="{{ asset('bundles/imdcterptube/js/myFiles.js') }}"></script>
{% endblock javascripts %}