{% extends "IMDCTerpTubeBundle:Default:index.html.twig" %}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block title %}My Files{% endblock title %}

{% block nav_ul_authenticated_my_files %}<li class="active">{% endblock %}
 
{% block stylesheets %}
    {{  parent() }}

    <link href="{{ asset('bundles/imdcterptube/css/motionMediaPreview.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block headerjavascripts %}
	{{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/imdcterptube/js/myFiles.js') }}"></script>
{% endblock headerjavascripts %}

{% block herounit %}
	<h1>{{ 'filesGateway.title'|trans }}</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
	<div class="container-fluid">
		{{ include('IMDCTerpTubeBundle:AddFileGateway:mediaChooserForm.html.twig', {'isFileSelection': false}) }}
		<div class="row">
			<div class="col-md-12">
				<table id="files-table" class="table table-responsive table-hover table-striped pmtable">
					<thead>
						<tr>
							<th><i class="fa fa-wrench"></i> Tools</th>
							<th>Name</th>
							<th>Type</th>
							<th>Created</th>
							<th>Size</th>
						</tr>
					</thead>
					<tbody>
						{% if resourceFiles and resourceFiles|length > 0 %}
							{% for resourceFile in resourceFiles %}
								<tr>
									<td>
										<a class="btn btn-small delete-button" href='#'
											data-val="{{ resourceFile.id }}">
												<i class="fa fa-minus-circle"></i> {{ 'filesGateway.deleteLink'|trans }}
										</a>
										{% if resourceFile.getIsReady == constant('IMDC\\TerpTubeBundle\\Entity\\Media::READY_NO') %}
											<a class="btn btn-small preview-button disabled" href='#'
												data-type="{{ resourceFile.type }}"
												data-url="{{ path('imdc_myfiles_preview', {'mediaId': resourceFile.id}) }}"
												data-val="{{ resourceFile.id }}">
													<i class="fa fa-play-circle"></i> {{ 'filesGateway.previewLink'|trans }}
											</a>
										{% else %}
											<a class="btn btn-small preview-button" href='#'
												data-type="{{ resourceFile.type }}"
												data-url="{{ path('imdc_myfiles_preview', {'mediaId': resourceFile.id}) }}"
												data-val="{{ resourceFile.id }}">
													<i class="fa fa-play-circle"></i> {{ 'filesGateway.previewLink'|trans }}
											</a>
										{% endif %}
										<a class="btn btn-small share-button"
											href="{{ path('imdc_thread_new_from_media', {'resourceid': resourceFile.id} ) }}"
											data-type"{{ resourceFile.type }}" data-val="{{ resourceFile.id }}">
												<i class="fa fa-share-square-o"></i> {{ 'filesGateway.shareLink'|trans }}
										</a>
										{% if resourceFile.type == 1 or resourceFile.type == 2 %}
											<a class="btn btn-small interpret-button"
												href="{{ path('imdc_media_simultaneous_record', {'mediaID': resourceFile.id} ) }}">
													<i class="fa fa-film"></i> Create Interpretation
											</a>
										{% endif %}
									</td>
									<td>{{ resourceFile.title }}</td>
									<td>
										{% if resourceFile.type == 0 %}
											<i class="fa fa-picture-o"></i>
										{% elseif resourceFile.type == 1 %}
											<i class="fa fa-film"></i>
										{% elseif resourceFile.type == 2 %}
											<i class="fa fa-headphones"></i>
										{% endif %}
										
										{{ ('filesGateway.type.'~resourceFile.type)|trans }}
									</td>
									<td>{{ resourceFile.getMetaData.getTimeUploaded|date('g:ia M j') }}</td>
									{% if resourceFile.getMetaData.getSize == -1 %}
										<td><i class="fa fa-spinner fa-spin fa-large"></i></td>
									{% else %}
										<td>{{ '%.2f'|format(resourceFile.getMetaData.getSize / 1024 / 1024) }} MB</td>
									{% endif %}
								</tr>
						{% endfor %}
					{% else %}
						<tr>
							<p>{{ 'filesGateway.noFiles'|trans }}</p>
						</tr>
					{% endif %}
				</table>
			</div>
		</div>
	</div>
	<div id="preview"></div>
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

{% block postfooteroutsidebody %}
	<div id="uploadForms" style="display: none;">
		{% for form in uploadForms %}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		{% endfor %}
	</div>
{% endblock postfooteroutsidebody %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/html" id="mediaRow">
		<tr>
			<td>
				<a class="btn btn-small delete-button" href="#" data-url="{deleteUrl}" data-val="{media.id}">
					<i class="fa fa-minus-circle"></i> {{ "filesGateway.deleteLink"|trans }}
				</a>
				<a class="btn btn-small preview-button{{ '{#previewDisabled} disabled{/previewDisabled}' }}" href="#" data-type="{media.type}" data-url="{previewUrl}" data-val="{media.id}">
					<i class="fa fa-play-circle"></i> {{ "filesGateway.previewLink"|trans }}
				</a>
				<a class="btn btn-small share-button" href="{newThreadUrl}" data-type="{media.type}" data-val="{media.id}">
					<i class="fa fa-share-square-o"></i> {{ "filesGateway.shareLink"|trans }}
				</a>
				{{ '{#canInterpret}' }}
					<a class="btn btn-small interpret-button" href="{simulRecordUrl}">
						<i class="fa fa-film"></i> Create Interpretation
					</a>
				{/canInterpret}
			</td>
			<td>{media.title}</td>
			<td><i class="fa {icon}"></i> {mediaType}</td>
			<td>{dateString}</td>
			<td>
				{{ '{\#mediaSize}' }}
					{mediaSize} MB
				{:else}
					<i class="fa fa-spinner fa-spin fa-large"></i>
				{/mediaSize}
			</td>
		</tr>
	</script>

	<script type="text/html" id="mediaDeleteConfirmMessage">
		{{ 'filesGateway.deleteConfirmMessage'|trans }}
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
			myFiles = new MyFiles();
			//FIXME context
			context = myFiles;

			myFiles.bindUIEvents(MyFiles.Page.INDEX);
			//Need a mediaChooser reference for the preview of the files. 
			mediaChooser = myFiles.mediaChooser;
		});
	</script>
{% endblock javascripts %}
