{% macro _controls(style, group_id) %}
    {% if style == 'grid' %}
        {% set style = 'list' %}
        {% set style_icon = 'fa-th-list' %}
        <button class="btn btn-default table-component-toggle-selection" title="Toggle selection"><i class="fa fa-check-square-o"></i></button>
    {% else %}
        {% set style = 'grid' %}
        {% set style_icon = 'fa-th-large' %}
    {% endif %}
    <a class="btn btn-default" href="{{ path('imdc_group_manage', {'groupId': group_id, 'style': style}) }}"><i class="fa {{ style_icon }}"></i></a>
{% endmacro %}

{% macro list_users(style, users, group_id) %}
    {% import _self as _group %}
    {% import 'IMDCTerpTubeBundle:Member:macros.html.twig' as _member %}

    <div class="row">
        <div class="col-md-12 text-right">{{ _group._controls(style, group_id) }}</div>
    </div>
    {% if style == 'list' %}
        {{ _member.list_users_list(users, true) }}
    {% else %}
        {{ _member.list_users_grid(users, true) }}
    {% endif %}
    <div class="text-center">{{ knp_pagination_render(users) }}</div>
{% endmacro %}
