{#
included by:
_Member:infoBlock.html.twig
_Member:thumbnail.html.twig
_Post:post.html.twig
#}

{% if faSize is not defined %}
    {% set faSize = '' %}
{% endif %}

<ul class="list-unstyled list-inline">
    <li>
        {% if app.user.getId == member.getId %}
            <i class="fa fa-envelope-o {{ faSize }}" style="color: lightgray;"></i>
        {% else %}
            <a href="{{ path('imdc_message_user_specific', {'userid': member.getUserName}) }}" title="Send a message to {{ member.getUserName }}"><i class="fa fa-envelope-o {{ faSize }}"></i></a>
        {% endif %}
    </li>
    <li>
        {% if app.user.getId == member.getId %}
            <i class="fa fa-user {{ faSize }}" style="color: lightgray;" title="This is you"></i>
        {% elseif app.user.isUserOnFriendsList(member) %}
            <i class="fa fa-group {{ faSize }}" style="color: green;" title="Already friends"></i>
        {% else %}
            <a href="{{ path('imdc_add_to_friends_list', {'userid': member.getId}) }}" title="Click to add {{ member.getUserName }} to your friends list"><i class="fa fa-plus {{ faSize }}"></i></a>
        {% endif %}
    </li>
    {% if not (app.user == member) %}
        <li>
            {% if app.user.isUserOnMentorList(member) %}
                <i class="fa fa-star {{ faSize }}" title="This person is your mentor"></i>
            {% else %}
                <a href="{{ path('imdc_invitation_create_tobementor', {'id': member.id}) }}" title="Invite user to be your mentor"><i class="fa fa-inbox {{ faSize }}"></i></a>
            {% endif %}
        </li>
        {% if app.user.isUserOnMenteeList(member) %}
            <li>
                <i class="fa fa-star {{ faSize }}" title="This user is your mentee"></i>
            </li>
        {% endif %}
    {% endif %}
    </li>
</ul>
