{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% block title %}Edit Topic{% endblock title %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            require(['main'], function() {
                var thread = new $tt.Controller.Thread({page: $tt.Controller.Thread.Page.EDIT});
                thread.bindUIEvents();
            });
        });
    </script>
{% endblock header %}

{% block sidebarlinks_pages %}class="active"{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {% if thread.mediaIncluded[0] is defined %}
                    <div class="tt-media-element">
                        {% include 'IMDCTerpTubeBundle:Media:element.html.twig' with {'mediaFile': thread.mediaIncluded[0]} %}
                    </div>
                {% endif %}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {{ form_row(form.accessType) }}
                <button class="btn btn-success thread-submit" id="submitForm"><i class="fa fa-check"></i> Edit</button>
                <a class="btn btn-danger" href="{{ path('imdc_thread_view', {'threadid': thread.getId}) }}"><i class="fa fa-times"></i> Cancel</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}
