{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block stylesheets %}
    {{  parent() }}

    <link href="{{ asset('bundles/imdcterptube/css/forums.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block sidebarlinks_pages %}<li class="active">{% endblock %}

{% block title %}Topics{% endblock title %}

{% block herounit_wrap %}<h1>Topics</h1>{% endblock herounit_wrap %}

{% block underherounitrow1 %}
<div class="row">
    <div class="col-md-12">
        <p>
            <a class="btn btn-primary" href="{{ path('imdc_thread_create_new') }}"><i class="fa fa-plus"></i> Create New</a>
        </p>    
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="count">
            Total number of Forums: {{ pagination.getTotalItemCount }}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ul class="unstyled inline">
            <li{% if pagination.isSorted('t.title') %} class="btn btn-default"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 't.title') }}</li>
            <li{% if pagination.isSorted('t.creationDate') %} class="btn btn-default"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date Created', 't.creationDate') }}</li>            
            <li{% if pagination.isSorted('t.lastPostAt') %} class="btn btn-default"{% endif %}>{{ knp_pagination_sortable(pagination, 'Last Post', 't.lastPostAt') }}</li>            
        </ul>
    </div>
</div>
{% set threads = pagination %}
{% include 'IMDCTerpTubeBundle:Thread:threadthumbnailprototype.html.twig' %}

{#
<div class="row">
    <div class="col-md-12">
        <table>
            <tr>

                <th>{{ knp_pagination_sortable(pagination, 'Id', 't.id') }}</th>
                <th{% if pagination.isSorted('t.title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 't.title') }}</th>
            </tr>
            
            {% for thread in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
                <td>{{ thread.id }}</td>
                <td>{{ thread.title }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

#}

<div class="row">
    <div class="col-md-12">
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>


{# include 'IMDCTerpTubeBundle:Thread:threadthumbnail.html.twig' #}

{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}
