{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% block title %}Create a new Topic{% endblock title %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            require(['main'], function() {
                var thread = new $tt.Controller.Thread({
                    page: $tt.Controller.Thread.Page.NEW,
                    tagitOptions: {
                        showAutocompleteOnFocus: {% if app.user.getFriendsList|length >= 1 %}true{% else %}false{% endif %},
                        availableTags: [{{ app.user.getFriendsListAsUsernameString|raw }}]}
                });
                thread.bindUIEvents();
            });
        });
    </script>
{% endblock header %}

{% block sidebarlinks_pages %}class="active"{% endblock %}

{% block content %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <img class="img-responsive center-block" src="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {{ form_start(form) }}
                {{ form_errors(form) }}
                {% if form.forum is defined %}
                    {{ form_row(form.forum) }}
                {% endif %}
                <p>Select a file (video, image, or audio) to be used as the title for your new Topic:</p>
                {#{% include 'IMDCTerpTubeBundle:Media:chooserForm.html.twig' %}#}
                {{ form_widget(form.mediaIncluded) }}
                {{ form_row(form.title) }}
                {{ form_row(form.content) }}
                {{ form_row(form.accessType) }}
                <button class="btn btn-success thread-submit"><i class="fa fa-check"></i> Create</button>
                <a class="btn btn-danger" onclick="history.back();"><i class="fa fa-times"></i> Cancel</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock content %}

{#{% block outside_body %}#}
    {#{{ parent() }}#}

    {#{% include 'IMDCTerpTubeBundle:Media:uploadForms.html.twig' %}#}
{#{% endblock outside_body %}#}
