{# src/IMDC/TerpTubeBundle/Resources/views/Thread/new.html.twig #}
{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}
{% block stylesheets %}
    {{  parent() }}
    <link href="{{ asset('bundles/imdcterptube/css/forums.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block headerjavascripts %}
{{ parent() }}
<script src="{{ asset('js/tag-it.min.js') }}" type="text/javascript" charset="utf-8"></script>
<link href="{{ asset('css/jquery.tagit.css') }}" rel="stylesheet" type="text/css">
{% endblock headerjavascripts %}


{% block title %}Create a new Topic{% endblock title %}

{% block sidebarlinks_pages %}<li class="active">{% endblock %}

{% block herounit %}
<h1>Create a new Topic</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
<div class="span9">
  {# {{ form(form) }} #}
  

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row-fluid">
            <p>Select a file (video, image, or audio) to be used as the title image for your new Topic</p>
	        <a class="btn btn-primary" id="selectFiles" href="#"><i class="fa fa-cloud-upload"></i> Select Files</a>
	        {{ form_widget(form.mediatextarea, {'attr' : {'class':'input-mini'}}) }}{{ form_errors(form.mediatextarea) }}
	        <div id="files"></div>
        </div>
{#         <input type="textarea" disabled="true" id="file-textarea" />#}
{#         {{ form_row(form.mediaID) }}#}
{#         {{ form_row(form.mediaIncluded) }}#}
        <p>
        {{ form_row(form.title, {'attr':{'class':'input-xxlarge'}}) }}
        {{ form_row(form.content, {'attr':{'class':'input-xxlarge'}}) }}
        </p>
        <div class="row-fluid" id="permRadioButtons">
        {{ form_row(form.permissions.accessLevel.0) }} {# private, creator access #}
{#         {{ form_row(form.permissions.accessLevel.1) }} {# Only people on friends list #}
{#         {{ form_widget(form.permissions.userFriendsWithAccess, {'attr' : {'style' : 'display: none;'}}) }} #}
        {{ form_row(form.permissions.accessLevel.1) }} {# Anyone with the link #}
        {{ form_row(form.permissions.accessLevel.2) }} {# list of specific users #}
	    {{ form_widget(form.permissions.userListWithAccess, {'attr' : {'style' : 'display: none;'}}) }}
        {{ form_row(form.permissions.accessLevel.3) }} {# list of specific groups #}
        {{ form_widget(form.permissions.userGroupsWithAccess, {'attr' : {'style' : 'display: none;'}}) }}
        {{ form_row(form.permissions.accessLevel.4) }} {# only ppl with accounts #}
        {{ form_row(form.permissions.accessLevel.5) }} {# public, anyone can see it #}
        </div>
        <div class="row-fluid">
            {{ form_widget(form.submit) }}
            <a id="thread-form-submit-button" class="btn btn-success" href="#"><i class="fa fa-check"></i> Create New Topic</a>
            <a id="thread-form-cancel-button" class="btn btn-danger" href="javascript:history.back(-1)"><i class="fa fa-times"></i> Cancel</a>
        </div>
    {{ form_end(form) }}
  

</div>
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

{% block javascripts %}
 {{ parent() }}
 <script type='text/javascript'>
 var mediaChooser;
 $("#selectFiles").click(function(e) {
 	mediaChooser = new MediaChooser($("#files"), function(mediaID)
 		 	{
		 		//alert(mediaID);
 	            setMediaID(mediaID);
	 		}, true);
 	mediaChooser.chooseMedia();
 });

 function setMediaID(mid) {
	    $("#ThreadForm_mediaID").attr('data-mid', mid);
	    $("#ThreadForm_mediatextarea").val(mid);
	    
	    //alert(mid);
};

$(document).ready(function() {
    $("#ThreadForm_content").autosize();
    $("#ThreadForm_permissions_userListWithAccess").tagit({
        showAutocompleteOnFocus: true,
    	{% set usernames = app.user.getFriendsListAsUsernames %}
        availableTags: [{{ app.user.getFriendsListAsUsernameString|raw }}]
    });


    $("ul.tagit").css('width', '50%').hide();

    // since I hid the real 'submit' button to provide a nicely stylized button
    // I have to click the real button when you click on the fancy one
    $("#thread-form-submit-button").click(function(e) {
        e.preventDefault();
    	$("button#ThreadForm_submit").click();
    	
    });

    $("#permRadioButtons").click(function() {
        if ( $("#ThreadForm_permissions_accessLevel_2").is(':checked')) { // specific users
//             $("#ThreadForm_permissions_userListWithAccess").show();
            $("ul.tagit").show();
            $("#ThreadForm_permissions_userGroupsWithAccess").hide();
//             $("#ThreadForm_permissions_userFriendsWithAccess").hide();
        }
        else if ( $("#ThreadForm_permissions_accessLevel_3").is(':checked')) { // specific groups
            $("#ThreadForm_permissions_userGroupsWithAccess").show();
//             $("#ThreadForm_permissions_userFriendsWithAccess").hide();
            $("ul.tagit").hide();
        }
//         else if ( $("#ThreadForm_permissions_accessLevel_1").is(':checked')) { // user friends
//             $("#ThreadForm_permissions_userFriendsWithAccess").show();
//             $("#ThreadForm_permissions_userGroupsWithAccess").hide();
//             $("ul.tagit").hide();
//         }
        else { // hide all
            $("#ThreadForm_permissions_userFriendsWithAccess").hide();
            $("#ThreadForm_permissions_userGroupsWithAccess").hide();
//             $("#ThreadForm_permissions_userListWithAccess").hide();
            $("ul.tagit").hide();
        }
    });
});

</script>
 

{% endblock javascripts %}