{# src/IMDC/TerpTubeBundle/Resources/views/Thread/new.html.twig #}

{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% block stylesheets %}
    {{  parent() }}

    <link href="{{ asset('bundles/imdcterptube/css/forums.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block headerjavascripts %}
	{{ parent() }}

	<script src="{{ asset('bundles/imdcterptube/js/thread.js') }}"></script>
	<script src="{{ asset('js/tag-it.min.js') }}" type="text/javascript" charset="utf-8"></script>
	<link href="{{ asset('css/jquery.tagit.css') }}" rel="stylesheet" type="text/css">
{% endblock headerjavascripts %}

{% block title %}Create a new Topic{% endblock title %}

{% block sidebarlinks_pages %}class="active"{% endblock %}

{% block herounit %}
	<h1>Create a new Topic</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
<div class="col-md-9">
  {# {{ form(form) }} #}
  

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row">
            <p>Select a file (video, image, or audio) to be used as the title for your new Topic</p>
	        {{ include('IMDCTerpTubeBundle:AddFileGateway:mediaChooserForm.html.twig') }}
        </div>
{#         <input type="textarea" disabled="true" id="file-textarea" />#}
{#         {{ form_row(form.mediaID) }}#}
{#         {{ form_row(form.mediaIncluded) }}#}
        <p>
        {{ form_row(form.title, {'attr':{'class':'input-xxlarge'}}) }}
        {{ form_row(form.content, {'attr':{'class':'input-xxlarge'}}) }}
        </p>
        {% include ('IMDCTerpTubeBundle:Thread:threadPermissions.html.twig') %}
        <div class="row">
            {{ form_widget(form.submit) }}
            <a id="thread-form-submit-button" class="btn btn-success" href="#"><i class="fa fa-check"></i> Create New Topic</a>
            <a id="thread-form-cancel-button" class="btn btn-danger" href="javascript:history.back(-1)"><i class="fa fa-times"></i> Cancel</a>
        </div>
    {{ form_end(form) }}
  

</div>
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(document).ready(function() {
			thread = new Thread();
			//TODO context
			context = thread;

			Thread.bindUIEvents(Thread.Page.NEW);

			$("#ThreadForm_content").autosize();
			$("#ThreadForm_permissions_usersWithAccess").tagit({
				{% if app.user.getFriendsList|length >= 1 %}
					showAutocompleteOnFocus: true,
				{% endif %}
				{% set usernames = app.user.getFriendsListAsUsernameString %}   	
				availableTags: [{{ usernames|raw }}]
			});

			$("ul.tagit").css('width', '50%').hide();
		});
	</script>

	<script src="{{ asset('bundles/imdcterptube/js/permissionButtons.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock javascripts %}

{% block postfooteroutsidebody %}
	{{ parent() }}

	<div id="uploadForms" style="display: none;">
		{% for form in uploadForms %}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		{% endfor %}
	</div>
{% endblock postfooteroutsidebody %}
