{# src/IMDC/TerpTubeBundle/Resources/views/Thread/new.html.twig #}
{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}
{% block stylesheets %}
    {{  parent() }}
    <link href="{{ asset('bundles/imdcterptube/css/forums.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block headerjavascripts %}
{{ parent() }}
<script src="{{ asset('js/tag-it.min.js') }}" type="text/javascript" charset="utf-8"></script>
<link href="{{ asset('css/jquery.tagit.css') }}" rel="stylesheet" type="text/css">
{% endblock headerjavascripts %}


{% block title %}Create a new Topic{% endblock title %}

{% block sidebarlinks_pages %}<li class="active">{% endblock %}

{% block herounit %}
<h1>Create a new Topic</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
<div class="span9">
  {# {{ form(form) }} #}
  

    {{ form_start(form) }}
        {{ form_errors(form) }}
        <div class="row-fluid">
            <p>Select a file (video, image, or audio) to be used as the title for your new Topic</p>
	        <a class="btn btn-primary" id="selectFiles" href="#"><i class="fa fa-cloud-upload"></i> Select Files</a>
	        {{ form_widget(form.mediatextarea, {'attr' : {'class':'input-mini'}}) }}{{ form_errors(form.mediatextarea) }}
	        <div id="files"></div>
        </div>
{#         <input type="textarea" disabled="true" id="file-textarea" />#}
{#         {{ form_row(form.mediaID) }}#}
{#         {{ form_row(form.mediaIncluded) }}#}
        <p>
        {{ form_row(form.title, {'attr':{'class':'input-xxlarge'}}) }}
        {{ form_row(form.content, {'attr':{'class':'input-xxlarge'}}) }}
        </p>
        {% include ('IMDCTerpTubeBundle:Thread:threadPermissions.html.twig') %}
        <div class="row-fluid">
            {{ form_widget(form.submit) }}
            <a id="thread-form-submit-button" class="btn btn-success" href="#"><i class="fa fa-check"></i> Create New Topic</a>
            <a id="thread-form-cancel-button" class="btn btn-danger" href="javascript:history.back(-1)"><i class="fa fa-times"></i> Cancel</a>
        </div>
    {{ form_end(form) }}
  

</div>
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

{% block javascripts %}
 {{ parent() }}
 <script type='text/javascript'>
 var mediaChooser;
 $("#selectFiles").click(function(e) {
 	mediaChooser = new MediaChooser($("#files"), function(mediaID)
 		 	{
		 		//alert(mediaID);
 	            setMediaID(mediaID);
	 		}, true);
 	mediaChooser.chooseMedia();
 });

 function setMediaID(mid) {
	    $("#ThreadForm_mediaID").attr('data-mid', mid);
	    $("#ThreadForm_mediatextarea").val(mid);
	    
	    //alert(mid);
};

$(document).ready(function() {
    $("#ThreadForm_content").autosize();
    $("#ThreadForm_permissions_userListWithAccess").tagit({
    	{% if app.user.getFriendsList|length >= 1 %}
        showAutocompleteOnFocus: true,
        {% endif %}
    	{% set usernames = app.user.getFriendsListAsUsernameString %}   	
        availableTags: [{{ usernames|raw }}]
    });

    $("ul.tagit").css('width', '50%').hide();

    // since I hid the real 'submit' button to provide a nicely stylized button
    // I have to click the real button when you click on the fancy one
    $("#thread-form-submit-button").click(function(e) {
        e.preventDefault();
    	$("button#ThreadForm_submit").click();
    	
    });
});
</script>
 
<script src="{{ asset('bundles/imdcterptube/js/permissionButtons.js') }}" type="text/javascript" charset="utf-8"></script>
 

{% endblock javascripts %}