{# src/IMDC/TerpTubeBundle/Resources/views/Thread/new.html.twig #}
{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}
{% block stylesheets %}
    {{  parent() }}
    <link href="{{ asset('bundles/imdcterptube/css/forums.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block title %}Create a new Topic{% endblock title %}

{% block herounit %}
<h1>Create a new Topic</h1>
{% endblock herounit %}

{% block underherounitrow1 %}
<div class="span9">
    {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.parentForum) }}
        {{ form_row(form.mediaIncluded) }}
        <div class="row-fluid">
            <div class="span4">
            {# mediatype 0 = image 1 = video 2 = audio 9 = other #}
            {% if mediaFile is not defined %}
                <!-- do nothing -->
            {% elseif mediaFile.type == 0 %}
                {# -----------   if type of media is an IMAGE   -------- #}
                <img src="{{ asset(mediaFile.getResource.getWebPath) }}" />
                {# -----------   if type of media is a VIDEO   -------- #}
            {% elseif mediaFile.type == 1 %}
                <video controls width="100%" id="{{ mediaFile.getID }}" preload="auto">
                	<source src="{{ asset(mediaFile.getResource.getWebPathWebm) }}"/>
                	<source src="{{ asset(mediaFile.getResource.getWebPath) }}"/>
                </video>
            {% elseif mediaFile.type == 2 %}
                {# -----------   if type of media is AUDIO   -------- #}
                <audio controls style="width: 100%">
                    <source src="{{ asset(mediaFile.getResource.getWebPath) }}" />
                    Your browser does not support the audio element, please upgrade to Google Chrome
                </audio>
        {% endif %}
        </div> <!-- /span4 -->
        </div> <!-- /row-fluid -->
        
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.submit) }}
    
    {{ form_end(form) }}
</div>
{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% endblock underherounitrow2 %}