<div class="row-fluid" id="permRadioButtons">
        {{ form_row(form.permissions.accessLevel.0) }} {# private, creator access #}
{#         {{ form_row(form.permissions.accessLevel.1) }} {# Only people on friends list #}
{#         {{ form_widget(form.permissions.userFriendsWithAccess, {'attr' : {'style' : 'display: none;'}}) }} #}
        {{ form_row(form.permissions.accessLevel.1) }} {# Anyone with the link #}
        {{ form_row(form.permissions.accessLevel.2) }} {# list of specific users #}
	    {{ form_widget(form.permissions.userListWithAccess, {'attr' : {'style' : 'display: none;'}}) }}
        {{ form_row(form.permissions.accessLevel.3) }} {# list of specific groups #}
        {{ form_widget(form.permissions.userGroupsWithAccess, {'attr' : {'style' : 'display: none;'}}) }}
        {{ form_row(form.permissions.accessLevel.4) }} {# only ppl with accounts #}
        {{ form_row(form.permissions.accessLevel.5) }} {# public, anyone can see it #}
</div>