{% block threadgrid %}
<ul class="thumbnails">
    {% set counter = 1 %}
    <div class="row-fluid">
    {% for thread in threads %}
    {% if counter != 1 and counter % 4 == 1 %}
        <div class="row-fluid forum-row">
    {% endif %}
            <li class="span3">
                <div class="thumbnail threadthumbnail text-center">
                    <div class="row-fluid">
                        <span class="thread-date-span" title="{{ thread.creationDate|date('g:ia M j Y') }}">Created: {{ time_diff(thread.creationDate) }}</span>
                    </div>
                	<div class="row-fluid">
                		<div class="span3 post-reply-user-info-wrap">
                		    {% set member = thread.creator %}
                		    {%  include 'IMDCTerpTubeBundle:Member:memberAvatarAndUsername.html.twig' %}
		                </div>

{# 		                {% if post.attachedFile is defined and post.attachedFile|length > 0 %}#}
		                {% if thread.mediaIncluded|length != 0 %}
						    {% set threadMediaFile = thread.mediaIncluded[0] %}
					    {% else %}
					    	{% set threadMediaFile = null  %}
						{% endif %}
		                {# mediatype 0 = image 1 = video 2 = audio 9 = other #}
{# 						{% if postMediaFile is not defined or postMediaFile is null %}#}
                        <div class="span9">
                            <div class="row-fluid">
                                {% if threadMediaFile == null %}
                                <div class="row-fluid thread-title-wrap">
    						        <a href="{{ path('imdc_thread_view_specific', {'threadid':thread.getId}) }}">
    						            <h3>{{ thread.title|truncate(50) }}</h3>
    						        </a>
    						    </div>
    						    <div class="row-fluid">
        						    <a href="{{ path('imdc_thread_view_specific', {'threadid':thread.getId}) }}">
        			                	{{ thread.content|truncate(250) }}
        		                	
        		                	<div class="row-fluid" id="thread-post-count-wrap">
        		                	    <p>
        		                	        <span class="badge" title="Posts">{{ thread.getPosts|length }} {{ thread.getPosts|length > 1 ? 'Replies' : 'Reply'}}</span>
    		                	        </p>
    		                	        <p>
        		                		    {% if thread.getLastPostAt is defined %}Last post: {{ thread.lastPostAt|date('g:ia M j Y') }}{% endif %}
        		                		</p>
    		                	    </div>
    		                	    </a>
    		                	</div>
    		                	{% else %}
    		                	<div class="row-fluid">
    		                	    <div class="text-center">
            		                	<a href="{{ path('imdc_thread_view_specific', {'threadid':thread.getId}) }}">
            		                	    {{ include('IMDCTerpTubeBundle:Post:postMediaElement.html.twig', {mediaFile: threadMediaFile}, with_context = false) }}
            		                		
            	                		</a>
        	                		</div>
    	                		</div>
                                <div class="row-fluid thread-title-wrap">
    						        <a href="{{ path('imdc_thread_view_specific', {'threadid':thread.getId}) }}">
    						            <h3>{{ thread.title|truncate(40) }}</h3>
    						            <p>
        		                		{{ thread.content|truncate(50) }}
        		                		</p>
        		                		<p>
        		                		    <span class="badge">{{ thread.getPosts|length }} {{ thread.getPosts|length > 1 ? 'Replies' : 'Reply'}}</span>
    		                		    </p>
    		                		    <p>
        		                		    {% if thread.getLastPostAt is defined %}Last post: {{ thread.lastPostAt|date('g:ia M j Y') }}{% endif %}
        		                		</p>
    						        </a>
    						    </div>
    	                		{% endif %}

						    </div> <!-- ./row-fluid -->
                		</div> <!-- ./span9 -->
                	</div> <!-- /.row-fluid --> 
                </div> <!-- /.thumbnail threadthumbnail text-center -->
            </li> <!-- ./span3 -->
    {% if counter != 0 and counter % 4 == 0 %}
        </div><!-- end row-fluid -->
        <p></p>
    {% endif %}

    {% set counter = counter + 1 %}
{% endfor %}
    </div> <!-- ./row-fluid -->
</ul> <!-- ./thumbnails -->
{% endblock threadgrid %}