{#
included by:
Forum:view.html.twig
#}

{% block threadgrid %}
	<div class="row">
		<div class="col-md-12">
			{% set counter = 1 %}
			{% for thread in threads %}
				{% if counter != 1 or counter % 4 == 1 %}
					<div class="forum-row">
						<ul class="list-unstyled thumbnails">
				{% endif %}

				<li>
					<div class="col-md-3">
						<div class="row thumbnail threadthumbnail text-center">
							<div class="col-md-12">
								<div class="row">
									<span class="col-md-10 col-md-offset-1 thread-date-span" title="{{ thread.creationDate|date('g:ia M j Y') }}">Created: {{ time_diff(thread.creationDate) }}</span>
									<span class="col-md-1 pull-right">
										{# print privacy icon #}
										{% set threadPermission = thread.getPermissions.accessLevel %}
										{% include 'IMDCTerpTubeBundle:Permissions:permissionIcons.html.twig' %}
									</span>
								</div>

								<div class="row">
									<div class="col-md-3 post-reply-user-info-wrap">
										{% set member = thread.creator %}
										{% include 'IMDCTerpTubeBundle:Member:memberAvatarAndUsername.html.twig' %}
									</div>

									{# {% if post.attachedFile is defined and post.attachedFile|length > 0 %} #}
									{% if thread.mediaIncluded|length != 0 %}
										{% set threadMediaFile = thread.mediaIncluded[0] %}
									{% else %}
										{% set threadMediaFile = null  %}
									{% endif %}

									{# mediatype 0 = image 1 = video 2 = audio 9 = other #}
									{# {% if postMediaFile is not defined or postMediaFile is null %} #}

									<div class="col-md-9 thread-thumbnail-content-wrap">
										{% if threadMediaFile == null %}
											<div class="row thread-title-wrap">
												<a href="{{ path('imdc_thread_view', {'threadid':thread.getId}) }}">
													<h3>{{ thread.title|truncate(50) }}</h3>
												</a>
											</div>
											<div class="row">
												<div class="col-md-12">
													<a href="{{ path('imdc_thread_view', {'threadid':thread.getId}) }}">
														<p>{{ thread.content|truncate(250) }}</p>
														<div class="row" id="thread-post-count-wrap">
															<p>
																<span class="badge badge-info" title="Posts">{{ thread.getPosts|length }} {{ thread.getPosts|length == 1 ? 'Reply' : 'Replies'}}</span>
															</p>
															<p>
																{% if thread.getLastPostAt is defined %}<span class="toolPop" title="{{ thread.lastPostAt|date('g:ia M j Y') }}">Last post: {{ time_diff(thread.lastPostAt) }}</span>{% endif %}
															</p>
														</div>
													</a>
												</div>
											</div>
										{% else %}
											<div class="row thread-thumbnail-media-wrap">
												<div class="text-center">
													<a href="{{ path('imdc_thread_view', {'threadid':thread.getId}) }}">
														{{ include('IMDCTerpTubeBundle:Post:postMediaElement.html.twig', {mediaFile: threadMediaFile}, with_context = false) }}
													</a>
												</div>
											</div>
											<div class="row thread-title-wrap">
												<a href="{{ path('imdc_thread_view', {'threadid':thread.getId}) }}">
													<h3>{{ thread.title|truncate(40) }}</h3>
												</a>
											</div>
											<div class="row">
												<p>
													<a href="{{ path('imdc_thread_view', {'threadid':thread.getId}) }}">
														{{ thread.content|truncate(50) }}
													<p>
														<span class="badge badge-info">{{ thread.getPosts|length }} {{ thread.getPosts|length == 1 ? 'Reply' : 'Replies'}}</span>
													</p>
													<p>
														{% if thread.getLastPostAt is defined %}<span class="toolPop" title="{{ thread.lastPostAt|date('g:ia M j Y') }}">Last post: {{ time_diff(thread.lastPostAt) }}</span>{% endif %}
													</p>
												</a>
											</div>
										{% endif %}
									</div> <!-- ./col-md-9 -->
								</div>
							</div> <!-- /.row --> 
						</div> <!-- /.thumbnail threadthumbnail text-center -->
					</div>
				</li> <!-- ./col-md-3 -->
				{% if (counter != 0 and counter % 4 == 0) or counter == threads|length %}
						</ul> <!-- ./thumbnails -->
					</div><!-- end row -->
					<p></p>
				{% endif %}

				{% set counter = counter + 1 %}
			{% endfor %}
		</div>
	</div>
{% endblock threadgrid %}
