{#
included by:
_Forum:view.html.twig
#}

{% import 'IMDCTerpTubeBundle:Media:macros.html.twig' as _media %}

<div class="tt-grid-div">
    {% for thread in threads %}
        {% if loop.index % 4 == 1 %}
            <div class="row">
                <ul class="list-unstyled">
        {% endif %}
        <li>
            <div class="col-md-3">
                    <div class="thumbnail text-center tt-grid-div-body">
                        <div class="text-right tt-grid-div-perms">
                            {% include 'IMDCTerpTubeBundle:Base:permissionIcons.html.twig' with {'object': thread} %}
                        </div>
                        <div class="tt-grid-div-thumbnail">
                            <a href="{{ path('imdc_thread_view', {'threadid': thread.getId}) }}">
                                {{ _media.element2(thread.getMediaIncluded) }}
                            </a>
                        </div>
                        <div class="tt-grid-div-primary">
                            <div class="row">
                                <div class="col-md-4">
                                    <p>
                                        {% include 'IMDCTerpTubeBundle:Member:avatar.html.twig' with {'member': thread.getCreator} %}
                                        {% include 'IMDCTerpTubeBundle:Member:username.html.twig' with {'member': thread.getCreator} %}
                                    </p>
                                </div>
                                <div class="col-md-8" style="border-left: 1px solid #dddddd;">
                                    <a href="{{ path('imdc_thread_view', {'threadid': thread.getId}) }}" title="{{ thread.getTitle }}">
                                        <span class="tt-title">
                                            {% if thread.getTitle %}
                                                {{ thread.getTitle }}
                                            {% else %}
                                                {{ '<em>no title</em>'|raw }}
                                            {% endif %}
                                        </span>
                                    </a>
                                    <p class="text-muted">
                                        <i class="fa fa-pencil-square-o" title="Reply count"></i> {{ thread.getPosts|length }} replies<br />
                                        <i class="fa fa-clock-o" title="Last activity {{ time_diff(thread.getLastPostAt) }}"></i> {{ thread.getLastPostAt|date('M d Y h:i a') }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </li>
        {% if loop.index % 4 == 0 or loop.last %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
</div>
