{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}
{% block stylesheets %}
    {{  parent() }}
    <link href="{{ asset('bundles/imdcterptube/css/thread.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block headerjavascripts %}
{{ parent() }}
<script type="text/javascript" src="{{ asset('bundles/imdcterptube/js/player/post.js') }}"></script>
{% endblock headerjavascripts %}

{% block sidebarlinks_pages %}<li class="active">{% endblock %}

{% block title %}{{ thread.title|truncate(50) }}{% endblock title %}

{% block herounit_wrap %}
{% if thread.getParentForum %}
<div class="row-fluid breadcrumb-wrap">
    <ul class="breadcrumb">
        <li><a href="{{ path('imdc_forum_list') }}">Forums</a> <span class="divider"><i class="fa fa-chevron-left"></i></span></li>
        <li><a href="{{ path('imdc_forum_view_specific', {'forumid' : thread.getParentForum.getId }) }}">{{ thread.getParentForum.getTitleText|truncate(20) }}</a> <span class="divider"><i class="fa fa-chevron-left"></i></span></li>
        <li class="active">{{ thread.title|truncate(30) }}</li>
    </ul>
</div>
{% endif %}
<h1>{{ thread.title }}</h1>
{% endblock herounit_wrap %}

{% block underherounitrow1 %}


<script type="text/javascript">
var postArray = new Array();
</script>

<div class="row-fluid" id="thread-container">
    <div class="span6" id="leftsidecontent">
    <!-- left side content -->
    
             {# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% following stuff %%%%%%%%%%%%%%%%%%% #}
    
     <div class="row-fluid">
         <div class="pull-right" id="thread-toolbox">
             <ul class="unstyled inline">
                 <li><a id="thread-report-link" href="#"><i class="fa fa-flag"></i> Report</a></li>
                 <li><a id="thread-follow-link" href="#"><i class="fa fa-paperclip"></i> Follow</a>
             </ul>
         </div>
     </div>
     
         {# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% end of following stuff %%%%%%%%%%%%%%%%%%% #}
         
         
         {# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%     thread owner stuff %%%%%%%%%%%%%%%%%%%%%%%%%% #}
         
    {% if app.user == thread.creator %}
    <div class="row-fluid">
        <div class="pull-left" id="thread-creator-toolbox">
            <ul class="unstyled inline">
                <li><a href="{{ path('imdc_thread_edit_specific', {'threadid':thread.id}) }}" class=""><i class="fa fa-scissors"></i> Edit</a></li>
                <li><a href="#" class=""><i class="fa fa-minus-circle"></i> Delete</a></li>
            </ul>
        </div>
    </div>
    {% endif %}
    
             {# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%  end thread owner stuff %%%%%%%%%%%%%%%%%%%%%%%%%% #}

     
        <div class="row-fluid text-center" id="mediaFileWrap">
    {% if thread.mediaIncluded|length != 0 %}
        {% set mediaFile = thread.mediaIncluded[0] %}
    {% endif %}
        
    {# mediatype 0 = image 1 = video 2 = audio 9 = other #}
    {% if mediaFile is not defined %}
        </div> <!-- /mediaFileWrap -->
    {% elseif mediaFile.type == 0 %}
    {# -------------------------   if type of media is an IMAGE   ------------------- #}
            <img class="thread-content-image" src="{{ asset(mediaFile.getResource.getWebPath) }}" />
            <p></p>
        </div> <!-- /mediaFileWrap div -->
    {# -------------------------   if type of media is a VIDEO   ---------------- #}
    {% elseif mediaFile.type == 1 %}
            <div class="thread-video-supplemental-controls-wrap">
                <ul class="unstyled supp-video-controls">
                    <li><a href="#" id="video-speed"><img src="{{ asset('bundles/imdcterptube/img/player/playback-speed-normal.png') }}" /></a></li>
                    <li><a href="#" id="closed-caption-button"><img src="{{ asset('bundles/imdcterptube/img/player/closedCaptioning.jpg') }}" /></a></li>
                </ul>
            
                <video class="preview" width="100%" id="{{ mediaFile.getID }}" preload="auto">
                	<source src="{{ asset(mediaFile.getResource.getWebPathWebm) }}"/>
                	<source src="{{ asset(mediaFile.getResource.getWebPath) }}"/>
                </video>
            </div>
            <script type="text/javascript">
            // {# this is required to pass twig stuff to js file #} //
            $(document).ready(function() {
                 var globalPlayer = createPlayer('#{{ mediaFile.getID }}', 
                    	                      '{{ asset('bundles/imdcterptube/img/player/add.png') }}',
                    	                      '#PostFormFromThread_startTime',
                    	                      '#PostFormFromThread_endTime'
                 );
                 initVideoSpeedFunction(document.getElementById("{{ mediaFile.getID }}"),
                		                '{{ asset('bundles/imdcterptube/img/player/playback-speed-normal.png') }}',
                		                '{{ asset('bundles/imdcterptube/img/player/playback-speed-fast.png') }}',
                		                '{{ asset('bundles/imdcterptube/img/player/playback-speed-slow.png') }}'
                 );
                 initVideoCaptioningFunction(document.getElementById("{{ mediaFile.getID }}"),
                		                '{{ asset('bundles/imdcterptube/img/player/closedCaptioning.jpg') }}',
                		                '{{ asset('bundles/imdcterptube/img/player/closedCaptioningDown.jpg') }}'
                 );
            });
            </script>
        </div> <!-- /mediaFileWrap div -->
    
    {% elseif mediaFile.type == 2 %}
    {# -----------------------------   if type of media is AUDIO   --------------------- #}
            <audio controls style="width: 100%">
                <source src="{{ asset(mediaFile.getResource.getWebPath) }}" />
                Your browser does not support the audio element, please upgrade to Google Chrome
            </audio>
        </div> <!-- /mediaFileWrap div -->
    {% endif %}
       <div class="row-fluid">
           <div class="span12" id="maincontent">
               {{ thread.content|nl2br }}
           </div>
        </div>
        {% if thread.editedBy is defined %}
        <div class="row-fluid">
            <span class="pull-right edited-text-span">Edited by {{ thread.editedBy }} on {{ thread.editedAt|date('o-m-N H:i') }}</span>
        </div>
        {% endif %}
        <div class="row-fluid" id="thread-creator-details">
            <div class="span12">
                {# include('IMDCTerpTubeBundle:Thread:smalluserinfo.html.twig') #}
                {% set member = thread.creator %}
                {% include('IMDCTerpTubeBundle:Member:infoBlock.html.twig') %}
           </div> <!-- /span12 -->
        </div> <!-- end of user-deets -->
   </div> <!-- end of leftsidecontent -->
    <div class="span6" id="rightsidecontent">
    <!-- right side content -->
    {# ------------------------------------------------ post reply form -------------------------------------------- #}
    {% if formerrors is defined %}
        <div class="row-fluid" id="reply-error-container">
            <div class="span12">
            <h4>The following errors are preventing you from making a comment</h4>
            <ul class="unstyled">
                {% for formerror in formerrors %}
                    <li>{{ formerror.message }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
    {% endif %}
      <div class="row-fluid" id="reply-container">
           <div class="span12">
               <p>
                   <a class="btn btn-info" id="post-comment-button" href="#"><i class="fa fa-plus"></i> Reply</a>
                   <div id="comment-form-wrap" style="display:none;" class="row-fluid">
{#                    TWIG FORM START #}
    				
				    {{ form_start(form, { 'attr' : {'id' : 'postCommentForm'} }) }}
				        {{ form_errors(form) }}
				        <a class="btn btn-primary" id="selectFiles" href="#"><i class="fa fa-cloud-upload"></i> Select Files</a>
				        {{ form_widget(form.mediatextarea, {'attr':{'class':'input-mini'}}) }}{{ form_errors(form.mediatextarea) }}
				        <div id="files"></div>
				{#         <input type="textarea" disabled="true" id="file-textarea" />#}
				{#         {{ form_row(form.mediaID) }}#}
						<div class="row-fluid">
							<div class="span12">
					        {{ form_row(form.content) }}
					        </div>
				        </div>
				        {% if form.startTime is defined %}
				        <div class="row-fluid">
					        <div class="span6">
					        {{ form_label(form.startTime) }}{{ form_widget(form.startTime) }}{{ form_errors(form.startTime) }}
					        </div>
					        <div class="span6">
					        {{ form_label(form.endTime) }}{{ form_widget(form.endTime) }}{{ form_errors(form.endTime) }}
					        </div>
				        </div>
				        {% endif %}
				        <div class="row-fluid">
{# 				        {{ form_widget(form.submit, {'attr' : {'class': 'btn btn-success',} }) }} <a class="btn btn-danger" href="#" id="cancelButton"><i class="fa fa-times"></i> Cancel</a>#}
				        <a id="post-comment-submit-button" class="btn btn-success"><i class="fa fa-check"></i> Submit</a> <a class="btn btn-danger" href="#" id="cancelButton"><i class="fa fa-times"></i> Cancel</a>
				        {{ form_widget(form.submit, {'attr' : {'class': 'btn btn-success',} }) }}
				        </div>
				    
				    {{ form_end(form) }}
                   
{#                    TWIG FORM END #}
                   </div>
               </p>
           </div>
       </div> <!-- end of reply-container -->
       
    {# ------------------------------------------------ end of post reply form ----------------------------------------------------- #}
       
    {# -------------------------------------------------- start of replies ---------------------------------------------------------- #}
    <div class="row-fluid" id="thread-reply-container">
    <div class="span11">
        {% if threadposts|length > 0 %}
            {% for post in threadposts %}
            
            <script type="text/javascript">
                var newpost = new post('{{ post.id }}',
                		               '{{ post.startTime }}',
                		               '{{ post.endTime }}',
                		               {{ post.isTemporal ? 'true' : 'false' }}          		               
                		               );
                postArray.push(newpost);
                console.log(newpost.color);
            </script>
            
            
            <p>
            <div class="row-fluid post-reply-wrap" id="post-{{ post.id }}-wrap" data-pid="{{ post.id }}">
                <div class="span2 post-reply-user-info-wrap">
                    <div class="row-fluid post-reply-user-avatar-wrap">
                        <img class="avatar" alt="avatar" title="" src="{{ post.author.getProfile.avatar ? asset(post.author.getProfile.avatar.getResource.getWebPath):asset('bundles/imdcterptube/img/no_avatar.jpg')}}" />
                    </div>
                    <div class="row-fluid text-center post-reply-user-info">
                        <a href="{{ path('imdc_terp_tube_user_profile_specific', {'userName':post.author.getUserName}) }}">{{ post.author }}</a>
                    </div>
                    <div class="row-fluid text-center post-reply-user-tools">
                        <ul class="unstyled inline thread-creator-tools-wrap">
                            <li>
                                {% if app.user.getId == post.author.getId %}
                                {% set thisistheuser = true %}
                                <i class="fa fa-envelope-o" style="color:lightgray"></i>
                                {% else %}
                                <a href="{{ path('imdc_message_user_specific', {'userid':post.author.getUserName()}) }}" title="Send a message to {{ post.author.getUserName }}"><i class="fa fa-envelope-o"></i></a>
                                {% endif %}
                            </li>
                            {#  ---------- friend section ---------------------- #}
                            <li>
                                {% if app.user.getId == post.author.getId %}
                                <i class="fa fa-user" style="color:lightgray" title="This is you"></i>
                                {% elseif app.user.isUserOnFriendsList(post.author) %}
                                <i class="fa fa-dot-circle-o" style="color:green" title="Already friends"></i>
                                {% else %}
                                <a href="{{ path('imdc_add_to_friends_list', {'userid':post.author.getId} ) }}" title="Click to add {{ post.author.getUserName }} to your friends list"><i class="fa fa-plus"></i></a>
                                {% endif %}
                            </li>
                            {#  ---------------- end friend section ---------------- #}
                       </ul>
                    </div> <!-- ./post-reply-user-tools -->
                    
{#                     {% if post.isTemporal %}#}
{#                     <div class="row-fluid temporal-post-wrap">#}
{#                         <div class="pull-right">#}
{#                             <a href="#" class="temporal-post-start-link" data-pid="{{ post.id }}" data-stime="{{ post.startTime }}" data-etime="{{ post.endTime }}"><i class="fa fa-arrow-left icon-2x"></i><i class="fa fa-clock fa-2x"></i></a>#}
{#                         </div>#}
{#                     </div>#}
{#                     {% endif %}#}
                    
                </div> <!-- /post-reply-user-info-wrap div -->
                <div class="span9 post-reply-avatar-content-wrap" data-pid="{{ post.id }}">
                    <div class="row-fluid">
                        <div class="pull-right post-reply-date">
                        {{ post.created|date('o-m-N H:i') }}
                        {% if post.editedBy is not null %}
                            (edited at {{ post.editedAt|date('o-m-N H:i') }} by {{ post.editedBy.getUsername }})
                        {% endif %}
                        </div>
                    </div>
                    <div class="row-fluid post-reply-content">
                    	{% if post.attachedFile is defined and post.attachedFile|length > 0 %}
						    {% set postMediaFile = post.attachedFile[0] %}
					    {% else %}
					    	{% set postMediaFile = none  %}
						{% endif %}
						    
						{# mediatype 0 = image 1 = video 2 = audio 9 = other #}
						{% if postMediaFile is not defined or postMediaFile is null %}
						    {# do nothing #}
						{% elseif postMediaFile.type == 0 %}
						{# -----------   if type of media is an IMAGE   -------- #}
						    <div class="row-fluid">
						    <img class="post-reply-image" src="{{ asset(postMediaFile.getResource.getWebPath) }}" />
						    </div>
						{# -----------   if type of media is a VIDEO   -------- #}
						{% elseif postMediaFile.type == 1 %}
						    {% set displayTestPostDensityBar = TRUE %}
					        <div class="row-fluid">
						        <video controls width="100%" id="{{ mediaFile.getID }}" preload="auto">
						        	<source src="{{ asset(postMediaFile.getResource.getWebPathWebm) }}"/>
						        	<source src="{{ asset(postMediaFile.getResource.getWebPath) }}"/>
						        </video>
					        </div>
						{% elseif postMediaFile.type == 2 %}
						{# -----------   if type of media is AUDIO   -------- #}
					        <div class="row-fluid">
						        <audio controls style="width: 100%">
						            <source src="{{ asset(postMediaFile.getResource.getWebPath) }}" />
						            Your browser does not support the audio element, please upgrade to Google Chrome
						        </audio>
					        </div>
						{% endif %}
						{# testing ---------------------------------- #}
						{% if post.startTime %}
						<div class="row-fluid div-video-timeline">
						    <div id="back-timeline">
						        <div class="front-comment-div" id="time-comment-{{ post.getId }}">
						            <script type="text/javascript">
						               $videoElement = $('video#{{ mediaFile.getId }}');
						               $timeComment = $("#time-comment-{{ post.getId }}");
							            
						               $videoElement[0].addEventListener('loadedmetadata', function(event) {
							               $duration = $videoElement[0].duration;
							               $timeComment = $("#time-comment-{{ post.getId }}");
// 						                   alert($duration);
							               startTimePercentage = ((100*{{ post.startTime }})/$duration).toFixed(2);
							               endTimePercentage = ((100*{{ post.endTime }})/$duration).toFixed(2);
							               widthPercentage = (endTimePercentage - startTimePercentage).toFixed(2);
							               
// 							               alert(startTimePercentage + ', ' + endTimePercentage);
							               
							               $timeComment.css('left', startTimePercentage + '%');
							               $timeComment.css('width', widthPercentage + '%');
							               $timeComment.css('background', 'red');
						               });

						               $timeComment.on('mouseover', function() {
							               $videoElement[0].currentTime = {{ post.startTime }};
						               });
						               
						            </script>
						        </div>
					        </div>
					        
						</div>
						{# end of testing --------------------------- #}
						{% endif %}
                    	<div class="row-fluid">
                        {{ post.content|nl2br }}
                        </div>
                    </div>
                </div> <!-- /post-reply-avatar-content-wrap div -->
                <div class="span1 pull-right" id="post-reply-tools">
                    <div class="row-fluid">
                        <ul class="unstyled">
                        	{% if post.isTemporal %}
                            <li><a href="#" class="temporal-post-start-link" data-pid="{{ post.id }}" data-stime="{{ post.startTime }}" data-etime="{{ post.endTime }}"><i class="fa fa-clock-o"></i></a></li>
                            {% endif %}
                            {% if post.author.getId == app.user.getId %}
{#                             <li><a data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="{{ path('imdc_post_delete_specific', {'postid':post.getId, 'threadid':thread.getid} ) }}"><i class="fa fa-trash-o"></i></a></li>#}
                            <li><a id="post-comment-edit" data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="{{ path('imdc_post_edit_specific', {'pid':post.getId} ) }}"><i class="fa fa-pencil"></i></a></li>
{#                             <li><a id="post-comment-delete" data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="#"><i class="fa fa-trash"></i></a></li>#}
                            <li><a id="post-comment-delete-modal" data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="#"><i class="fa fa-trash"></i></a></li>                            
                            {% endif %}
                        </ul>
                    </div>
                </div> <!-- /post-reply-tools -->
            </div>
            </p>
            {% endfor %}
        {% else %}
            <div class="span12">
                No posts yet!
            </div>
        {% endif %}
        </div>
        </div>
            {# ----------- end of replies --------------- #}
   </div> <!-- /rightsidecontent -->
</div> <!-- /thread-container -->

{% endblock underherounitrow1 %}
{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

{% block postfooteroutsidebody %}
{# <div id="dialog-confirm" title="Delete this comment?" style="display:none;">#}
{# 	<p style="line-height:150%;"><span class="ui-icon ui-icon-alert" style="float:left;margin:0 30px 50px 0;"></span>This will delete this comment permanently. Are you sure?</p>#}
{# </div>#}

<div id="modaldiv" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3><i class="fa fa-exclamation-triangle fa-2x"></i> Delete Post</h3>
  </div>
  <div class="modal-body">
    <p>This will delete this comment permanently.</p>
    <p>This action cannot be undone.</p>
    <p>Are you sure?</p>
  </div>
  <div class="modal-footer">
    <a id="modalCancelButton" href="#" data-dismiss="modal" class="btn"><i class="fa fa-times"></i> Cancel</a>
    <a id="modalDeleteButton" class="btn btn-danger" onclick="return confirmPostDelete()" href="#"><i class="fa fa-trash"></i> Delete</a>
  </div>
</div>
{% endblock postfooteroutsidebody %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/imdcterptube/js/thread.js') }}"></script>
{% endblock javascripts %}