{% extends 'IMDCTerpTubeBundle:Base:base.html.twig' %}

{% block title %}{{ thread.title|truncate(50) }}{% endblock %}

{% block header %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function() {
            {#require(['main'], function() {#}
                {#var thread = new $tt.Controller.Thread({#}
                    {#page: $tt.Controller.Thread.Page.VIEW,#}
                    {#threadId: {{ thread.id }}#}
                {#});#}
                {#thread.bindUIEvents();#}

                {#{% if thread.mediaIncluded|length != 0 %}#}
                    {#thread.createPlayer({#}
                        {#mediaElement: $("#{{ thread.mediaIncluded[0].getID }}"),#}
                        {#playHeadImage: "{{ asset('bundles/imdcterptube/img/player/add.png') }}",#}
                        {#speedImages: {#}
                            {#normal: "{{ asset('bundles/imdcterptube/img/player/playback-speed-normal.png') }}",#}
                            {#fast: "{{ asset('bundles/imdcterptube/img/player/playback-speed-fast.png') }}",#}
                            {#slow: "{{ asset('bundles/imdcterptube/img/player/playback-speed-slow.png') }}"#}
                        {#},#}
                        {#captionImages: {#}
                            {#off: "{{ asset('bundles/imdcterptube/img/player/closedCaptioning.jpg') }}",#}
                            {#on: "{{ asset('bundles/imdcterptube/img/player/closedCaptioningDown.jpg') }}"#}
                        {#}#}
                    {#});#}
                {#{% endif %}#}
            {#});#}

            //
            // following is layout specific. keep it here
            //
            var bodyPaddingTop = parseInt($("body").css("padding-top"), 10);
            var bodyPaddingBottom = parseInt($("body").css("padding-bottom"), 10);

            var replyContainerHeight;
            var plusHeight;
            var scrollTop = $("#threadOpContainer").offset().top - bodyPaddingTop;
            var lastReplyHeight = $("#threadReplyContainer div.tt-post-container").last().height();
            $("#threadReplyContainer div div").first().append("<div id=\"replyContainerSpacer\"></div>");

            $(window).on("scroll", function(e) {
                if ($(window).scrollTop() > scrollTop) {
                    $("#threadReplyContainer").css({
                        "top": $(window).scrollTop() - scrollTop,
                        "height": replyContainerHeight + scrollTop
                    });
                    $("#replyContainerSpacer").height(plusHeight);
                } else {
                    $("#threadReplyContainer").css({
                        "top": 0,
                        "height": replyContainerHeight + $(window).scrollTop()
                    });
                    $("#replyContainerSpacer").height(plusHeight - scrollTop);
                }
            });

            $(window).on("resize", function(e) {
                replyContainerHeight = $(window).height() - $("#threadOpContainer").offset().top - bodyPaddingBottom;
                plusHeight = replyContainerHeight - lastReplyHeight;

                $(window).trigger("scroll");
            });

            $(window).trigger("resize");
        });

        require([
            'bootstrap',
            'model/threadModel', 'controller/threadController', 'views/thread/viewView',
            'model/postModel', 'controller/postController', 'views/post/viewView',
            'main'
        ], function(bootstrap, ThreadModel, ThreadController, ThreadView, PostModel, PostController, PostView) {
            bootstrap(
                    new ThreadModel({
                        id: {{ thread.id }}
                    }),
                    ThreadController,
                    ThreadView,
                    {
                        container: $("#threadOpContainer"),
                        player: {
                            mediaElement: $("#{{ thread.mediaIncluded[0].getID }}"),
                            playHeadImage: "{{ asset('bundles/imdcterptube/img/player/add.png') }}",
                            speedImages: {
                                normal: "{{ asset('bundles/imdcterptube/img/player/playback-speed-normal.png') }}",
                                fast: "{{ asset('bundles/imdcterptube/img/player/playback-speed-fast.png') }}",
                                slow: "{{ asset('bundles/imdcterptube/img/player/playback-speed-slow.png') }}"
                            },
                            captionImages: {
                                off: "{{ asset('bundles/imdcterptube/img/player/closedCaptioning.jpg') }}",
                                on: "{{ asset('bundles/imdcterptube/img/player/closedCaptioningDown.jpg') }}"
                            }
                        }
                    }
            );

            $(PostView.Binder.CONTAINER).each(function(index, element) {
                bootstrap(
                        new PostModel({
                            id: $(element).data("pid"),
                            startTime: $(element).data("starttime"),
                            endTime: $(element).data("endtime"),
                            isTemporal: $(element).data("istemporal"),
                            threadId: {{ thread.id }}
                        }),
                        PostController,
                        PostView,
                        {}
                );
            });
        });
    </script>
{% endblock header %}

{% block sidebarlinks_pages %}class="active"{% endblock %}

{% block content %}
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li><a href="{{ path('imdc_forum_list') }}">Forums</a></li>
			<li><a href="{{ path('imdc_forum_view', {'forumid': thread.getParentForum.getId }) }}">{{ thread.getParentForum.getTitleText|truncate(20) }}</a></li>
			<li class="active">{{ thread.title|truncate(30) }}</li>
		</ol>
		<div class="row">
			<!-- left side -->
			<div class="col-md-5 tt-thread-op-container" id="threadOpContainer">
				<div class="row">
					<!-- thread owner controls -->
					<div class="col-md-6 pull-left">
						<ul class="list-unstyled list-inline">
							{% if app.user == thread.creator %}
								<li><a href="{{ path('imdc_thread_edit', {'threadid': thread.id}) }}"><i class="fa fa-scissors"></i> Edit</a></li>
							{% endif %}
							<li>{% include 'IMDCTerpTubeBundle:Base:permissionIcons.html.twig' with {'object': thread} %}</li>
						</ul>
					</div>
					<!-- post controls -->
					<div class="col-md-6 pull-right text-right">
						<ul class="list-unstyled list-inline">
							<li><a href="#"><i class="fa fa-flag"></i> Report</a></li>
							<li><a href="#"><i class="fa fa-paperclip"></i> Follow</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{% if thread.mediaIncluded|length != 0 %}
							{% include 'IMDCTerpTubeBundle:Thread:mediaElement.html.twig' with {'mediaFile': thread.mediaIncluded[0], 'preloadMedia': true} %}
						{% else %}
							<div class="lead text-center" style="padding-top: 30px;">No Media</div>
						{% endif %}
					</div>
				</div>
                {#{% set post = {'id': -1} %}#}
                {#<div class="post-container" data-pid="{{ post.id }}">#}
                    <!-- post reply form -->
                    {#<div class="row post-container-reply" data-pid="{{ post.id }}">#}
                        {#{% include 'IMDCTerpTubeBundle:Post:ajax.reply.html.twig' with {'post': post} %}#}
                        {% set newPost = {id: '0' ~ random()} %}
                        {% include 'IMDCTerpTubeBundle:Post:reply.html.twig' %}
                    {#</div>#}
                {#</div>#}
				<div class="row">
					<div class="col-md-12">
						<h1>{{ thread.title }}</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p class="tt-thread-content">{{ thread.content|nl2br }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<ul class="list-unstyled">
							<li><span class="tt-date" title="{{ thread.creationDate|date('Y-m-d g:i a') }}">Created {{ time_diff(thread.creationDate)}}</span></li>
							{% if thread.editedBy %}
								<li><span class="tt-date" title="{{ thread.editedAt|date('Y-m-d g:i a') }}">Edited by {{ thread.editedBy }} {{ time_diff(thread.editedAt) }}</span></li>
							{% endif %}
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						{% include 'IMDCTerpTubeBundle:Member:infoBlock.html.twig' with {'member': thread.creator} %}
					</div>
				</div>
			</div>
			<!-- right side -->
			<div class="col-md-7 tt-thread-reply-container" id="threadReplyContainer">
                <!-- thread replies -->
				<div class="row">
					<div class="col-md-12">
                        {% if thread.posts|length > 0 %}
                            {% for post in thread.posts if not post.parentPost %}
                                {#<div style="border: 1px solid #ddd; border-collapse: collapse; border-radius: 4px; margin-bottom: 15px; padding-bottom: 15px;">#}
                                    {% include 'IMDCTerpTubeBundle:Post:view.html.twig' %}
                                    <!-- replies to post -->
                                    {% for postReply in post.replies %}
                                        {% include 'IMDCTerpTubeBundle:Post:view.html.twig' with {'post': postReply} %}
                                    {% endfor %}
                                {#</div>#}
                            {% endfor %}
                            {#<div class="modal fade post-delete-modal">#}
                                {#<div class="modal-dialog">#}
                                    {#<div class="modal-content">#}
                                        {#<div class="modal-header">#}
                                            {#<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>#}
                                            {#<h4 class="modal-title">Delete this post</h4>#}
                                        {#</div>#}
                                        {#<div class="modal-body text-center">#}
                                            {#<p>#}
                                                {#This post will be permanently deleted.<br />#}
                                                {#This action cannot be undone.<br />#}
                                                {#Are you sure?#}
                                            {#</p>#}
                                        {#</div>#}
                                        {#<div class="modal-footer">#}
                                            {#<a class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</a>#}
                                            {#<a class="btn btn-danger post-delete" data-loading-text="<i class=&quot;fa fa-spinner fa-spin&quot;></i> Deleting..."><i class="fa fa-trash-o"></i> Delete</a>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                        {% else %}
                            <div class="lead text-center" style="padding-top: 30px;">No replies yet!</div>
                        {% endif %}
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock content %}
