{% extends "IMDCTerpTubeBundle:Default:basetemplate.html.twig" %}

{% trans_default_domain 'IMDCTerpTubeBundle' %}

{% block title %}{{ thread.title|truncate(50) }}{% endblock title %}

{% block stylesheets %}
    {{  parent() }}

    <link href="{{ asset('bundles/imdcterptube/css/thread.css') }}" rel="stylesheet" />
{% endblock stylesheets %}

{% block headerjavascripts %}
	{{ parent() }}

    <script type="text/javascript" src="{{ asset('bundles/imdcterptube/js/player/post.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/imdcterptube/js/thread.js') }}"></script>
	<script type="text/javascript" src="{{ asset('bundles/imdcterptube/js/post.js') }}"></script>
{% endblock headerjavascripts %}

{% block sidebarlinks_pages %}class="active"{% endblock %}

{% block herounit_wrap %}
	{% if thread.getParentForum %}
		<div class="col-md-12">
			<ol class="breadcrumb">
		        <li><a href="{{ path('imdc_forum_list') }}">Forums</a></li>
		        <li><a href="{{ path('imdc_forum_view_specific', {'forumid' : thread.getParentForum.getId }) }}">{{ thread.getParentForum.getTitleText|truncate(20) }}</a></li>
		        <li class="active">{{ thread.title|truncate(30) }}</li>
			</ol>
		</div>
	{% endif %}

	{# <h1>{{ thread.title }}</h1> #}
{% endblock herounit_wrap %}

{% block underherounitrow1 %}
	<script type="text/javascript">
		var postArray = new Array();
	</script>

	<div class="container-fluid">
		<div class="row">
			<!-- left side content -->
	    	<div class="col-md-5">
				<div class="row">
					{# %%%%%%%%%%%%%%%%%%%%%%%%%%%%% thread owner stuff %%%%%%%%%%%%%%%%%%%%%%%%%% #}
					<div class="col-md-6 pull-left">
						<ul class="list-unstyled list-inline">
							{% if app.user == thread.creator %}
								<li><a href="{{ path('imdc_thread_edit_specific', {'threadid':thread.id}) }}" class=""><i class="fa fa-scissors" style="margin-right: 5px;"></i>Edit</a></li>
								<li><a href="{{ path('imdc_thread_delete', {'threadid':thread.id}) }}" class=""><i class="fa fa-minus-circle" style="margin-right: 5px;"></i>Delete</a></li>
							{% endif %}
	
							{% set threadPermission = thread.getPermissions.accessLevel %}
							<li>{% include 'IMDCTerpTubeBundle:Permissions:permissionIcons.html.twig' %}</li>
						</ul>
					</div> <!-- /.col-md-6 /.pull-left -->
					{# %%%%%%%%%%%%%%%%%%%%%%%%%%%%% end thread owner stuff %%%%%%%%%%%%%%%%%%%%%%%%%% #}
	
					{# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% following stuff %%%%%%%%%%%%%%%%%%% #}
					<div class="col-md-6 pull-right text-right">
						<ul class="list-unstyled list-inline">
							<li><a href="#"><i class="fa fa-flag fa-text-link"></i>Report</a></li>
							<li><a href="#"><i class="fa fa-paperclip fa-text-link"></i>Follow</a>
						</ul>
					</div>
					{# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% end of following stuff %%%%%%%%%%%%%%%%%%% #}
				</div>
	
				{% if thread.mediaIncluded|length != 0 %}
					{% set mediaFile = thread.mediaIncluded[0] %}
				{% endif %}
	
				{% include 'IMDCTerpTubeBundle:Media:postMediaElement.html.twig' %}
			</div> <!-- end of leftsidecontent -->

			{# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% #}

			{# ------------------------------------------------- start of right side content --------------------------------------#}

			<!-- right side content -->
			<div class="col-md-7">
				{# ------------------------------------------------ post reply form -------------------------------------------- #}

				{% if formerrors is defined %}
					<div class="row">
						<div class="col-md-12">
							<h4>The following errors are preventing you from making a comment</h4>
							<ul class="list-unstyled">
								{% for formerror in formerrors %}
									<li>{{ formerror.message }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				{% endif %}

				<div class="row">
					<div class="col-md-12">
						<!-- <div class="row">
							<div class="col-md-12">
								<a class="btn btn-large btn-success" id="post-comment-button" href="#"><i class="fa fa-plus"></i> Create a reply</a>
							</div>
						</div> -->

						<div class="row" id="comment-form-wrap" style="padding-bottom: 10px;">
							<div class="col-md-12">
								{#                    TWIG FORM START                    #}

								{{ form_start(form, { 'attr' : {'id': 'postCommentForm'} }) }}

								<div class="row">
									{{ form_errors(form) }}
								</div>

								{{ include('IMDCTerpTubeBundle:AddFileGateway:mediaChooserForm.html.twig') }}
								{# <input type="textarea" disabled="true" id="file-textarea" /> #}
								{# {{ form_row(form.mediaID) }} #}
								<div class="row">
									<div class="col-md-12">
										{% if form.startTime is defined %}
											<ul class="list-unstyled list-inline">
												<li>{{ form_label(form.startTime) }}</li><li>{{ form_widget(form.startTime, {'attr':{'class':'input-mini'}}) }}{{ form_errors(form.startTime) }}</li>
												<li>{{ form_label(form.endTime) }}</li><li>{{ form_widget(form.endTime, {'attr':{'class':'input-mini'}}) }}{{ form_errors(form.endTime) }}</li>
											</ul>
										{% endif %}
									</div>
								</div>
								{# {% if form.startTime is defined %} #}
								{# <div class="row"> #}
									{# <div class="col-md-6"> #}
										{# {{ form_label(form.startTime) }}{{ form_widget(form.startTime) }}{{ form_errors(form.startTime) }} #}
									{# </div> #}
									{# <div class="col-md-6"> #}
										{# {{ form_label(form.endTime) }}{{ form_widget(form.endTime) }}{{ form_errors(form.endTime) }} #}
									{# </div> #}
								{# </div> #}
								{# {% endif %} #}

								<div class="row">
									<div class="col-md-12">
										{{ form_row(form.content, { 'attr': { 'class': 'autosize' } }) }}
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										{# {{ form_widget(form.submit, {'attr' : {'class': 'btn btn-success',} }) }} <a class="btn btn-danger" href="#" id="cancelButton"><i class="fa fa-times"></i> Cancel</a>#}
										<a class="btn btn-success" id="post-comment-submit-button"><i class="fa fa-check"></i> Submit</a>
										<!-- <a class="btn btn-danger" href="#" id="cancelButton"><i class="fa fa-times"></i> Cancel</a> -->
										{# {{ form_widget(form.submit, {'attr' : {'class': 'btn btn-success',} }) }} #}
									</div>
								</div>

								{{ form_end(form) }}

								{#                    TWIG FORM END                    #}
							</div>
						</div>
					</div>
				</div> <!-- end of reply-container -->

				{# ------------------------------------------------ end of post reply form ----------------------------------------------------- #}

				{# -------------------------------------------------- start of replies ---------------------------------------------------------- #}

				<div class="row" id="thread-reply-container">
					{% if threadposts|length > 0 %}
						<div class="col-md-12">
							<script type="text/javascript">
								var authorColors = new Array();
							</script>

							{% for post in threadposts %}
								<script type="text/javascript">
									var options = new Array();

									if (typeof authorColors['{{ post.author.getId }}'] === 'undefined')
									{
										authorColors['{{ post.author.getId }}'] = Player.getRandomColor();
									}

									options.color =  authorColors['{{ post.author.getId }}'];
									options.drawOnTimeLine = {{ post.isTemporal ? 'true' : 'false' }};

									var newpost = new KeyPoint('{{ post.id }}',
											'{{ post.startTime }}',
											'{{ post.endTime }}',
											'comment',
											options
									);

									postArray.push(newpost);
									console.log(newpost.color);
								</script>

								<p>
									<div class="row post-reply-wrap" id="post-{{ post.id }}-wrap" data-pid="{{ post.id }}">
										<div class="col-md-12">
											<div class="row post-reply-inner-wrap">
												<div class="col-md-2 post-reply-user-info-wrap">
													<div class="row post-reply-user-avatar-wrap">
														<div class="col-md-12">
															<img class="img-responsive center-block avatar" alt="avatar" title="" src="{{ post.author.getProfile.avatar ? asset(post.author.getProfile.avatar.getResource.getWebPath) : asset('bundles/imdcterptube/img/no_avatar.jpg')}}" />
														</div>
													</div>

													<div class="row text-center post-reply-user-info">
														<div class="col-md-12">
															<a href="{{ path('imdc_terp_tube_user_profile_specific', {'userName':post.author.getUserName}) }}">{{ post.author }}</a>
														</div>
													</div>

													<div class="row text-center post-reply-user-tools">
														<div class="col-md-12">
															<ul class="list-unstyled list-inline thread-creator-tools-wrap">
																<li>
																	{% if app.user.getId == post.author.getId %}
																		{% set thisistheuser = true %}
																		<i class="fa fa-envelope-o" style="color:lightgray"></i>
																	{% else %}
																		<a href="{{ path('imdc_message_user_specific', {'userid':post.author.getUserName()}) }}" title="Send a message to {{ post.author.getUserName }}"><i class="fa fa-envelope-o"></i></a>
																	{% endif %}
																</li>
	
																{#  ---------- friend section ---------------------- #}
																<li>
																	{% if app.user.getId == post.author.getId %}
																		<i class="fa fa-user" style="color:lightgray" title="This is you"></i>
																	{% elseif app.user.isUserOnFriendsList(post.author) %}
																		<i class="fa fa-group" style="color:green" title="Already friends"></i>
																	{% else %}
																		<a href="{{ path('imdc_add_to_friends_list', {'userid':post.author.getId} ) }}" title="Click to add {{ post.author.getUserName }} to your friends list"><i class="fa fa-plus"></i></a>
																	{% endif %}
																</li>
																{#  ---------------- end friend section ---------------- #}
															</ul>
														</div>
													</div> <!-- ./post-reply-user-tools -->

													{# {% if post.isTemporal %} #}
														{# <div class="row temporal-post-wrap"> #}
															{# <div class="pull-right"> #}
																{# <a href="#" class="temporal-post-start-link" data-pid="{{ post.id }}" data-stime="{{ post.startTime }}" data-etime="{{ post.endTime }}"><i class="fa fa-arrow-left icon-2x"></i><i class="fa fa-clock fa-2x"></i></a> #}
															{# </div> #}
														{# </div> #}
													{# {% endif %} #}

												</div> <!-- /post-reply-user-info-wrap div -->

												<div class="col-md-9 post-reply-content-wrap" data-pid="{{ post.id }}">
													<div class="row" style="margin-bottom: 10px;">
														<div class="col-md-2 col-md-offset-10 pull-right post-reply-date">
															{{ post.created|date('o-m-N H:i') }}
															{% if post.editedBy is not null %}
																(edited at {{ post.editedAt|date('o-m-N H:i') }} by {{ post.editedBy.getUsername }})
															{% endif %}
														</div>
													</div>

													<div class="row post-reply-content" id="containerPost{{ post.id }}">
														{% include 'IMDCTerpTubeBundle:Media:postCommentMediaElement.html.twig' %}
													</div> <!--  /.post-reply-content -->

													<div class="row" id="containerEditPost{{ post.id }}" style="display: none;"></div>
												</div> <!-- /post-reply-avatar-content-wrap div -->

												<div class="col-md-1 pull-right">
													<ul class="list-unstyled">
														{% if post.isTemporal %}
															<li><a href="#" class="temporal-post-start-link" title="Jump to selected timeline region" data-pid="{{ post.id }}" data-stime="{{ post.startTime }}" data-etime="{{ post.endTime }}"><i class="fa fa-clock-o"></i></a></li>
														{% endif %}

														{% if post.author.getId == app.user.getId %}
															{# <li><a data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="{{ path('imdc_post_delete_specific', {'postid':post.getId, 'threadid':thread.getid} ) }}"><i class="fa fa-trash-o"></i></a></li> #}
															<li><a class="post-comment-edit" title="Edit this post" data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="#"><i class="fa fa-pencil"></i></a></li>
															{# <li><a id="post-comment-delete" data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="#"><i class="fa fa-trash"></i></a></li> #}
															<li><a class="post-comment-delete-modal" title="Delete this post" data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="#"><i class="fa fa-trash-o"></i></a></li>                            
														{% endif %}

														{# <li><a class="post-comment-reply" title="Reply to this post" data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="#"><i class="fa fa-reply"></i></a></li> #}
													</ul>
												</div> <!-- /post-reply-tools -->
											</div>

											<div class="row reply-row-test">
												<div class="col-md-1 col-md-offset-11">
													<a class="post-comment-reply" title="Reply to this post" data-pid="{{ post.getId }}" data-tid="{{ thread.getId }}" href="#"><i class="fa fa-reply fa-rotate-180 fa-lg"></i></a>
												</div>
											</div> <!-- ./reply-row-test -->

											{####################        ******************* POST REPLIES   *******************     ######################}
											{% for postReply in post.replies %}
												<div class="row">
													{% include 'IMDCTerpTubeBundle:Post:commentReplies.html.twig' %}
												</div>
											{% endfor %}
											{####################    END OF PRINTING POST REPLIES        ######################}
										</div> <!-- ./post-reply-wrap -->
									</div>
								</p>
							{% endfor %}
						</div> <!-- /.col-md-12 -->
					{% else %}
						<div class="lead text-center" style="padding-top: 30px;">No replies yet!</div>
					{% endif %}
				</div> <!-- /#thread-reply-container -->
	            {# ----------- end of replies --------------- #}
			</div> <!-- /rightsidecontent -->
		</div> <!-- /thread-container -->
	</div>
{% endblock underherounitrow1 %}

{% block underherounitrow2 %}
{% endblock underherounitrow2 %}

{% block postfooteroutsidebody %}
	{# <div id="dialog-confirm" title="Delete this comment?" style="display:none;"> #}
		{# <p style="line-height:150%;"><span class="ui-icon ui-icon-alert" style="float:left;margin:0 30px 50px 0;"></span>This will delete this comment permanently. Are you sure?</p> #}
	{# </div> #}

	<div class="modal fade" id="modaldiv">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3><i class="fa fa-exclamation-triangle fa-2x"></i> Delete Post</h3>
				</div>
				<div class="modal-body">
					<p>This will delete this comment permanently.</p>
					<p>This action cannot be undone.</p>
					<p>Are you sure?</p>
				</div>
				<div class="modal-footer">
					<a class="btn btn-default" id="modalCancelButton" href="#" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</a>
					<a class="btn btn-danger" id="modalDeleteButton" onclick="return confirmPostDelete()" href="#"><i class="fa fa-trash"></i> Delete</a>
				</div>
			</div>
		</div>
	</div>

	<div id="uploadForms" style="display: none;">
		{% for form in uploadForms %}
			{{ form_start(form) }}
			{{ form_widget(form) }}
			{{ form_end(form) }}
		{% endfor %}
	</div>
{% endblock postfooteroutsidebody %}
